{% load i18n %}

<div id="librarian-data-sources"
     {% if swap %}hx-swap-oob="true"{% endif %}>
  <h6 id="data-sources-label">{% trans "Data sources" %}</h6>
  {% if not selected_library or not selected_library.id %}
    <div class="text-center">
      <em class="small">{% trans "Select a library to edit data sources." %}</em>
    </div>
  {% else %}
    <button type="button"
            class="btn btn-sm btn-outline-dark ps-1 mb-3"
            hx-get="{% url 'librarian:modal_create_from' item_type='data_source' parent_id=selected_library.id %}">
      <i class="bi bi-plus"></i> {% trans "New data source" %}
    </button>
    {% if data_sources %}
      {% include "librarian/components/items_list.html" with items=data_sources selected_item=selected_data_source listbox_label="data-sources-label" item_type="data_source" %}
    {% else %}
      <div class="text-center">
        <em class="small">{% trans "No data sources in this library." %}</em>
      </div>
    {% endif %}
  {% endif %}
</div>
