{% load i18n %}
{% load rules %}

<div id="librarian-documents" {% if swap %}hx-swap-oob="true"{% endif %}>
  <h6 id="documents-label">{% trans "Documents" %}</h6>
  {% if not selected_data_source or not selected_data_source.id %}
    <div class="text-center">
      <em class="small">{% trans "Select a folder to view documents." %}</em>
    </div>
  {% else %}
    {% has_perm 'librarian.edit_data_source' user selected_data_source as can_edit_data_source %}
    {% if not selected_library.is_personal_library and can_edit_data_source %}
      <div class="row mb-2">
        <div class="col pe-0">
          <button type="button"
                  class="btn btn-sm btn-outline-dark w-100"
                  onclick="document.querySelector('#id_librarian-input_file').click();">
            <i class="bi bi-upload"></i> {% trans "Upload" %}
          </button>
        </div>
        <div class="col ps-2">
          <button type="button"
                  class="btn btn-sm btn-outline-dark w-100"
                  hx-get="{% url 'librarian:modal_create_document' data_source_id=selected_data_source.id %}">
            <i class="bi bi-link"></i> {% trans "Add URL" %}
          </button>
        </div>
      </div>
    {% endif %}
    {% if can_edit_data_source %}
      <div class="row mb-2 g-2">
        <div class="col">
          <div class="btn-group w-100">
            <button type="button"
                    class="btn btn-sm btn-outline-success dropdown-toggle"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">{% trans "Bulk actions" %}</button>
            <ul class="dropdown-menu">
              <li>
                <h6 class="dropdown-header">{% trans "Process all, including completed" %}</h6>
              </li>
              <li>
                <a class="dropdown-item small"
                   href="#"
                   hx-get="{% url 'librarian:data_source_start' selected_data_source.id 'default' 'all' %}">
                  <span>{% trans "Text only" %}</span>
                  <span class="text-muted">{% trans "(fastest, $)" %}</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item small"
                   href="#"
                   hx-get="{% url 'librarian:data_source_start' selected_data_source.id 'layout' 'all' %}">
                  <span>{% trans "PDF layout" %}</span>
                  <span class="text-muted">{% trans "(keeps formatting, $)" %}</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item small"
                   href="#"
                   hx-get="{% url 'librarian:data_source_start' selected_data_source.id 'azure_read' 'all' %}">
                  <span>{% trans "PDF OCR" %}</span>
                  <span class="text-muted">{% trans "(for scans, $$)" %}</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item small"
                   href="#"
                   hx-get="{% url 'librarian:data_source_start' selected_data_source.id 'azure_layout' 'all' %}">
                  <span>{% trans "PDF layout & OCR" %}</span>
                  <span class="text-muted">{% trans "(for complex scans, $$$)" %}</span>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <h6 class="dropdown-header">{% trans "Process incomplete only" %}</h6>
              </li>
              <li>
                <a class="dropdown-item small"
                   href="#"
                   hx-get="{% url 'librarian:data_source_start' selected_data_source.id 'default' 'incomplete' %}">
                  <span>{% trans "Text only" %}</span>
                  <span class="text-muted">{% trans "(fastest, $)" %}</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item small"
                   href="#"
                   hx-get="{% url 'librarian:data_source_start' selected_data_source.id 'layout' 'incomplete' %}">
                  <span>{% trans "PDF layout" %}</span>
                  <span class="text-muted">{% trans "(keeps formatting, $)" %}</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item small"
                   href="#"
                   hx-get="{% url 'librarian:data_source_start' selected_data_source.id 'azure_read' 'incomplete' %}">
                  <span>{% trans "PDF OCR" %}</span>
                  <span class="text-muted">{% trans "(for scans, $$)" %}</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item small"
                   href="#"
                   hx-get="{% url 'librarian:data_source_start' selected_data_source.id 'azure_layout' 'incomplete' %}">
                  <span>{% trans "PDF layout & OCR" %}</span>
                  <span class="text-muted">{% trans "(for complex scans, $$$)" %}</span>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item small"
                   href="#"
                   hx-get="{% url 'librarian:data_source_stop' selected_data_source.id %}">
                  <span>{% trans "Stop all processing" %}</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-auto">
          <div class="btn-group w-100">
            <button type="button"
                    class="btn btn-sm btn-outline-success dropdown-toggle"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">{% trans "Sort" %}</button>
            <ul class="dropdown-menu">

              <li>
                <a class="dropdown-item small"
                   href="#"
                   hx-get="{% url 'librarian:sort_date' selected_data_source.id %}">
                  <span>{% trans "Date" %}</span>

                </a>
              </li>
              <li>
                <a class="dropdown-item small"
                   href="#"
                   hx-get="{% url 'librarian:sort_filename' selected_data_source.id %}">
                  <span>{% trans "Filename" %}</span>

                </a>
              </li>
              <li>
                <a class="dropdown-item small"
                   href="#"
                   hx-get="{% url 'librarian:sort_filetype' selected_data_source.id %}">
                  <span>{% trans "Filetype" %}</span>

                </a>
              </li>
              <li>
                <a class="dropdown-item small"
                   href="#"
                   hx-get="{% url 'librarian:sort_chunks' selected_data_source.id %}">
                  <span>{% trans "#Chunks/size" %}</span>

                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col">
          <div class="input-group input-group-sm w-100">

            <input type="text"
                   class="form-control border-success border-end-0"
                   placeholder="{% trans 'Search' %}"
                   aria-label="{% trans 'Search' %}"
                   id="librarian-search-input"
                   name="search"
                   autocomplete="off">
            <button class="input-group-text bg-white border-success border-start-0"
                    type="submit"
                    style="border-left: 0">
              <i class="bi bi-search small"></i>
            </button>
          </div>
        </div>
      </div>
    {% endif %}
    {% include "librarian/components/document_list_inner.html" %}
  {% endif %}
</div>
