{% load i18n %}

<div id="librarian-documents" {% if swap %}hx-swap-oob="true"{% endif %}>
  <h6 id="documents-label">{% trans "Documents" %}</h6>
  {% if not selected_data_source or not selected_data_source.id %}
    <div class="text-center">
      <em class="small">{% trans "Select a data source to edit documents." %}</em>
    </div>
  {% else %}
    <div class="row mb-1">
      <div class="col pe-0">
        <form enctype="multipart/form-data"
              id="document-upload-form"
              hx-post="{% url 'librarian:upload' selected_data_source.id %}"
              hx-trigger="change"
              class="d-none">
          <input type="file" name="file" id="document-file-input" multiple>
        </form>
        <button type="button"
                class="btn btn-sm btn-outline-dark w-100"
                onclick="document.querySelectorAll('#librarian-documents li.temp').forEach((el)=>{el.remove()}); document.querySelector('#document-file-input').value=null; document.querySelector('#document-file-input').click(); ">
          <i class="bi bi-upload"></i> {% trans "Upload" %}
        </button>
      </div>
      <div class="col ps-2">
        <button type="button"
                class="btn btn-sm btn-outline-dark w-100"
                hx-get="{% url 'librarian:modal_create_document' data_source_id=selected_data_source.id %}">
          <i class="bi bi-link"></i> {% trans "Add URL" %}
        </button>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col pe-0">
        <button type="button"
                class="btn btn-sm btn-outline-warning w-100"
                hx-get="{% url 'librarian:data_source_stop' selected_data_source.id %}">{% trans "Stop all" %}</button>
      </div>
      <div class="col ps-1 pe-0">
        <button type="button"
                class="btn btn-sm btn-outline-success w-100"
                hx-get="{% url 'librarian:data_source_start' selected_data_source.id %}">
          {% trans "Re-process all" %}
        </button>
      </div>
      <div class="col ps-1">
        <button type="button"
                class="btn btn-sm btn-outline-success w-100"
                hx-get="{% url 'librarian:data_source_start_azure' selected_data_source.id %}">
          {% trans "Force OCR all" %}
        </button>
      </div>
 
    </div>
    {% if documents %}
      {% include "librarian/components/items_list.html" with items=documents selected_item=selected_document listbox_label="documents-label" item_type="document" %}
    {% else %}
      <div class="text-center">
        <em class="small">{% trans "No documents in this data source." %}</em>
      </div>
    {% endif %}
  {% endif %}
</div>
