{% load i18n %}

<div id="librarian-documents" {% if swap %}hx-swap-oob="true"{% endif %}>
  <h6 id="documents-label">{% trans "Documents" %}</h6>
  {% if not selected_data_source or not selected_data_source.id %}
    <div class="text-center">
      <em class="small">{% trans "Select a folder to edit documents." %}</em>
    </div>
  {% else %}
    {% if not selected_library.is_personal_library %}
      <div class="row mb-2">
        <div class="col pe-0">
          <button type="button"
                  class="btn btn-sm btn-outline-dark w-100"
                  onclick="document.querySelector('#id_librarian-input_file').click();">
            <i class="bi bi-upload"></i> {% trans "Upload" %}
          </button>
        </div>
        <div class="col ps-2">
          <button type="button"
                  class="btn btn-sm btn-outline-dark w-100"
                  hx-get="{% url 'librarian:modal_create_document' data_source_id=selected_data_source.id %}">
            <i class="bi bi-link"></i> {% trans "Add URL" %}
          </button>
        </div>
      </div>
    {% endif %}
    <div class="row mb-2">
      <div class="col">
        <div class="btn-group w-100">
          <button type="button"
                  class="btn btn-sm btn-outline-success dropdown-toggle"
                  data-bs-toggle="dropdown"
                  aria-expanded="false">{% trans "Bulk actions" %}</button>
          <ul class="dropdown-menu">
            <li>
              <h6 class="dropdown-header">{% trans "Process all, including completed" %}</h6>
            </li>
            <li>
              <a class="dropdown-item small"
                 href="#"
                 hx-get="{% url 'librarian:data_source_start' selected_data_source.id 'default' 'all' %}">
                <span>{% trans "Text only" %}</span>
                <span class="text-muted">{% trans "(default, $)" %}</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item small"
                 href="#"
                 hx-get="{% url 'librarian:data_source_start' selected_data_source.id 'azure_read' 'all' %}">
                <span>{% trans "PDF OCR" %}</span>
                <span class="text-muted">{% trans "(more robust, $$)" %}</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item small"
                 href="#"
                 hx-get="{% url 'librarian:data_source_start' selected_data_source.id 'azure_layout' 'all' %}">
                <span>{% trans "PDF layout & OCR" %}</span>
                <span class="text-muted">{% trans "(best, $$$)" %}</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <h6 class="dropdown-header">{% trans "Process incomplete only" %}</h6>
            </li>
            <li>
              <a class="dropdown-item small"
                 href="#"
                 hx-get="{% url 'librarian:data_source_start' selected_data_source.id 'default' 'incomplete' %}">
                <span>{% trans "Text only" %}</span>
                <span class="text-muted">{% trans "(default, $)" %}</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item small"
                 href="#"
                 hx-get="{% url 'librarian:data_source_start' selected_data_source.id 'azure_read' 'incomplete' %}">
                <span>{% trans "PDF OCR" %}</span>
                <span class="text-muted">{% trans "(more robust, $$)" %}</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item small"
                 href="#"
                 hx-get="{% url 'librarian:data_source_start' selected_data_source.id 'azure_layout' 'incomplete' %}">
                <span>{% trans "PDF layout & OCR" %}</span>
                <span class="text-muted">{% trans "(best, $$$)" %}</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item small"
                 href="#"
                 hx-get="{% url 'librarian:data_source_stop' selected_data_source.id %}">
                <span>{% trans "Stop all processing" %}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {% include "librarian/components/document_list_inner.html" %}
  {% endif %}
</div>
