{% load i18n %}

<div id="librarian-libraries" {% if swap %}hx-swap-oob="true"{% endif %}>
  <h6 id="libraries-label">{% trans "Libraries" %}</h6>
  <button type="button"
          class="btn btn-sm btn-outline-dark ps-1 mb-3"
          hx-get="{% url 'librarian:modal_create_library' %}">
    <i class="bi bi-plus"></i> {% trans "New library" %}
  </button>

  {% if editable_libraries %}
    <div class="mb-3">
      <h6 class="small text-muted mb-2">{% trans "Editable Libraries" %}</h6>
      {% include "librarian/components/items_list.html" with items=editable_libraries selected_item=selected_library listbox_label="libraries-label" item_type="library" %}
    </div>
  {% endif %}

  {% if view_only_libraries %}
    <div class="mb-3">
      <h6 class="small text-muted mb-2">{% trans "Viewable Libraries" %}</h6>
      {% include "librarian/components/items_list.html" with items=view_only_libraries selected_item=selected_library listbox_label="libraries-label" item_type="library" %}
    </div>
  {% endif %}

  {% if not editable_libraries and not view_only_libraries %}
    <div class="text-center">
      <em class="small">{% trans "Available libraries will appear here." %}</em>
    </div>
  {% endif %}
</div>
