{% load i18n %}

<div id="{{ item_type }}-{{ item.id }}-list-item-content"
     class="d-flex justify-content-between align-items-center"
     {% if swap %}hx-swap-oob="true"{% endif %}>
 
  {% if item.library.is_personal_library %}
    {{ item.chat.title }}
    <br>
    ({{ item.chat.accessed_at }})
  {% else %}
    {{ item.name }}
  {% endif %}
  {% if item.is_public or item_type == "data_source" or item.status or item.is_personal_library %}
    <div>
      {% if item.is_public %}
        <i class="bi bi-globe text-muted position-relative"
           style="top: 1px"
           title="{% trans 'JUS library' %}"></i><span class="visually-hidden">{% trans "JUS library" %}</span>
      {% elif item.is_personal_library %}
        <i class="bi bi-person-fill text-muted position-relative"
           style="top: 1px"
           title="{% trans 'Personal library' %}"></i><span class="visually-hidden">{% trans "Personal library" %}</span>
      {% elif item_type == "data_source" %}
        <span class="security-label-{{ item.security_label.acronym }} security-label badge rounded-pill"
              title="{{ item.security_label }}">{{ item.security_label.acronym }}</span>
      {% elif item.status %}
        {% include "librarian/components/item_status_icon.html" %}
      {% endif %}
    </div>
  {% endif %}
</div>
