{% load i18n %}

<div class="modal modal-xl fade"
     id="advanced-qa-modal"
     tabindex="-1"
     aria-labelledby="advanced-qa-modal-title"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="advanced-qa-modal-title">
          <span>{% trans "Advanced Q&A settings" %}</span>
        </h5>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label='{% trans "Close" %} '></button>
      </div>
      <div class="modal-body">
        <div class="row qa_rag_option">
          <div class="col-md-3 mb-2">
            <label for="qa_vector_ratio-modal"
                   class="col-form-label col-form-label-sm"
                   id="vector-ratio-label">{% trans "Keyword ↔ Vector" %}</label>
            <div class="row">
              <div class="col pe-0">
                <input type="range"
                       class="form-range my-1"
                       min="0"
                       max="1"
                       step="0.05"
                       id="qa_vector_ratio-modal"
                       data-inputname="qa_vector_ratio"
                       onchange="updateQaHiddenField(this); document.getElementById('qa_vector_ratio_number-modal').value=this.value;">
              </div>
              <div class="col-auto">
                <input type="number"
                       style="width: 50px"
                       class="form-control form-control-sm"
                       aria-labelledby="vector-ratio-label"
                       id="qa_vector_ratio_number-modal"
                       data-inputname="qa_vector_ratio"
                       oninput="updateQaHiddenField(this); document.getElementById('qa_vector_ratio-modal').value=this.value;"
                       min="0"
                       max="1"
                       step="0.05">
              </div>
            </div>
          </div>
          <div class="col-md-2 mb-2">
            <label for="qa_topk-modal" class="col-form-label col-form-label-sm">{% trans "Maximum sources" %}</label>
            <input type="number"
                   class="form-control form-control-sm"
                   id="qa_topk-modal"
                   max="200"
                   min="1"
                   data-inputname="qa_topk"
                   oninput="updateQaHiddenField(this);">
          </div>
          <div class="col-md-2 mb-2">
            <label for="qa_source_order-modal" class="col-form-label col-form-label-sm">{% trans "Order sources by" %}</label>
            <select class="form-select form-select-sm"
                    id="qa_source_order-modal"
                    data-inputname="qa_source_order"
                    oninput="updateQaHiddenField(this);">
              <option value="score">{% trans "Relevance (score)" %}</option>
              <option value="reading_order">{% trans "Reading order" %}</option>
            </select>
          </div>
          <div class="col-md-3 mb-2">
            <label for="qa_granular_toggle-modal"
                   class="col-form-label col-form-label-sm">{% trans "Answer granularity" %}</label>
            <select class="form-select form-select-sm"
                    id="qa_granular_toggle-modal"
                    data-inputname="qa_granular_toggle"
                    oninput="updateQaHiddenField(this); toggleGranularOptions(this.value);">
              <option value="False">{% trans "Single answer" %}</option>
              <option value="True">{% trans "Granular answers" %}</option>
            </select>

            <div class="row"
                 id="qa_granularity_slider"
                 style="{% if chat.options.qa_granular_toggle == 'combined' %} display: none;
                        {% endif %}">
              <div class="col pe-0 text-center">
                <label for="qa_granularity-modal"
                       class="col-form-label col-form-label-sm mb-0"
                       id="granularity-label">{% trans "Granularity" %}</label>
                <input type="range"
                       class="form-range my-1"
                       id="qa_granularity-modal"
                       data-inputname="qa_granularity"
                       min="768"
                       max="16000"
                       step="100"
                       value="768"
                       onchange="updateQaHiddenField(this);">
                <div class="d-flex justify-content-between mt-0 align-items-end">
                  <span class="col-form-label-sm small">{% trans "Fine" %}</span>
                  <span class="col-form-label-sm small">{% trans "Coarse" %}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2 mb-2 pt-3">
            <div class="form-check form-switch col ms-2"
                 id="qa_pruning"
                 style="{% if chat.options.qa_granular_toggle == 'combined' %} display: none;
                        {% endif %}">
              <input class="form-check-input small"
                     type="checkbox"
                     id="qa_prune-modal"
                     data-inputname="qa_prune"
                     value="true"
                     checked
                     onchange="this.value = this.checked ? 'true' : 'false'; updateQaHiddenField(this);">
              <label class="form-check-label small" for="qa_prune-modal">{% trans "Remove irrelevant sources" %}</label>
            </div>
            {% comment %}
            <div class="form-check form-switch col-auto ms-2">
              <input class="form-check-input small" type="checkbox" role="switch" id="qa_rewrite-modal" disabled>
              <label class="form-check-label small" for="qa_rewrite-modal">{% trans "Rewrite queries for search" %}</label>
            </div>
            {% endcomment %}
          </div>
        </div>

        <hr class="row qa_rag_option">

        <div class="row">
          <div class="col-lg-4 mb-2">
            <label for="qa_system_prompt-modal" class="col-form-label-sm pb-0">{% trans "System prompt" %}</label>
            <p class="text-secondary small mb-2">
              <em>{% trans "(Optional) Define AI model's role, background information, and rules to follow." %}</em>
            </p>
            <textarea class="form-control form-control-sm"
                      autocomplete="off"
                      autocorrect="off"
                      autocapitalize="off"
                      spellcheck="false"
                      id="qa_system_prompt-modal"
                      data-inputname="qa_system_prompt"
                      onkeyup="updateQaHiddenField(this);"
                      rows="20"></textarea>
          </div>
          <div class="col-lg-4 mb-2">
            <label for="qa_pre_instructions-modal" class="col-form-label-sm pb-0">{% trans "Pre-query instructions" %}</label>
            <p class="text-secondary small mb-2">
              <em>{% trans "(Recommended) What AI model should do with context, query, and formatting instructions." %}</em>
            </p>
            <textarea class="form-control form-control-sm"
                      autocomplete="off"
                      autocorrect="off"
                      autocapitalize="off"
                      spellcheck="false"
                      id="qa_pre_instructions-modal"
                      data-inputname="qa_pre_instructions"
                      onkeyup="updateQaHiddenField(this);"
                      rows="20"></textarea>
          </div>
          <div class="col-lg-4 mb-2">
            <label for="qa_post_instructions-modal" class="col-form-label-sm pb-0">{% trans "Post-query instructions" %}</label>
            <p class="text-secondary small mb-2">
              <em>{% trans "(Optional) Final reminders of desired behaviour. Keep this fairly short." %}</em>
            </p>
            <textarea class="form-control form-control-sm"
                      autocomplete="off"
                      autocorrect="off"
                      autocapitalize="off"
                      spellcheck="false"
                      id="qa_post_instructions-modal"
                      data-inputname="qa_post_instructions"
                      onkeyup="updateQaHiddenField(this);"
                      rows="20"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
