{% load i18n %}

<div class="modal modal-xl fade"
     id="advanced-qa-modal"
     tabindex="-1"
     aria-labelledby="advanced-qa-modal-title"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="advanced-qa-modal-title">
          <span>{% trans "Advanced Q&A settings" %}</span>
        </h5>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label='{% trans "Close" %}'></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-3 mb-2">
            <label for="qa_vector_ratio-modal"
                   class="col-form-label col-form-label-sm"
                   id="vector-ratio-label">{% trans "Keyword ↔ Vector" %}</label>
            <div class="row">
              <div class="col pe-0">
                <input type="range"
                       class="form-range my-1"
                       min="0"
                       max="1"
                       step="0.05"
                       id="qa_vector_ratio-modal"
                       data-inputname="qa_vector_ratio"
                       onchange="updateQaHiddenField(this); document.getElementById('qa_vector_ratio_number-modal').value=this.value;">
              </div>
              <div class="col-auto">
                <input type="number"
                       style="width: 50px"
                       class="form-control form-control-sm"
                       aria-labelledby="vector-ratio-label"
                       id="qa_vector_ratio_number-modal"
                       data-inputname="qa_vector_ratio"
                       oninput="updateQaHiddenField(this); document.getElementById('qa_vector_ratio-modal').value=this.value;"
                       min="0"
                       max="1"
                       step="0.05">
              </div>
            </div>
          </div>
          <div class="col-md-2 mb-2">
            <label for="qa_topk-modal" class="col-form-label col-form-label-sm">{% trans "Maximum sources" %}</label>
            <input type="number"
                   class="form-control form-control-sm"
                   id="qa_topk-modal"
                   max="200"
                   min="1"
                   data-inputname="qa_topk"
                   oninput="updateQaHiddenField(this);">
          </div>
          <div class="col-md-2 mb-2">
            <label for="qa_source_order-modal" class="col-form-label col-form-label-sm">{% trans "Order sources by" %}</label>
            <select class="form-select form-select-sm"
                    id="qa_source_order-modal"
                    disabled
                    data-inputname="qa_source_order">
              <option value="score">{% trans "Relevance (score)" %}</option>
              <option value="reading-order">{% trans "Reading order" %}</option>
            </select>
          </div>
          <div class="col-md-2 mb-2">
            <label for="qa_answer_mode-modal" class="col-form-label col-form-label-sm">{% trans "Answer granularity" %}</label>
            <select class="form-select form-select-sm"
                    id="qa_answer_mode-modal"
                    disabled
                    data-inputname="qa_answer_mode">
              <option value="combined">{% trans "Combine all sources" %}</option>
              <option value="per-source">{% trans "Answer for each source" %}</option>
            </select>
          </div>
          <div class="col-md-3 mb-2 pt-3">
            <div class="form-check form-switch col ms-2">
              <input class="form-check-input small"
                     type="checkbox"
                     role="switch"
                     id="qa_prune-modal"
                     disabled>
              <label class="form-check-label small" for="qa_prune-modal">{% trans "Remove irrelevant sources" %}</label>
            </div>
            <div class="form-check form-switch col-auto ms-2">
              <input class="form-check-input small"
                     type="checkbox"
                     role="switch"
                     id="qa_rewrite-modal"
                     disabled>
              <label class="form-check-label small" for="qa_rewrite-modal">{% trans "Rewrite queries for search" %}</label>
            </div>
          </div>
        </div>

        <hr>
 
        <div class="row">
          <div class="col-lg-4 mb-2">
            <label for="qa_system_prompt-modal" class="col-form-label-sm pb-0">{% trans "System prompt" %}</label>
            <p class="text-secondary small mb-2">
              <em>{% trans "(Optional) Define AI model's role, background information, rules to follow, examples." %}</em>
            </p>
            <textarea class="form-control form-control-sm"
                      autocomplete="off"
                      autocorrect="off"
                      autocapitalize="off"
                      spellcheck="false"
                      id="qa_system_prompt-modal"
                      data-inputname="qa_system_prompt"
                      onkeypress="updateQaHiddenField(this);"
                      rows="20"></textarea>
          </div>
          <div class="col-lg-4 mb-2">
            <label for="qa_pre_instructions-modal" class="col-form-label-sm pb-0">{% trans "Pre-query instructions" %}</label>
            <p class="text-secondary small mb-2">
              <em>{% trans "(Recommended) What model should with context and query, formatting instructions." %}</em>
            </p>
            <textarea class="form-control form-control-sm"
                      autocomplete="off"
                      autocorrect="off"
                      autocapitalize="off"
                      spellcheck="false"
                      id="qa_pre_instructions-modal"
                      data-inputname="qa_pre_instructions"
                      onkeypress="updateQaHiddenField(this);"
                      rows="20"></textarea>
          </div>
          <div class="col-lg-4 mb-2">
            <label for="qa_post_instructions-modal" class="col-form-label-sm pb-0">{% trans "Post-query instructions" %}</label>
            <p class="text-secondary small mb-2">
              <em>{% trans "(Optional) Final reminders of desired behaviour. Keep this short." %}</em>
            </p>
            <textarea class="form-control form-control-sm"
                      autocomplete="off"
                      autocorrect="off"
                      autocapitalize="off"
                      spellcheck="false"
                      id="qa_post_instructions-modal"
                      data-inputname="qa_post_instructions"
                      onkeypress="updateQaHiddenField(this);"
                      rows="20"></textarea>
          </div>
          {% comment %}
          <div class="col-lg-6 mb-2">
            <label for="qa_prompt_template-modal" class="col-form-label-sm pb-0">{% trans "Prompt template" %}</label>
            <p class="text-secondary small mb-1">
              <em>{% trans "(Required) Must include {context_str}, {query_str}, {pre_instructions}, {post_instructions}." %}</em>
            </p>
            <textarea class="form-control form-control-sm" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" id="qa_prompt_template-modal" data-inputname="qa_prompt_template" onkeypress="updateQaHiddenField(this);" rows="12"></textarea>
                                                                          </div>
        {% endcomment %}
      </div>
    </div>
  </div>
</div>
</div>
