{% load i18n %}
<div class="modal modal-xl fade sources-modal"
     id="sources-modal"
     tabindex="-1"
     aria-label='{% trans "Sources" %}'
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title w-100">{% trans "Sources" %}</h5>
        <div id="sources-modal-spinner"
             class="spinner text-primary"
             style="margin-bottom: -7px;
                    margin-top: -4px">
          <span class="spinner-border" aria-hidden="true"></span>
          <span class="visually-hidden" role="status">{% trans "Loading" %}</span>
        </div>
 
        <button id="expand-all-sources" class="d-none"></button>
        <!-- <button id="highlight-all-sources" type="button" onclick="highlightAllSources({{ message_id }})" class="btn btn-outline-dark me-1" style="white-space: nowrap">
          <span id="expand-all-label"><i class="bi bi-pencil me-1"></i>{% trans "Highlight sources" %}</span>
        </button> -->
        <button id="highlight-all-sources"
                type="button"
                hx-get="{% url 'chat:message_sources_highlight' message_id %}"
                hx-target="#sources-{{ message_id }}-accordion"
                hx-swap="innerHTML"
                class="btn btn-outline-dark mx-2"
                style="white-space: nowrap">
          <span id="highlight-all-label"><i class="bi bi-pencil me-1"></i>{% trans "Highlight sources" %}</span>
        </button>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="{% trans 'Close' %}"></button>
      </div>
      <div class="modal-body p-0" id="sources-modal-inner"></div>
    </div>
  </div>
</div>

<script>
function expandAllSources(message_id) {
  const sources = document.querySelectorAll(`#sources-${message_id}-accordion .accordion-collapse`);
  sources.forEach(function (source) {
    source.classList.toggle("expanded");
  });
}
(function(){
  const modalEl = document.getElementById('sources-modal');
  modalEl.addEventListener('hidden.bs.modal', ()=>{
    document.querySelector("#expand-all-sources").classList.add("d-none");
  });
})();
</script>
