<div class="accordion accordion-flush"
     id="sources-{{ message.id }}-accordion">
  {% for source in sources %}

    <div class="accordion-item" data-group="{{ source.group_number }}">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#sources-{{ message.id }}-text-{{ forloop.counter }}"
                aria-expanded="false"
                aria-controls="sources-{{ message.id }}-text-{{ forloop.counter }}">
          <span class="me-1">[{{ forloop.counter }}]</span>
          {{ source.citation|safe }}
        </button>
      </h2>
      <div id="sources-{{ message.id }}-text-{{ forloop.counter }}"
           class="accordion-collapse collapse">
        <div class="accordion-body scrolling-content" style="">
          {% if source.document %}<div class="float-end ps-3">{{ source.document.href|safe }}</div>{% endif %}
          <div class="markdown-text" style="white-space:pre-wrap">{{ source.node_text }}</div>
        </div>
      </div>
    </div>
  {% endfor %}

</div>

<script>
    var accordionItems = document.getElementById("sources-{{ message.id }}-accordion").querySelectorAll(".accordion-item");
    var lastGroup = null;

    accordionItems.forEach((item, index) => {
        var currentGroup = item.getAttribute("data-group");

        // Check if we need to insert an hr before the current item
        if (lastGroup !== currentGroup && index !== 0) {
            var hr = document.createElement("hr");
            hr.style.border = "2px solid";
            hr.style.margin = "0px";
            item.parentNode.insertBefore(hr, item);
        }

        lastGroup = currentGroup;
    });
</script>
