<div class="accordion accordion-flush"
     id="sources-{{ message_id }}-accordion">
  {% for source in sources %}

    <div class="accordion-item" data-group="{{ source.group_number }}">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#sources-{{ message_id }}-text-{{ forloop.counter }}"
                aria-expanded="false"
                aria-controls="sources-{{ message_id }}-text-{{ forloop.counter }}">
          <span class="me-1">[{{ forloop.counter }}]</span>
          {{ source.citation|safe }}
        </button>
      </h2>
      <div id="sources-{{ message_id }}-text-{{ forloop.counter }}"
           class="accordion-collapse collapse">
        <div class="accordion-body scrolling-content" style="">
          {% if source.document %}{{ source.document.href_button|safe }}{% endif %}
          {{ source.node_text|safe }}
        </div>
      </div>
    </div>
  {% endfor %}

</div>

<script>
  (function () {
    let accordionItems = document.getElementById("sources-{{ message_id }}-accordion").querySelectorAll(".accordion-item");
    let lastGroup = null;

    let uniqueGroups = new Set();
    for (let item of accordionItems) {
        uniqueGroups.add(item.getAttribute("data-group"));
    }
    if (uniqueGroups.size === accordionItems.length) return;

    accordionItems.forEach((item, index) => {
        let currentGroup = item.getAttribute("data-group");

        // Check if we need to insert an hr before the current item
        if (lastGroup !== currentGroup && index !== 0) {
            let hr = document.createElement("hr");
            hr.style.border = "1px solid";
            hr.style.margin = "0px";
            item.parentNode.insertBefore(hr, item);
        }
        lastGroup = currentGroup;
    });
  })();
</script>
