{% load i18n %}
<div class="col-md-4 pe-0" id="answer-column">
  <div class="card mb-5 border-success" id="answer-container">
    <div class="card-header bg-transparent border-0">
      <div class="d-flex justify-content-between align-items-center py-1">
        <h3 class="h6 text-success mb-0">{% trans "AI-generated answer &mdash; may contain inaccuracies" %}</h3>
        <button type="button"
                class="btn-close"
                aria-label="{% trans 'Close' %}"
                onclick="hideAnswer();"></button>
      </div>
    </div>
    <div class="card-body pb-1 pt-0">
      <div id="answer">
        {% if answer %}
          {{ answer|safe }}
        {% else %}
          <div hx-ext="sse"
               sse-connect="{% url 'laws:answer' query_uuid %}"
               sse-swap="message"
               id="answer-sse">
            <!-- djlint:off -->
            <!-- djlint:on -->
            {% comment %} Spans below require to make CSS "typing dots" bounce {% endcomment %}
            <p>&nbsp;</p>
            <div class="typing">
              <span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span>
            </div>
          </div>
          <div id="answer-cost" class="d-none"></div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<script>
  if (document.getElementById("get-answer-button")) {
    document.getElementById("get-answer-button").classList.add("d-none");
  }
</script>
