{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block page_css %}
  <link rel="stylesheet" href="{% static 'laws/style.css' %}">
  <script>
    // Fix: HTMX autocomplete, csrftoken etc. is causing issues with history handling
    window.addEventListener('popstate', _=> {
      location.href = window.location.href;
    })
  </script>
{% endblock %}

{% block page_script %}
  <script src="{% static 'thirdparty/htmx_ext_sse.js' %}"></script>
{% endblock %}

{% block page_title %}
  {% trans "Legislation Search - Otto" %}
{% endblock %}

{% block breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item">
    <a href="{% url 'laws:index' %}">{% trans "Legislation Search" %}</a>
  </li>
{% endblock %}

{% block content_container %}
  <div id="laws-outer">
    <div class="container py-3 px-0" id="search-container">
      <h2 class="mb-2 px-4 mt-2">
        <a href="{% url 'laws:index' %}" class="text-decoration-none text-body">{% trans "Legislation Search" %}</a>
      </h2>
      <p class="mx-4 mb-4">
        {% trans "Find relevant sections of acts and regulations using natural language similarity search." %}
      </p>
      <ul class="nav nav-tabs px-3 border-bottom-0">
        <li class="nav-item">
          <button id="basic-search-tab"
                  class="nav-link active fw-semibold"
                  onclick="setActiveTab(this);">{% trans "Basic search" %}</button>
        </li>
        <li class="nav-item">
          <button id="advanced-search-tab"
                  class="nav-link"
                  onclick="setActiveTab(this);">{% trans "Advanced search" %}</button>
        </li>
      </ul>

      <div id="step-content" class="rounded">
        <div class="tab-pane fade show active p-3 border rounded" id="search-form">
          {% block step_content %}
            {% include 'laws/search_form.html' %}
          {% endblock %}
        </div>
      </div>
    </div>
    <div id="spinner" class="spinner container text-primary px-4 pt-3">
      <span class="spinner-border" aria-hidden="true"></span>
      <span class="visually-hidden" role="status">{% trans "Loading" %}</span>
    </div>
    <div class="container py-3 px-0" id="result-container" aria-live="polite">
      {% if sources %}
        {% include "laws/search_result.html" %}
      {% else %}
        {% include "laws/laws_warning.html" %}
        {% if last_updated %}
          <p class="m-4 text-secondary">
            {% trans "Last refreshed from the" %}
            <a href="https://github.com/justicecanada/laws-lois-xml"
               target="_blank"
               class="text-secondary">laws-lois-xml</a>
            {% trans "repository on" %}
            {{ last_updated }}
          </p>
        {% endif %}
      {% endif %}
    </div>
  </div>

  <script src="{% static 'thirdparty/markdown-it.min.js' %}"></script>
  <script src="{% static 'thirdparty/katex.min.js' %}"></script>
  <script src="{% static 'thirdparty/markdown-it-katex.js' %}"></script>
  <script src="{% static 'thirdparty/highlight.js' %}"></script>

  <script src="{% static 'laws/law_search.js' %}"></script>

  <link rel="stylesheet" href="{% static 'thirdparty/css/highlightjs.css' %}">
  <link rel="stylesheet" href="{% static 'thirdparty/css/katex.min.css' %}">
{% endblock %}
