{% load i18n %}

<div class="modal-body" id="preset-card-list">
  <div class="row px-3 pb-3">
    <div style="top: 0; bottom: 0; min-height: 300px">
      <div class="col-12 d-flex flex-column h-100">
        <h2 class="fs-6 mb-3">{% trans "Available Presets" %}</h2>
        {% if presets|length == 0 %}
          {% include "chat/modals/presets/empty_card_list.html" %}
        {% else %}
          <ul class="card-list">
            {% for preset in presets %}
              {% include "chat/modals/presets/card.html" %}
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>
  </div>

</div>

{% block page_script %}
  <script>
    (function () {      
      const tooltipTriggerList = document.querySelectorAll('#presets-modal-body > .modal-body [data-bs-toggle="tooltip"]');
      const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl, {delay: {show: 500, hide: 200}}));
    })();    
  </script>
{% endblock %}
