{% load i18n %}
{% load chat_tags %}
{% load static %}
{% load rules %}
<style>
.card {
  border: none;
  box-shadow: 2px 4px 10px -1px rgba(0, 0, 0, 0.644), 0px 1px 8px -2px rgb(0 0 0 / 0.1) !important;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border-bottom: none;
  padding-bottom: 0;
  padding-top: .45rem;

  button {
    background-color: transparent; !important;

    i.bi.bi-heart-fill {
      border-color: var(--app-color-red-1);
      color: #0d6efd;
    }

    &:hover {
      i.bi.bi-heart {
        border-color: var(--app-color-red-1);
        color: var(--app-color-red-1);
      }

      i.bi.bi-star {
        border-color: var(--app-color-yellow-1);
        color: var(--app-color-yellow-1);
      }

      i.bi.bi-heart,
      i.bi.bi-heart-fill {
        text-shadow: 0px 0px 7px var(--app-color-red-1);
      }

      i.bi.bi-star,
      i.bi.bi-star-fill {
        text-shadow: 0px 0px 7px var(--app-color-yellow-2);
      }

      background-color:  #0d6efd !important;

    }

    &:focus-visible {
      background-color: var(--bg-light-gray);
      outline: none !important;
      box-shadow: none;

      &i.bi.bi-heart,
      &i.bi.bi-heart-fill {
        border: solid 1px var(--app-color-red-1);
        background-color: var(--app-color-red-1-hover);
      }

      &i.bi.bi-start,
      &i.bi.bi-star-fill {
        border: solid 1px var(--app-color-yellow-1);
        background-color: var(--app-color-yellow-2);
      }

      color:  #0d6efd; 
    }
  }
}
.card-footer {
  display: flex !important;
  gap: 1rem;
  background-color: transparent;
  border-top: none;
  padding-top: 0;
  padding-bottom: .65rem;
  justify-content: center;

  button {
    font-size: 0.875rem;
    line-height: 1.25rem;
    border: none;

    &:hover {
      background-color: var(--bs-light) !important;
      color: #0d6efd;
    }

    &:only-child {
      flex-basis: 100%;
    }
  }
}
.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 2rem;
  padding-left: 0;
  padding-right: 0;
}

.btn-ghost {
  background-color: transparent !important;
  border: none !important;

  &:focus-visible {
    outline-style: solid !important;
    outline-color: black !important;
    outline-width: 2px !important;
  }
}

</style>



<div class="modal-body" id="preset-card-list">
  <div class="row px-3 pb-3">
    <div style="top: 0; bottom: 0; min-height: 300px">
      <div class="col-12 d-flex flex-column h-100">
        {% if presets|length == 0 %}
          {% include "chat/modals/presets/empty_card_list.html" %}
        {% else %}
          <div class="d-flex justify-content-end mb-3">
            <button type="button"
                    class="btn btn-sm btn-outline-dark"
                    hx-get="{% url 'chat:open_preset_form' chat_id=chat_id %}"
                    hx-target="#presets-modal-body"
                    hx-swap="innerHTML transition:true">{% trans "Create preset from current settings" %}</button>
          </div>
          <ul class="card-list">

            {# design one #}
            <li class="card">
              <div class="card-header align-items-center">
                <div class="card-title my-auto text-truncate me-2 fw-semibold"
                     style="line-height: 1.25rem;
                            font-size: 0.875rem;
                            letter-spacing: -0.025rem"
                     title="Test preset">Original Design</div>
                <div class="d-flex align-items-center">
                  <span style="padding: .375rem .75rem;">
                    <i class="bi bi-globe-americas text-secondary"></i>
                  </span>
                  <div id="default-button-1">
                    <i class="bi-star btn btn-light rounded-circle"></i>
                  </div>
                  <i class="bi bi-heart btn btn-light rounded-circle"></i>
                </div>
              </div>

              <div class="card-body pt-2"
                   style="line-height: 1.25rem;
                          font-size: 0.875rem">
                <p class="preset-description card-text text-muted"
                   style="min-height: 4.5rem !important;
                          -webkit-box-orient: vertical !important;
                          display: -webkit-box !important;
                          -webkit-line-clamp: 4 !important;
                          overflow: hidden !important;
                          text-overflow: ellipsis !important;
                          white-space: normal !important">This is the original design</p>
              </div>
              <div class="card-footer">
                <button type="button"
                        class="btn btn-light fw-semibold flex-grow-1"
                        data-bs-dismiss="modal"
                        style="flex: 1 !important;
                               background-color: #f1f1f1;
                               color: black"
                        hx-target="#options-accordion">{% trans "Load" %}</button>
 
                <button type="button"
                        class="btn btn-light fw-semibold flex-grow-1"
                        style="flex: 1 !important;
                               background-color: #f1f1f1;
                               color: black"
                        hx-target="#presets-modal-body"
                        hx-swap="innerHTML transition:true">{% trans "Edit" %}</button>
 
              </div>

            </li>


            {# design 1 v2 #}
            <li class="card">
              <div class="card-header align-items-center">
                <div class="card-title my-auto text-truncate me-2 fw-semibold"
                     style="line-height: 1.25rem;
                            font-size: 0.875rem;
                            letter-spacing: -0.025rem"
                     title="Test preset">Original Design without editable permission</div>
                <div class="d-flex align-items-center">
                  <span style="padding: .375rem .75rem;">
                    <i class="bi bi-globe-americas text-secondary"></i>
                  </span>
                  <div id="default-button-1">
                    <i class="bi-star btn btn-light rounded-circle"></i>
                  </div>
                  <i class="bi bi-heart btn btn-light rounded-circle"></i>
                </div>
              </div>

              <div class="card-body pt-2"
                   style="line-height: 1.25rem;
                          font-size: 0.875rem">
                <p class="preset-description card-text text-muted"
                   style="min-height: 4.5rem !important;
                          -webkit-box-orient: vertical !important;
                          display: -webkit-box !important;
                          -webkit-line-clamp: 4 !important;
                          overflow: hidden !important;
                          text-overflow: ellipsis !important;
                          white-space: normal !important">This is the original design</p>
              </div>
              <div class="card-footer">
                <button type="button"
                        class="btn btn-light fw-semibold flex-grow-1"
                        data-bs-dismiss="modal"
                        style="flex: 1 !important;
                               background-color: #f1f1f1;
                               color: black"
                        hx-target="#options-accordion">{% trans "Load" %}</button>
 
              </div>

            </li>



            {# design 2 #}
            <li class="card">
              <div class="card-header align-items-center">
                <div class="card-title my-auto text-truncate me-2 fw-semibold"
                     style="line-height: 1.25rem;
                            font-size: 0.875rem;
                            letter-spacing: -0.025rem"
                     title="Test preset">
                  Design 2
                  <span style="padding: .375rem .75rem;">
                    <i class="bi bi-globe-americas text-secondary"
                       title="{% trans 'Shared with everyone' %}"></i>
                  </span>
                </div>
                <div class="d-flex align-items-center">
                  <div id="default-button-1">
                    <i class="bi-star btn btn-light rounded-circle"></i>
                  </div>
                  <i class="bi bi-heart btn btn-light rounded-circle"></i>
                  <i class="bi bi-share btn btn-light rounded-circle"></i> <!-- Share icon added -->
                </div>
              </div>

              <div class="card-body pt-2"
                   style="line-height: 1.25rem;
                          font-size: 0.875rem">
                <p class="preset-description card-text text-muted"
                   style="min-height: 4.5rem !important;
                          -webkit-box-orient: vertical !important;
                          display: -webkit-box !important;
                          -webkit-line-clamp: 4 !important;
                          overflow: hidden !important;
                          text-overflow: ellipsis !important;
                          white-space: normal !important">
                  The is the second design. I added a share icon to in the header. I also moved the public/private icon next to the title.
                </p>
              </div>
              <div class="card-footer">
                <button type="button"
                        class="btn btn-light fw-semibold flex-grow-1"
                        data-bs-dismiss="modal"
                        style="background-color: rgb(37, 87, 214) !important;
                               flex: 0 0 50% !important;
                               color: white"
                        hx-target="#options-accordion">{% trans "Load" %}</button>
 
                <button type="button"
                        class="btn btn-light fw-semibold flex-grow-1"
                        hx-target="#presets-modal-body"
                        style="background-color: rgb(37, 87, 214)  !important;
                               flex: 0 0 50% !important;
                               color: white"
                        hx-swap="innerHTML transition:true">{% trans "Edit" %}</button>
 
              </div>

            </li>

            {# design 2 v2 #}
            <li class="card">
              <div class="card-header align-items-center">
                <div class="card-title my-auto text-truncate me-2 fw-semibold"
                     style="line-height: 1.25rem;
                            font-size: 0.875rem;
                            letter-spacing: -0.025rem"
                     title="Test preset">
                  Design 2 without editable permission
                  <span style="padding: .375rem .75rem;">
                    <i class="bi bi-globe-americas text-secondary"
                       title="{% trans 'Shared with everyone' %}"></i>
                  </span>
                </div>
                <div class="d-flex align-items-center">
                  <div id="default-button-1">
                    <i class="bi-star btn btn-light rounded-circle"></i>
                  </div>
                  <i class="bi bi-heart btn btn-light rounded-circle"></i>
                  <i class="bi bi-share btn btn-light rounded-circle"></i> <!-- Share icon added -->

                </div>
              </div>

              <div class="card-body pt-2"
                   style="line-height: 1.25rem;
                          font-size: 0.875rem">
                <p class="preset-description card-text text-muted"
                   style="min-height: 4.5rem !important;
                          -webkit-box-orient: vertical !important;
                          display: -webkit-box !important;
                          -webkit-line-clamp: 4 !important;
                          overflow: hidden !important;
                          text-overflow: ellipsis !important;
                          white-space: normal !important">
                  The is the second design. I added a share button to in the header. I also moved the public/private icon next to the title.
                </p>
              </div>
              <div class="card-footer">
                <button type="button"
                        class="btn btn-light fw-semibold"
                        data-bs-dismiss="modal"
                        style="flex: 0 0 50% !important;
                               background-color: rgb(37, 87, 214)  !important;
                               color: white"
                        hx-target="#options-accordion">{% trans "Load" %}</button>
 
 
              </div>

            </li>

            {# design 3 #}
            <li class="card">
              <div class="card-header align-items-center">
                <div class="card-title my-auto text-truncate me-2 fw-semibold"
                     style="line-height: 1.25rem;
                            font-size: 0.875rem;
                            letter-spacing: -0.025rem"
                     title="Test preset">
                  Design 3
                  <span style="padding: .375rem .75rem;">
                    <i class="bi bi-globe-americas text-secondary"
                       title="{% trans 'Shared with everyone' %}"></i>
                  </span>
                </div>
                <div class="d-flex align-items-center">
                  <div id="default-button-1">
                    <i class="bi-star btn btn-light rounded-circle"></i>
                  </div>
                  <i class="bi bi-heart btn btn-light rounded-circle"></i>
                  <i class="bi bi-share btn btn-light rounded-circle"></i> <!-- Share icon added -->
                </div>
              </div>

              <div class="card-body pt-2"
                   style="line-height: 1.25rem;
                          font-size: 0.875rem">
                <p class="preset-description card-text text-muted"
                   style="min-height: 4.5rem !important;
                          -webkit-box-orient: vertical !important;
                          display: -webkit-box !important;
                          -webkit-line-clamp: 4 !important;
                          overflow: hidden !important;
                          text-overflow: ellipsis !important;
                          white-space: normal !important">The is the third design. GREEN!</p>
              </div>
              <div class="card-footer">
                <button type="button"
                        class="btn btn-light fw-semibold flex-grow-1"
                        data-bs-dismiss="modal"
                        style="background-color: #067856 !important;
                               flex: 0 0 50% !important;
                               color: white"
                        hx-target="#options-accordion">{% trans "Load" %}</button>
 
                <button type="button"
                        class="btn btn-light fw-semibold flex-grow-1"
                        hx-target="#presets-modal-body"
                        style="background-color: #067856  !important;
                               flex: 0 0 50% !important;
                               color: white"
                        hx-swap="innerHTML transition:true">{% trans "Edit" %}</button>
 
              </div>

            </li>

            {# design 2 v2 #}
            <li class="card">
              <div class="card-header align-items-center">
                <div class="card-title my-auto text-truncate me-2 fw-semibold"
                     style="line-height: 1.25rem;
                            font-size: 0.875rem;
                            letter-spacing: -0.025rem"
                     title="Test preset">
                  Design 2 without editable permission
                  <span style="padding: .375rem .75rem;">
                    <i class="bi bi-globe-americas text-secondary"
                       title="{% trans 'Shared with everyone' %}"></i>
                  </span>
                </div>
                <div class="d-flex align-items-center">
                  <div id="default-button-1">
                    <i class="bi-star btn btn-light rounded-circle"></i>
                  </div>
                  <i class="bi bi-heart btn btn-light rounded-circle"></i>
                  <i class="bi bi-share btn btn-light rounded-circle"></i> <!-- Share icon added -->

                </div>
              </div>

              <div class="card-body pt-2"
                   style="line-height: 1.25rem;
                          font-size: 0.875rem">
                <p class="preset-description card-text text-muted"
                   style="min-height: 4.5rem !important;
                          -webkit-box-orient: vertical !important;
                          display: -webkit-box !important;
                          -webkit-line-clamp: 4 !important;
                          overflow: hidden !important;
                          text-overflow: ellipsis !important;
                          white-space: normal !important">The is the third design. GREEN!</p>
              </div>
              <div class="card-footer">
                <button type="button"
                        class="btn btn-light fw-semibold"
                        data-bs-dismiss="modal"
                        style="flex: 0 0 50% !important;
                               background-color: #067856  !important;
                               color: white"
                        hx-target="#options-accordion">{% trans "Load" %}</button>
 
 
              </div>

            </li>

            {# design 5 - Three dots menu #}
            <li class="card">
              <div class="card-header align-items-center">
                <div class="card-title my-auto text-truncate me-2 fw-semibold"
                     style="line-height: 1.25rem;
                            font-size: 0.875rem;
                            letter-spacing: -0.025rem box-shadow: None !important"
                     title="Test preset">
                  Design with Border
                  <span style="padding: .375rem .75rem;">
                    <i class="bi bi-globe-americas text-secondary"
                       title="{% trans 'Shared with everyone' %}"></i>
                  </span>
                </div>
                <div class="d-flex align-items-center">
                  <button type="button"
                          class="btn btn-light btn-sm rounded-circle"
                          data-bs-toggle="dropdown"
                          aria-expanded="false">
                    <i class="bi bi-three-dots"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-star me-2"></i>{% trans "Favorite" %}</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-heart me-2"></i>{% trans "Like" %}</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-box-arrow-up me-2"></i>{% trans "Share" %}</a>
                    </li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-pencil me-2"></i>{% trans "Edit" %}</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-trash me-2"></i>{% trans "Delete" %}</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="card-body pt-2"
                   style="line-height: 1.25rem;
                          font-size: 0.875rem">
                <p class="preset-description card-text text-muted"
                   style="min-height: 4.5rem !important;
                          -webkit-box-orient: vertical !important;
                          display: -webkit-box !important;
                          -webkit-line-clamp: 4 !important;
                          overflow: hidden !important;
                          text-overflow: ellipsis !important;
                          white-space: normal !important">This design uses a border</p>
              </div>
              <div class="card-footer">
                <button type="button"
                        class="btn btn-light fw-semibold"
                        data-bs-dismiss="modal"
                        style="flex: 0 0 50% !important;
                               background-color: rgb(37, 87, 214) !important;
                               color: white"
                        hx-target="#options-accordion">{% trans "Load" %}</button>
              </div>
            </li>

            {# design 5 v2 - borderu without edit permission #}
            <li class="card">
              <div class="card-header align-items-center">
                <div class="card-title my-auto text-truncate me-2 fw-semibold"
                     style="line-height: 1.25rem;
                            font-size: 0.875rem;
                            letter-spacing: -0.025rem"
                     title="Test preset">
                  Design with Border without Edit Permission
                  <span style="padding: .375rem .75rem;">
                    <i class="bi bi-globe-americas text-secondary"
                       title="{% trans 'Shared with everyone' %}"></i>
                  </span>
                </div>
                <div class="d-flex align-items-center">
                  <button type="button"
                          class="btn btn-light btn-sm rounded-circle"
                          data-bs-toggle="dropdown"
                          aria-expanded="false">
                    <i class="bi bi-three-dots"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-star me-2"></i>{% trans "Favorite" %}</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-heart me-2"></i>{% trans "Like" %}</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-box-arrow-up me-2"></i>{% trans "Share" %}</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="card-body pt-2"
                   style="line-height: 1.25rem;
                          font-size: 0.875rem">
                <p class="preset-description card-text text-muted"
                   style="min-height: 4.5rem !important;
                          -webkit-box-orient: vertical !important;
                          display: -webkit-box !important;
                          -webkit-line-clamp: 4 !important;
                          overflow: hidden !important;
                          text-overflow: ellipsis !important;
                          white-space: normal !important">
                  This design uses a three-dots menu in the upper right corner without edit permission. The dropdown menu has fewer options, and there's only the Load button in the footer.
                </p>
              </div>
              <div class="card-footer w-100">
                <button type="button"
                        class="btn btn-light fw-semibold"
                        data-bs-dismiss="modal"
                        style="background-color: rgb(37, 87, 214) !important;
                               color: white"
                        hx-target="#options-accordion">{% trans "Load" %}</button>
              </div>
            </li>
            {# design 6 - border with three dots menu #}
            <li class="card p-3"
                style="box-shadow: None !important;
                       border: 1px solid #414141 !important">
              <div class="card-header align-items-center">
                <div class="card-title fs-5 my-auto text-truncate me-2 fw-semibold"
                     style="letter-spacing: -0.025rem"
                     title="Test preset">
                  <span>
                    <i class="bi bi-globe-americas text-secondary me-1 fs-5 text-primary"
                       title="{% trans 'Shared with everyone' %}"></i>
                  </span>
                  Design with border instead of shadow
                </div>
                <div class="d-flex align-items-center">
                  <button type="button"
                          class="btn btn-light btn-sm rounded-circle"
                          data-bs-toggle="dropdown"
                          aria-expanded="false">
                    <i class="bi bi-three-dots"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-star me-2"></i>{% trans "Favorite" %}</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-heart me-2"></i>{% trans "Like" %}</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-box-arrow-up me-2"></i>{% trans "Share" %}</a>
                    </li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-pencil me-2"></i>{% trans "Edit" %}</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-trash me-2"></i>{% trans "Delete" %}</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="card-body pt-2"
                   style="line-height: 1.25rem;
                          font-size: 0.875rem">
                <p class="preset-description card-text text-muted"
                   style="min-height: 4.5rem !important;
                          -webkit-box-orient: vertical !important;
                          display: -webkit-box !important;
                          -webkit-line-clamp: 4 !important;
                          overflow: hidden !important;
                          text-overflow: ellipsis !important;
                          white-space: normal !important">
                  This design uses a three-dots menu in the upper right corner instead of individual action buttons. All actions are now located in the dropdown menu, and the edit button has been removed from the footer.
                </p>
              </div>
              <div class="card-footer w-100">
                <button type="button"
                        class="btn btn-lg btn-outline-dark fw-semibold"
                        data-bs-dismiss="modal"
                        style="border: 1px solid black !important"
                        hx-target="#options-accordion">
                  <i class="bi bi-download me-2"></i>{% trans "Load" %}
                </button>
              </div>
            </li>

            <li class="card p-3"
                style="box-shadow: None !important;
                       border: 1px solid #414141 !important">
              <div class="card-header align-items-center">
                <div class="card-title fs-5 my-auto text-truncate me-2 fw-semibold"
                     style="letter-spacing: -0.025rem"
                     title="Test preset">
                  <span>
                    <i class="bi bi-globe-americas text-secondary me-1 fs-5 text-primary"
                       title="{% trans 'Shared with everyone' %}"></i>
                  </span>
                  Design with border instead of shadow
                </div>
                <div class="d-flex align-items-center">
                  <button type="button"
                          class="btn btn-light btn-sm rounded-circle"
                          data-bs-toggle="dropdown"
                          aria-expanded="false">
                    <i class="bi bi-three-dots"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-star me-2"></i>{% trans "Favorite" %}</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-heart me-2"></i>{% trans "Like" %}</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-box-arrow-up me-2"></i>{% trans "Share" %}</a>
                    </li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-pencil me-2"></i>{% trans "Edit" %}</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-trash me-2"></i>{% trans "Delete" %}</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="card-body pt-2"
                   style="line-height: 1.25rem;
                          font-size: 0.875rem">
                <p class="preset-description card-text text-muted"
                   style="min-height: 4.5rem !important;
                          -webkit-box-orient: vertical !important;
                          display: -webkit-box !important;
                          -webkit-line-clamp: 4 !important;
                          overflow: hidden !important;
                          text-overflow: ellipsis !important;
                          white-space: normal !important">
                  This design uses a three-dots menu in the upper right corner instead of individual action buttons. All actions are now located in the dropdown menu, and the edit button has been removed from the footer.
                </p>
              </div>
              <div class="card-footer w-100">
                <button type="button"
                        class="btn btn-lg btn-outline-dark fw-semibold"
                        data-bs-dismiss="modal"
                        style="border: 1px solid black !important"
                        hx-target="#options-accordion">
                  <i class="bi bi-download me-2"></i>{% trans "Load" %}
                </button>
              </div>
            </li>


            <li class="card p-3"
                style="box-shadow: None !important;
                       border: 1px solid #414141 !important">
              <div class="card-header align-items-center">
                <div class="card-title fs-5 my-auto text-truncate me-2 fw-semibold"
                     style="letter-spacing: -0.025rem"
                     title="Test preset">
                  <span>
                    <i class="bi bi-globe-americas text-secondary me-1 fs-5 text-primary"
                       title="{% trans 'Shared with everyone' %}"></i>
                  </span>
                  Design with border instead of shadow
                </div>
                <div class="d-flex align-items-center">
                  <button type="button"
                          class="btn btn-light btn-sm rounded-circle"
                          data-bs-toggle="dropdown"
                          aria-expanded="false">
                    <i class="bi bi-three-dots"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-star me-2"></i>{% trans "Favorite" %}</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-heart me-2"></i>{% trans "Like" %}</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-box-arrow-up me-2"></i>{% trans "Share" %}</a>
                    </li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-pencil me-2"></i>{% trans "Edit" %}</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-trash me-2"></i>{% trans "Delete" %}</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="card-body pt-2"
                   style="line-height: 1.25rem;
                          font-size: 0.875rem">
                <p class="preset-description card-text text-muted"
                   style="min-height: 4.5rem !important;
                          -webkit-box-orient: vertical !important;
                          display: -webkit-box !important;
                          -webkit-line-clamp: 4 !important;
                          overflow: hidden !important;
                          text-overflow: ellipsis !important;
                          white-space: normal !important">
                  This design uses a three-dots menu in the upper right corner instead of individual action buttons. All actions are now located in the dropdown menu, and the edit button has been removed from the footer.
                </p>
              </div>
              <div class="card-footer w-100">
                <button type="button"
                        class="btn btn-lg btn-outline-dark fw-semibold"
                        data-bs-dismiss="modal"
                        style="border: 1px solid black !important"
                        hx-target="#options-accordion">
                  <i class="bi bi-download me-2"></i>{% trans "Load" %}
                </button>
              </div>
            </li>


            <li class="card p-3"
                style="box-shadow: None !important;
                       border: 1px solid #414141 !important">
              <div class="card-header align-items-center">
                <div class="card-title fs-5 my-auto text-truncate me-2 fw-semibold"
                     style="letter-spacing: -0.025rem"
                     title="Test preset">
                  <span>
                    <i class="bi bi-globe-americas text-secondary me-1 fs-5 text-primary"
                       title="{% trans 'Shared with everyone' %}"></i>
                  </span>
                  Design with border instead of shadow
                </div>
                <div class="d-flex align-items-center">
                  <button type="button"
                          class="btn btn-light btn-sm rounded-circle"
                          data-bs-toggle="dropdown"
                          aria-expanded="false">
                    <i class="bi bi-three-dots"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-star me-2"></i>{% trans "Favorite" %}</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-heart me-2"></i>{% trans "Like" %}</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-box-arrow-up me-2"></i>{% trans "Share" %}</a>
                    </li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-pencil me-2"></i>{% trans "Edit" %}</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-trash me-2"></i>{% trans "Delete" %}</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="card-body pt-2"
                   style="line-height: 1.25rem;
                          font-size: 0.875rem">
                <p class="preset-description card-text text-muted"
                   style="min-height: 4.5rem !important;
                          -webkit-box-orient: vertical !important;
                          display: -webkit-box !important;
                          -webkit-line-clamp: 4 !important;
                          overflow: hidden !important;
                          text-overflow: ellipsis !important;
                          white-space: normal !important">
                  This design uses a three-dots menu in the upper right corner instead of individual action buttons. All actions are now located in the dropdown menu, and the edit button has been removed from the footer.
                </p>
              </div>
              <div class="card-footer w-100">
                <button type="button"
                        class="btn btn-lg btn-outline-dark fw-semibold"
                        data-bs-dismiss="modal"
                        style="border: 1px solid black !important"
                        hx-target="#options-accordion">
                  <i class="bi bi-download me-2"></i>{% trans "Load" %}
                </button>
              </div>
            </li>


            <li class="card p-3"
                style="box-shadow: None !important;
                       border: 1px solid #414141 !important">
              <div class="card-header align-items-center">
                <div class="card-title fs-5 my-auto text-truncate me-2 fw-semibold"
                     style="letter-spacing: -0.025rem"
                     title="Test preset">
                  <span>
                    <i class="bi bi-globe-americas text-secondary me-1 fs-5 text-primary"
                       title="{% trans 'Shared with everyone' %}"></i>
                  </span>
                  Design with border instead of shadow
                </div>
                <div class="d-flex align-items-center">
                  <button type="button"
                          class="btn btn-light btn-sm rounded-circle"
                          data-bs-toggle="dropdown"
                          aria-expanded="false">
                    <i class="bi bi-three-dots"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-star me-2"></i>{% trans "Favorite" %}</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-heart me-2"></i>{% trans "Like" %}</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-box-arrow-up me-2"></i>{% trans "Share" %}</a>
                    </li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-pencil me-2"></i>{% trans "Edit" %}</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-trash me-2"></i>{% trans "Delete" %}</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="card-body pt-2"
                   style="line-height: 1.25rem;
                          font-size: 0.875rem">
                <p class="preset-description card-text text-muted"
                   style="min-height: 4.5rem !important;
                          -webkit-box-orient: vertical !important;
                          display: -webkit-box !important;
                          -webkit-line-clamp: 4 !important;
                          overflow: hidden !important;
                          text-overflow: ellipsis !important;
                          white-space: normal !important">
                  This design uses a three-dots menu in the upper right corner instead of individual action buttons. All actions are now located in the dropdown menu, and the edit button has been removed from the footer.
                </p>
              </div>
              <div class="card-footer w-100">
                <button type="button"
                        class="btn btn-lg btn-outline-dark fw-semibold"
                        data-bs-dismiss="modal"
                        style="border: 1px solid black !important"
                        hx-target="#options-accordion">
                  <i class="bi bi-download me-2"></i>{% trans "Load" %}
                </button>
              </div>
            </li>


            <li class="card p-3"
                style="box-shadow: None !important;
                       border: 1px solid #414141 !important">
              <div class="card-header align-items-center">
                <div class="card-title fs-5 my-auto text-truncate me-2 fw-semibold"
                     style="letter-spacing: -0.025rem"
                     title="Test preset">
                  <span>
                    <i class="bi bi-globe-americas text-secondary me-1 fs-5 text-primary"
                       title="{% trans 'Shared with everyone' %}"></i>
                  </span>
                  Design with border instead of shadow
                </div>
                <div class="d-flex align-items-center">
                  <button type="button"
                          class="btn btn-light btn-sm rounded-circle"
                          data-bs-toggle="dropdown"
                          aria-expanded="false">
                    <i class="bi bi-three-dots"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-star me-2"></i>{% trans "Favorite" %}</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-heart me-2"></i>{% trans "Like" %}</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-box-arrow-up me-2"></i>{% trans "Share" %}</a>
                    </li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-pencil me-2"></i>{% trans "Edit" %}</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-trash me-2"></i>{% trans "Delete" %}</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="card-body pt-2"
                   style="line-height: 1.25rem;
                          font-size: 0.875rem">
                <p class="preset-description card-text text-muted"
                   style="min-height: 4.5rem !important;
                          -webkit-box-orient: vertical !important;
                          display: -webkit-box !important;
                          -webkit-line-clamp: 4 !important;
                          overflow: hidden !important;
                          text-overflow: ellipsis !important;
                          white-space: normal !important">
                  This design uses a three-dots menu in the upper right corner instead of individual action buttons. All actions are now located in the dropdown menu, and the edit button has been removed from the footer.
                </p>
              </div>
              <div class="card-footer w-100">
                <button type="button"
                        class="btn btn-lg btn-outline-dark fw-semibold"
                        data-bs-dismiss="modal"
                        style="border: 1px solid black !important"
                        hx-target="#options-accordion">
                  <i class="bi bi-download me-2"></i>{% trans "Load" %}
                </button>
              </div>
            </li>


            <li class="card p-3"
                style="box-shadow: None !important;
                       border: 1px solid #414141 !important">
              <div class="card-header align-items-center">
                <div class="card-title fs-5 my-auto text-truncate me-2 fw-semibold"
                     style="letter-spacing: -0.025rem"
                     title="Test preset">
                  <span>
                    <i class="bi bi-globe-americas text-secondary me-1 fs-5 text-primary"
                       title="{% trans 'Shared with everyone' %}"></i>
                  </span>
                  Design with border instead of shadow
                </div>
                <div class="d-flex align-items-center">
                  <button type="button"
                          class="btn btn-light btn-sm rounded-circle"
                          data-bs-toggle="dropdown"
                          aria-expanded="false">
                    <i class="bi bi-three-dots"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-star me-2"></i>{% trans "Favorite" %}</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-heart me-2"></i>{% trans "Like" %}</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-box-arrow-up me-2"></i>{% trans "Share" %}</a>
                    </li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-pencil me-2"></i>{% trans "Edit" %}</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-trash me-2"></i>{% trans "Delete" %}</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="card-body pt-2"
                   style="line-height: 1.25rem;
                          font-size: 0.875rem">
                <p class="preset-description card-text text-muted"
                   style="min-height: 4.5rem !important;
                          -webkit-box-orient: vertical !important;
                          display: -webkit-box !important;
                          -webkit-line-clamp: 4 !important;
                          overflow: hidden !important;
                          text-overflow: ellipsis !important;
                          white-space: normal !important">
                  This design uses a three-dots menu in the upper right corner instead of individual action buttons. All actions are now located in the dropdown menu, and the edit button has been removed from the footer.
                </p>
              </div>
              <div class="card-footer w-100">
                <button type="button"
                        class="btn btn-lg btn-outline-dark fw-semibold"
                        data-bs-dismiss="modal"
                        style="border: 1px solid black !important"
                        hx-target="#options-accordion">
                  <i class="bi bi-download me-2"></i>{% trans "Load" %}
                </button>
              </div>
            </li>


            <li class="card p-3"
                style="box-shadow: None !important;
                       border: 1px solid #414141 !important">
              <div class="card-header align-items-center">
                <div class="card-title fs-5 my-auto text-truncate me-2 fw-semibold"
                     style="letter-spacing: -0.025rem"
                     title="Test preset">
                  <span>
                    <i class="bi bi-globe-americas text-secondary me-1 fs-5 text-primary"
                       title="{% trans 'Shared with everyone' %}"></i>
                  </span>
                  Design with border instead of shadow
                </div>
                <div class="d-flex align-items-center">
                  <button type="button"
                          class="btn btn-light btn-sm rounded-circle"
                          data-bs-toggle="dropdown"
                          aria-expanded="false">
                    <i class="bi bi-three-dots"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-star me-2"></i>{% trans "Favorite" %}</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-heart me-2"></i>{% trans "Like" %}</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-box-arrow-up me-2"></i>{% trans "Share" %}</a>
                    </li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-pencil me-2"></i>{% trans "Edit" %}</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-trash me-2"></i>{% trans "Delete" %}</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="card-body pt-2"
                   style="line-height: 1.25rem;
                          font-size: 0.875rem">
                <p class="preset-description card-text text-muted"
                   style="min-height: 4.5rem !important;
                          -webkit-box-orient: vertical !important;
                          display: -webkit-box !important;
                          -webkit-line-clamp: 4 !important;
                          overflow: hidden !important;
                          text-overflow: ellipsis !important;
                          white-space: normal !important">
                  This design uses a three-dots menu in the upper right corner instead of individual action buttons. All actions are now located in the dropdown menu, and the edit button has been removed from the footer.
                </p>
              </div>
              <div class="card-footer w-100">
                <button type="button"
                        class="btn btn-lg btn-outline-dark fw-semibold"
                        data-bs-dismiss="modal"
                        style="border: 1px solid black !important"
                        hx-target="#options-accordion">
                  <i class="bi bi-download me-2"></i>{% trans "Load" %}
                </button>
              </div>
            </li>


            <li class="card p-3"
                style="box-shadow: None !important;
                       border: 1px solid #414141 !important">
              <div class="card-header align-items-center">
                <div class="card-title fs-5 my-auto text-truncate me-2 fw-semibold"
                     style="letter-spacing: -0.025rem"
                     title="Test preset">
                  <span>
                    <i class="bi bi-globe-americas text-secondary me-1 fs-5 text-primary"
                       title="{% trans 'Shared with everyone' %}"></i>
                  </span>
                  Design with border instead of shadow
                </div>
                <div class="d-flex align-items-center">
                  <button type="button"
                          class="btn btn-light btn-sm rounded-circle"
                          data-bs-toggle="dropdown"
                          aria-expanded="false">
                    <i class="bi bi-three-dots"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-star me-2"></i>{% trans "Favorite" %}</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-heart me-2"></i>{% trans "Like" %}</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-box-arrow-up me-2"></i>{% trans "Share" %}</a>
                    </li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-pencil me-2"></i>{% trans "Edit" %}</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-trash me-2"></i>{% trans "Delete" %}</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="card-body pt-2"
                   style="line-height: 1.25rem;
                          font-size: 0.875rem">
                <p class="preset-description card-text text-muted"
                   style="min-height: 4.5rem !important;
                          -webkit-box-orient: vertical !important;
                          display: -webkit-box !important;
                          -webkit-line-clamp: 4 !important;
                          overflow: hidden !important;
                          text-overflow: ellipsis !important;
                          white-space: normal !important">
                  This design uses a three-dots menu in the upper right corner instead of individual action buttons. All actions are now located in the dropdown menu, and the edit button has been removed from the footer.
                </p>
              </div>
              <div class="card-footer w-100">
                <button type="button"
                        class="btn btn-lg btn-outline-dark fw-semibold"
                        data-bs-dismiss="modal"
                        style="border: 1px solid black !important"
                        hx-target="#options-accordion">
                  <i class="bi bi-download me-2"></i>{% trans "Load" %}
                </button>
              </div>
            </li>


            <li class="card p-3"
                style="box-shadow: None !important;
                       border: 1px solid #414141 !important">
              <div class="card-header align-items-center">
                <div class="card-title fs-5 my-auto text-truncate me-2 fw-semibold"
                     style="letter-spacing: -0.025rem"
                     title="Test preset">
                  <span>
                    <i class="bi bi-globe-americas text-secondary me-1 fs-5 text-primary"
                       title="{% trans 'Shared with everyone' %}"></i>
                  </span>
                  Design with border instead of shadow
                </div>
                <div class="d-flex align-items-center">
                  <button type="button"
                          class="btn btn-light btn-sm rounded-circle"
                          data-bs-toggle="dropdown"
                          aria-expanded="false">
                    <i class="bi bi-three-dots"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-star me-2"></i>{% trans "Favorite" %}</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-heart me-2"></i>{% trans "Like" %}</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-box-arrow-up me-2"></i>{% trans "Share" %}</a>
                    </li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-pencil me-2"></i>{% trans "Edit" %}</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"><i class="bi bi-trash me-2"></i>{% trans "Delete" %}</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="card-body pt-2"
                   style="line-height: 1.25rem;
                          font-size: 0.875rem">
                <p class="preset-description card-text text-muted"
                   style="min-height: 4.5rem !important;
                          -webkit-box-orient: vertical !important;
                          display: -webkit-box !important;
                          -webkit-line-clamp: 4 !important;
                          overflow: hidden !important;
                          text-overflow: ellipsis !important;
                          white-space: normal !important">
                  This design uses a three-dots menu in the upper right corner instead of individual action buttons. All actions are now located in the dropdown menu, and the edit button has been removed from the footer.
                </p>
              </div>
              <div class="card-footer w-100">
                <button type="button"
                        class="btn btn-lg btn-outline-dark fw-semibold"
                        data-bs-dismiss="modal"
                        style="border: 1px solid black !important"
                        hx-target="#options-accordion">
                  <i class="bi bi-download me-2"></i>{% trans "Load" %}
                </button>
              </div>
            </li>
          </ul>
        {% endif %}
      </div>
    </div>
  </div>

</div>
