{% load i18n %}
{% load rules %}
{% has_perm "chat.edit_preset" user preset as can_edit_preset %}

<li class="card {{ preset.options.mode }}"
    tabindex="0"
    data-default="{{ preset.default }}"
    data-mode="{{ preset.options.mode }}"
    data-sharing="{{ preset.sharing_option }}"
    data-language="{{ preset.language }}">
  <div class="card-header align-items-center">
    <h6 class="card-title my-auto text-truncate me-2"
        title="{{ preset.name_auto }}">{{ preset.name_auto }}</h6>
    <div class="d-flex align-items-center">
      {% if can_edit_preset %}
        {% include "chat/modals/presets/edit_icon.html" %}
      {% endif %}
      {% include "chat/modals/presets/default_icon.html" %}
    </div>
  </div>

  <div class="card-body pt-2">
    <div class="info-section">
      {% include "chat/modals/presets/mode_badge.html" %}
      {% include "chat/modals/presets/shared_icon.html" %}
      {% include "chat/modals/presets/current_icon.html" %}
    </div>

    <p class="preset-description card-text">{{ preset.description_auto }}</p>

  </div>

  <div class="visually-hidden">
    <a class="preset-load-link"
       data-bs-dismiss="modal"
       href="#"
       hx-post="{% url 'chat:chat_options' chat_id=chat_id action='load_preset' preset_id=preset.id %}"
       hx-target="#options-accordion"
       hx-swap="outerHTML">{% trans "Load settings" %}</a>
  </div>
</li>
