{% load i18n %}
{% load chat_tags %}
{% load static %}
{% load rules %}
{% has_perm "chat.edit_preset" user preset as can_edit_preset %}
{% has_perm "chat.delete_preset" user preset as can_delete %}
{% has_perm "chat.edit_preset_sharing" user preset as can_edit_preset_sharing %}
{% get_current_language as LANGUAGE_CODE %}
<li class="card p-2"
    data-default="{{ preset.default }}"
    style="box-shadow: 1px solid;
           height">
  <div class="card-header flex-column">
    <div class="d-flex justify-content-between w-100 fs-6 header-buttons-and-icons">
      <div class="me-auto share-icon">{% include "chat/modals/presets/shared_icon.html" %}</div>
      <div class="d-flex align-items-center">
        <div id="default-button-{{ preset.id }}">{% include "chat/modals/presets/default_icon.html" %}</div>
        {% if can_edit_preset_sharing %}
          <button id="share-button"
                  type="button"
                  title="Share preset"
                  class="btn btn-light rounded-circle"
                  hx-get="{% url 'chat:share_preset' chat_id=chat_id preset_id=preset.id %}"
                  hx-target="#presets-modal-body"
                  hx-swap="innerHTML transition:true">
            <i class="bi bi-share me-2 fs-6"></i>
          </button>
        {% endif %}
        {% if can_delete %}
          <button id="delete-preset-button"
                  type="button"
                  class="btn btn-light rounded-circle fs-6"
                  title="Delete preset"
                  hx-get="{% url 'chat:chat_options' chat_id=chat_id action='delete_preset' preset_id=preset.id %}"
                  hx-target="#presets-modal-body"
                  hx-swap="innerHTML transition:true"
                  hx-confirm="{% trans 'Are you sure you want to delete this preset?' %}">
            <i class="bi bi-trash"></i>
          </button>
        {% endif %}
      </div>
    </div>
 
 
    <div class="card-title text-truncate me-2 fw-semibold fs-5 me-auto"
         style="letter-spacing: -0.025rem"
         title="{% if LANGUAGE_CODE == 'en' %} {% if preset.name_en %} {{ preset.name_en }} {% else %} {{ preset.name_fr }} {% endif %} {% else %} {% if preset.name_fr %} {{ preset.name_fr }} {% else %} {{ preset.name_en }} {% endif %} {% endif %}">

      {% if LANGUAGE_CODE == 'en' %}
        {% if preset.name_en %}
          {{ preset.name_en }}
        {% else %}
          {{ preset.name_fr }}
        {% endif %}
      {% else %}
        {% if preset.name_fr %}
          {{ preset.name_fr }}
        {% else %}
          {{ preset.name_en }}
        {% endif %}
      {% endif %}
    </div>
  </div>
  <div class="card-body pt-2">
    <div class="text-wrapper">
      <p class="preset-description card-text text-muted"
         style="line-height: 1.5;
                min-height: calc(1.5em * 2);
                -webkit-box-orient: vertical;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal">{% get_preset_description preset LANGUAGE_CODE %}</p>
    </div>
  </div>
  <div class="card-footer w-100">
    <button type="button"
            class="btn btn-lg fs-6 load-button"
            data-bs-dismiss="modal"
            hx-post="{% url 'chat:chat_options' chat_id=chat_id action='load_preset' preset_id=preset.id %}"
            hx-target="#options-accordion">{% trans "Load" %}</button>
    {% if can_edit_preset %}
      <button type="button"
              class="btn btn-lg btn-outline-dark fs-6 edit-button"
              hx-get="{% url 'chat:edit_preset' chat_id=chat_id preset_id=preset.id %}"
              hx-target="#presets-modal-body"
              hx-swap="innerHTML transition:true">{% trans "Edit" %}</button>
    {% endif %}
  </div>

</li>
