{% load i18n %}

{% if is_favourite or preset.favourite %}
  <button type="button"
          class="btn btn-light rounded-circle"
          title="{% trans 'Remove from favourites' %}"
          hx-get="{% url 'chat:set_preset_favourite' preset_id=preset.id %}"
          hx-target="this"
          hx-swap="outerHTML">
    <i class="bi bi-heart-fill"></i>
  </button>
{% else %}
  <button type="button"
          class="btn btn-light rounded-circle"
          title="{% trans 'Add to favourites' %}"
          hx-get="{% url 'chat:set_preset_favourite' preset_id=preset.id %}"
          hx-target="this"
          hx-swap="outerHTML">
    <i class="bi bi-heart"></i>
  </button>
{% endif %}
