{% load i18n %}

<div class="modal-body preset-form-container">
  <div class="d-flex flex-column">
    <ul class="nav nav-tabs nav-fill mx-3"
        id="preset-edit-tabs"
        role="tablist">
      <li class="nav-item" role="presentation">
        <button id="en-preset-tab"
                class="active nav-link"
                data-bs-target="#en-preset-tab-pane"
                data-bs-toggle="pill"
                type="button"
                role="tab"
                aria-controls="en-preset-tab-pane"
                aria-selected="true">EN</button>
      </li>
      <li class="nav-item" role="presentation">
        <button id="fr-preset-tab"
                class="nav-link"
                data-bs-target="#fr-preset-tab-pane"
                data-bs-toggle="pill"
                type="button"
                role="tab"
                aria-controls="fr-preset-tab-pane"
                aria-selected="false">FR</button>
      </li>
    </ul>

    <div class="tab-content rounded px-3 mb-3 border">
      <form class="g-3 mt-1 row" id="edit_preset_form" method="post">
        {% csrf_token %}
        <div class="col-12">
          <div id="en-content" class="language-content active">
            <div class="mb-3">
              <label class="form-label" for="id_name_en">
                {% trans "Title (English)" %}<span style="color: red;">*</span>
              </label>
              {{ form.name_en }}
            </div>
            <div class="mb-3">
              <label class="form-label" for="id_description_en">{% trans "Description (English)" %}</label>
              {{ form.description_en }}
            </div>
          </div>
          <div id="fr-content" class="language-content">
            <div class="mb-3">
              <label class="form-label" for="id_name_fr">
                {% trans "Title (French)" %}<span style="color: red;">*</span>
              </label>
              {{ form.name_fr }}
            </div>
            <div class="mb-3">
              <label class="form-label" for="id_description_fr">{% trans "Description (French)" %}</label>
              {{ form.description_fr }}
            </div>
          </div>
        </div>
        <div class="col-12">
          <label class="form-label" for="id_sharing">{% trans "Privacy controls" %}</label>
          <div class="sharing-options d-flex gap-4">
            {% for radio in form.sharing_option %}<div class="form-check">{{ radio }}</div>{% endfor %}
          </div>
        </div>
        <div class="col-12" id="public_fields">
          <div>
            <label class="form-label" for="id_accessible_to">{% trans "Accessible to: " %}</label>
            {{ form.accessible_to }}
          </div>
        </div>
        {% if preset_id %}
          <div class="col-12">
            <div class="form-check">
              <input class="form-check-input"
                     type="checkbox"
                     id="id_replace_with_settings"
                     name="replace_with_settings"
                     {% if replace_with_settings %}checked{% endif %}>

              <label class="form-check-label" for="id_replace_with_settings">{% trans "Replace with current settings" %}</label>
            </div>
          </div>
        {% endif %}
        <div id="error-message">
          {% if error_message %}<div class="alert alert-danger" role="alert">{{ error_message }}</div>{% endif %}
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer pb-0 pt-1 border-0">
    <div class="col-12">
      <div class="row">
        <div class="col-6">
          <button id="cancel_preset"
                  class="btn btn-outline-secondary w-25 flex-fill me-2"
                  hx-get="{% url 'chat:get_presets' chat_id=chat_id %}"
                  hx-target="#presets-modal-body"
                  hx-swap="innerHTML transition:true"
                  type="button">{% trans "Cancel" %}</button>
 
          {% if preset_id %}
            <button id="delete_preset"
                    class="btn btn-outline-danger w-25 flex-fill"
                    hx-get="{% url 'chat:chat_options' chat_id=chat_id action='delete_preset' preset_id=preset_id %}"
                    hx-target="#presets-modal-body"
                    hx-swap="innerHTML transition:true"
                    hx-confirm="{% trans 'Are you sure you want to delete this preset?' %}"
                    type="button">{% trans "Delete" %}</button>
          {% endif %}
        </div>
        <div class="col-6 text-end">
          <button id="save_preset"
                  class="btn btn-dark flex-fill w-25"
                  type="submit"
                  hx-post="{% if preset_id %}{% url 'chat:chat_options' chat_id=chat_id action='save_preset' preset_id=preset_id %}{% else %}{% url 'chat:chat_options' chat_id=chat_id action='save_preset' %}{% endif %}"
                  hx-include="#edit_preset_form"
                  hx-target="#presets-modal-body"
                  hx-swap="innerHTML">{% trans "Save" %}</button>
 
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.body.addEventListener('htmx:afterSettle', function() {
    const publicFields = document.getElementById('public_fields');
    const enTab = document.getElementById('en-preset-tab');
    const frTab = document.getElementById('fr-preset-tab');
    const enContent = document.getElementById('en-content');
    const frContent = document.getElementById('fr-content');
    const sharingOptionInputs = document.querySelectorAll('input[name="sharing_option"]');

    function togglePublicFields() {
      const selectedOption = document.querySelector('input[name="sharing_option"]:checked');
      if (selectedOption){
          publicFields.style.display = selectedOption.value === 'others' ? 'block' : 'none';
      }
    }
    
        

    function switchLanguage(lang) {
      if (lang === 'en') {
        enContent.classList.add('active');
        frContent.classList.remove('active');
        enTab.classList.add('active');
        frTab.classList.remove('active');
      } else {
        frContent.classList.add('active');
        enContent.classList.remove('active');
        frTab.classList.add('active');
        enTab.classList.remove('active');
      }
    }

    sharingOptionInputs.forEach(input => {
        input.addEventListener('change', togglePublicFields);
    });

    togglePublicFields(); // Set initial state

    if (enTab && frTab) {
      enTab.addEventListener('click', () => switchLanguage('en'));
      frTab.addEventListener('click', () => switchLanguage('fr'));
    }
  });
</script>
