{% load i18n %}

{% block page_css %}

  <style>
  .nav-link {
    color: var(--bs-body-color);
    font-size: 0.875rem;
    font-weight: 600;

    &:hover {
      color: var(--bs-gray-900);
      font-weight: bold outline: none;
    }

    &:focus-visible {
      outline: none;
      box-shadow: 0 0 0 0.15rem rgba(66, 70, 73, 0.5);
    }
  }
  </style>

{% endblock page_css %}

<div class="modal-body">

  <div class="d-flex flex-column">
    <ul class="nav nav-underline nav-fill"
        id="presset-edit-tabs"
        role="tablist">

      <li class="nav-item" role="presentation">
        <button id="en-preset-tab"
                class="active nav-link"
                data-bs-target="#en-preset-tab-pane"
                data-bs-toggle="pill"
                type="button"
                role="tab"
                aria-controls="en-preset-tab-pane"
                aria-selected="true">EN</button>
      </li>
      <li class="nav-item" role="presentation">
        <button id="fr-preset-tab"
                class="nav-link"
                data-bs-target="#fr-preset-tab-pane"
                data-bs-toggle="pill"
                type="button"
                role="tab"
                aria-controls="fr-preset-tab-pane"
                aria-selected="false">FR</button>
      </li>
    </ul>

    <div class="tab-content border-bottom pt-4">

 

      <form class="g-3 mt-1 row">
        <div class="col-12">
          <label class="form-label" for="title_of_preset">Title (required)</label>

          <input type="text"
                 class="form-control"
                 id="title_of_preset"
                 name="title_of_preset"
                 placeholder="Enter title of preset"
                 required>
        </div>
        <div class="col-12">
          <label class="form-label" for="description_of_preset">Description</label>

          <textarea class="form-control"
                    id="description_of_preset"
                    name="description_of_preset"
                    placeholder="Enter description of preset"
                    rows="3"></textarea>
 
        </div>
        <div class="col-12">
          <div class="form-check">
            <input class="form-check-input"
                   type="checkbox"
                   id="make_public"
                   name="make_public">
            <label class="form-check-label" for="make_public">Make preset public</label>
          </div>
        </div>

        <div class="col-12">
          <label class="form-label">{% trans "Editable by:" %}</label>
          {{ form.editable_by }}
          <label class="form-label">{% trans "Viewable by:" %}</label>
          {{ form.viewable_by }}
        </div>
      </div>

    </form>
  </div>
</div>


<div class="modal-footer">

  <div class="col-12 d-flex justify-content-center mt-2">
    <div class="w-50 d-flex">
      <button id="save_preset" class="btn btn-primary flex-fill me-2" type="submit">Save</button>
      <button id="cancel_preset"
              class="btn btn-outline-secondary flex-fill"
              hx-get="{% url 'chat:get_presets' chat_id=chat_id %}"
              hx-target="#presets-modal-body"
              hx-swap="innerHTML transition:true"
              type="button">Cancel</button>
    </div>
  </div>
</div>
