{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="modal-body preset-form-user-choice">
  <div class="row">
    <div class="col-md-6 d-flex flex-grow-1">

      <!-- Update Existing Preset Card -->
      <form hx-post="{% url 'chat:chat_options' chat_id=chat_id action='update_preset' preset_id=preset.id %}"
            {% if confirm_message %}hx-confirm="{{ confirm_message }}"{% endif %}
            hx-swap="innerHTML"
            data-bs-dismiss="modal"
            class="d-flex flex-grow-1">
        {% csrf_token %}
        <button type="submit"
                title="{% trans 'Update preset' %}"
                class="card d-flex flex-grow-1 text-decoration-none text-dark card-button border">

          <div class="card-header">
            <h5 class="card-title mb-0">{% trans "Update preset:" %} {{ preset.name_auto }}</h5>
          </div>
          <div class="card-body">
            <p class="card-text">
              {% if LANGUAGE_CODE == 'en' %}
                You currently have the preset "{{ preset.name_auto }}" loaded. This will update it with your latest changes.
              {% else %}
                Vous avez actuellement le préréglage "{{ preset.name_auto }}" chargé. Cela le mettra à jour avec vos dernières modifications.
              {% endif %}
            </p>
            {% include "chat/modals/presets/public_preset_warning.html" %}
          </div>
        </button>
      </form>
    </div>

    <!-- Create New Preset Card -->
    <div class="col-md-6 d-flex flex-grow-1">
      <form hx-post="{% url 'chat:open_preset_form' chat_id=chat_id %}"
            hx-target="#presets-modal-body"
            hx-swap="innerHTML"
            class="d-flex flex-grow-1">
        {% csrf_token %}
        <button type="submit"
                title="{% trans 'Create new preset' %}"
                class="card d-flex flex-grow-1 text-decoration-none text-dark card-button border">

          <div class="card-header">
            <h5 class="card-title mb-0">{% trans "Create new preset" %}</h5>
          </div>
          <div class="card-body">
            <p class="card-text">{% trans "Create a new preset from your current settings." %}</p>
          </div>
        </button>
      </form>
    </div>
  </div>
</div>
