{% load i18n %}

<span class="badge text-secondary fw-normal pe-0">
  {% if preset.sharing_option == "private" %}
    <i class="bi bi-person-lock text-secondary"></i>
    <span>{% trans "Only me" %}</span>
  {% elif preset.sharing_option == "everyone" %}
    <i class="bi bi-globe-americas text-secondary"></i>
    <span>{% trans 'Everyone' %}</span>
  {% else %}
    <i class="bi bi-people-fill text-secondary"></i>
    {% if preset.sharing_option == "others" %}
      <span>{% trans 'Shared with others' %}</span>
    {% elif preset.sharing_option == "shared_with_me" %}
      <span>{% trans 'Shared with me' %}</span>
    {% endif %}
  {% endif %}
</span>
