<?xml version="1.0" encoding="UTF-8"?>
<configuration>
      <system.web>
         <authorization>
            <allow users="?" />
         </authorization>
      </system.web>
    <system.webServer>
        <security>
            <authentication>
                <anonymousAuthentication enabled="true" />
            </authentication>
        </security>
    </system.webServer>
</configuration>
