{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block page_title %}
  {% trans "Concierge Service - Otto" %}
{% endblock %}

{% block breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item">
    <a href="{% url 'concierge_service:index' %}">{% trans "Concierge Service" %}</a>
  </li>
{% endblock %}

{% block body %}

  <form method="post"
        id="intake-form"
        action="{% url 'concierge_service:intake_form' %}">
    {% csrf_token %}

 
    {% for field in form.visible_fields %}
      <div class="mb-4">
        <label for="{{ field.auto_id }}" class="col-form-label col-form-label-md">{{ field.label }}</label>
        {{ field }}
      </div>
    {% endfor %}

    {{ form.created_by }}
    {{ form.modified_by }}

    <div class="modal-footer">
      <button type="button"
              id="cancelButton"
              class="btn btn-secondary"
              data-bs-dismiss="modal">{% trans "Cancel" %}</button>
      <button type="submit" id="intake-submit-button" class="btn btn-primary">{% trans "Submit" %}</button>
    </div>
  </form>
{% endblock %}
