{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% csrf_token %}

{% block page_title %}
  {% trans "Concierge Service - Otto" %}
{% endblock %}

{% block breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item">
    <a href="{% url 'concierge_service:index' %}">{% trans "Concierge Service" %}</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{% url 'concierge_service:request_list' %}">{% trans "User Requests" %}</a>
  </li>
{% endblock %}

{% block body %}
  <p>{{ ticket.get_status_display }}</p>
  <textarea readonly>{{ ticket.doc_description }}</textarea>
{% endblock %}
