# CM-8 & CM-9: Defines the application's components within the AKS cluster

# SC-13: Ensure secure key management practices
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-vector-pvc
  namespace: otto
spec:
  storageClassName: otto-managed-csi  # Use Azure Managed Disks
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 32Gi

---

apiVersion: apps/v1
kind: StatefulSet # Manages the deployment and scaling of stateful applications with stable identities
metadata:
  name: postgres-vector-db
  namespace: otto
spec:
  serviceName: "postgres-vector-service"  # Required for stable network identity
  replicas: 1
  selector:
    matchLabels:
      app: postgres-vector-db
  template:
    metadata:
      labels:
        app: postgres-vector-db
        tier: backend
    spec:
      containers:
        - name: postgres-vector-db
          image: pgvector/pgvector:pg16
          imagePullPolicy: IfNotPresent
          env:
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: azure-keyvault-secrets
                  key: vectordbpasswordkey
            - name: POSTGRES_DB
              valueFrom:
                configMapKeyRef:
                  name: otto-configmap
                  key: VECTORDB_NAME
            - name: POSTGRES_USER
              valueFrom:
                configMapKeyRef:
                  name: otto-configmap
                  key: VECTORDB_USER
            - name: POSTGRES_MAX_CONNECTIONS
              value: "500"
          ports:
            - containerPort: 5432
          resources:
            requests:
              cpu: "1"
              memory: "4Gi"
            limits:
              cpu: "1"
              memory: "4Gi"
          volumeMounts:
            - name: postgres-vector-volume-mount
              subPath: vectordb
              mountPath: /var/lib/postgresql/data # Data directory for PostgreSQL
            - name: secrets
              mountPath: "/mnt/secrets-store"
              readOnly: true
      volumes:
        - name: postgres-vector-volume-mount
          persistentVolumeClaim:
            claimName: postgres-vector-pvc
        - name: secrets
          csi:
            driver: secrets-store.csi.k8s.io
            readOnly: true
            volumeAttributes:
              secretProviderClass: "azure-keyvault"

---

apiVersion: v1
kind: Service # Exposes the Postgres vector database to other components within the cluster
metadata:
  name: postgres-vector-service
  namespace: otto
spec:
  type: ClusterIP
  selector:
    app: postgres-vector-db
  ports:
  - port: 5432
    targetPort: 5432
