{% load i18n %}

<div class="row">
  <div class="col border-end">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h4>{% trans "Fields to extract" %}</h4>
      <button type="button"
              class="btn btn-success"
              data-bs-toggle="modal"
              data-bs-target="#fieldModal"
              hx-get="{% url 'template_wizard:field_modal' template_id=template.id %}"
              hx-target="#fieldModal .modal-content"
              hx-swap="innerHTML"
              onclick="document.querySelector('#fieldModal .modal-content').innerHTML = ''">
        {% trans "Add field" %}
      </button>
    </div>
    <div class="mb-3">
      {% with template.fields.all as fields %}
        {% include "template_wizard/edit_template/field_list.html" %}
      {% endwith %}
    </div>
    <div class="text-muted small">
      {% trans "Note: Template name and description also influence the extraction results." %}
    </div>
  </div>

  <div class="col">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h4>{% trans "Results on example source" %}</h4>
      <div>
        <div class="d-inline-block me-2"
             style="position: relative;
                    top: 10px;
                    margin-top: -10px">
          <div id="test-fields-spinner" class="spinner text-primary">
            <span class="spinner-border" aria-hidden="true"></span>
            <span class="visually-hidden" role="status">{% trans "Loading" %}</span>
          </div>
        </div>
        <button type="button"
                class="btn btn-outline-success"
                hx-get="{% url 'template_wizard:test_fields' template_id=template.id %}"
                hx-target="#test-fields"
                hx-swap="innerHTML"
                hx-indicator="#test-fields-spinner">{% trans "Test extraction" %}</button>
      </div>
    </div>
    <div id="test-fields"></div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade"
     id="fieldModal"
     tabindex="-1"
     aria-labelledby="fieldModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal content loaded here by HTMX -->
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col text-end">
    <a class="btn btn-primary"
       href="{% url 'template_wizard:edit_layout' template.id %}">
      {% trans "Next" %}<i class="bi bi-chevron-right ms-2"></i>
    </a>
  </div>
</div>
