{% load i18n %}

<div class="row">
  <div class="col-lg-5 border-end">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h4>{% trans "Define template" %}</h4>
      <div>
        <div class="d-inline-block me-2"
             style="position: relative;
                    top: 10px;
                    margin-top: -10px">
          <div id="generate-template-spinner" class="spinner text-primary">
            <span class="spinner-border" aria-hidden="true"></span>
            <span class="visually-hidden" role="status">{% trans "Loading" %}</span>
          </div>
        </div>
        <button type="button"
                class="btn btn-outline-success"
                id="generate-jinja-btn"
                style="display:none"
                hx-post="{% url 'template_wizard:generate_jinja' template_id=template.id %}"
                hx-target="#layout-form-container"
                hx-swap="innerHTML"
                hx-indicator="#generate-template-spinner">{% trans "Generate layout code" %}</button>
        <button type="button"
                class="btn btn-outline-success"
                id="generate-markdown-btn"
                style="display:none"
                hx-post="{% url 'template_wizard:generate_markdown' template_id=template.id %}"
                hx-target="#layout-form-container"
                hx-swap="innerHTML"
                hx-indicator="#generate-template-spinner">{% trans "Generate layout code" %}</button>
      </div>
    </div>
    <div id="layout-form-container">{% include "template_wizard/edit_template/layout_form.html" %}</div>
  </div>
  <div class="col-lg-7">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h4>{% trans "Results on example source" %}</h4>
      <div>
        <div class="d-inline-block me-2"
             style="position: relative;
                    top: 10px;
                    margin-top: -10px">
          <div id="test-layout-spinner" class="spinner text-primary">
            <span class="spinner-border" aria-hidden="true"></span>
            <span class="visually-hidden" role="status">{% trans "Loading" %}</span>
          </div>
        </div>
        <button type="button"
                class="btn btn-outline-success"
                hx-get="{% url 'template_wizard:test_layout' template_id=template.id %}"
                hx-target="#test-layout"
                hx-swap="innerHTML"
                hx-indicator="#test-layout-spinner">{% trans "Test layout" %}</button>
      </div>
    </div>
    <div id="test-layout">
      {% if template.last_test_layout_result %}
        <div class="alert alert-secondary small mb-2">
          <span class="fw-semibold">{% trans "Results from layout type:" %}</span>
          <span class="text-secondary">{{ template.last_test_layout_type }}</span>
          {% if template.last_test_layout_timestamp %}({{ template.last_test_layout_timestamp|date:'Y-m-d H:i' }}){% endif %}
        </div>
        <div class="card p-2 mb-2">
          {% if template.layout_type == 'jinja_rendering' %}
            <iframe style="width:100%; min-height:200px; border:1px solid #ccc">{{ template.last_test_layout_result|safe }}</iframe>
          {% else %}
            <pre class="small">{{ template.last_test_layout_result|safe }}</pre>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
</div>

<script>
const fieldSlugs = [{% for f in top_level_fields %}'{{ f.slug|escapejs }}'{% if not forloop.last %}, {% endif %}{% endfor %}];
const fieldNames = [{% for f in top_level_fields %}'{{ f.field_name|escapejs }}'{% if not forloop.last %}, {% endif %}{% endfor %}];
const fields = fieldSlugs.map((slug, index) => {
  return {
    slug: slug,
    name: fieldNames[index],
  };
});
</script>
