{% load i18n %}

{% load i18n %}

<form class="g-3"
      id="edit_preset_form"
      method="post"
      url="{% if metadata_form.instance.id %}{% url 'template_wizard:edit_template' template_id=metadata_form.instance.id active_tab='metadata' %}{% else %}{% url 'template_wizard:new_template' %}{% endif %}">
  <div class="d-flex flex-column">
    <ul class="nav nav-tabs nav-fill mx-3"
        id="preset-edit-tabs"
        role="tablist">
      <li class="nav-item" role="presentation">
        <button id="en-preset-tab"
                class="active nav-link"
                data-bs-target="#en-preset-tab-pane"
                data-bs-toggle="pill"
                type="button"
                role="tab"
                aria-controls="en-preset-tab-pane"
                aria-selected="true">{% trans "English metadata" %}</button>
      </li>
      <li class="nav-item" role="presentation">
        <button id="fr-preset-tab"
                class="nav-link"
                data-bs-target="#fr-preset-tab-pane"
                data-bs-toggle="pill"
                type="button"
                role="tab"
                aria-controls="fr-preset-tab-pane"
                aria-selected="false">{% trans "French metadata" %}</button>
      </li>
    </ul>

    <div class="tab-content rounded px-3 border">
      {% csrf_token %}
      <input type="hidden" name="prompt" value="">
      <div id="error-message"
           class="alert alert-danger d-none mt-3"
           role="alert"
           tabindex="-1"></div>
      <div class="col-12 mt-3">
        <div id="en-content" class="language-content active">
          <div class="mb-3">
            <label class="form-label" for="id_name_en">
              {% trans "Title (English)" %}<span class="ms-1 text-danger">*</span>
            </label>
            {{ metadata_form.name_en }}
          </div>
          <div class="mb-3">
            <label class="form-label" for="id_description_en">{% trans "Description (English)" %}</label>
            {{ metadata_form.description_en }}
          </div>
        </div>
        <div id="fr-content" class="language-content">
          <div class="mb-3">
            <label class="form-label" for="id_name_fr">
              {% trans "Title (French)" %}<span class="ms-1 text-danger">*</span>
            </label>
            {{ metadata_form.name_fr }}
          </div>
          <div class="mb-3">
            <label class="form-label" for="id_description_fr">{% trans "Description (French)" %}</label>
            {{ metadata_form.description_fr }}
          </div>
        </div>
      </div>
    </div>
    {% if metadata_form.sharing_option %}
      <div class="card mt-3 p-3 border">
        <div class="col-12">
          <label class="form-label fw-semibold mb-3" for="id_sharing">{% trans "Sharing" %}</label>
          <div class="sharing-options d-flex gap-4">
            {% for radio in metadata_form.sharing_option %}
              <div class="form-check">
                {{ radio.tag }}
                <label class="form-check-label" for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-12 mt-2 d-none" id="other_users">
          <div>
            <label class="form-label" for="id_accessible_to">{% trans "Share with:" %}</label>
            {{ metadata_form.accessible_to }}
          </div>
        </div>
      </div>
    {% else %}
      <input type="hidden"
             name="sharing_option"
             value="{{ metadata_form.existing_sharing_option.value }}">
      <input type="hidden"
             name="accessible_to"
             value="{{ metadata_form.accessible_to.value }}">
    {% endif %}
    {% include "chat/modals/presets/public_preset_warning.html" %}
  </div>
  <div class="row mt-3">
    <div class="col text-end">
      <button class="btn btn-primary" type="submit" onclick="">
        {% trans "Save & next" %}<i class="bi bi-chevron-right ms-2"></i>
      </button>
    </div>
  </div>
</form>

<script>
(function() {
  const enTab = document.getElementById('en-preset-tab');
  const frTab = document.getElementById('fr-preset-tab');
  const enContent = document.getElementById('en-content');
  const frContent = document.getElementById('fr-content');

  function switchLanguage(lang) {
    if (lang === 'en') {
      enContent.classList.add('active');
      frContent.classList.remove('active');
      enTab.classList.add('active');
      frTab.classList.remove('active');
    } else {
      frContent.classList.add('active');
      enContent.classList.remove('active');
      frTab.classList.add('active');
      enTab.classList.remove('active');
    }
  }

  if (enTab && frTab) {
    enTab.addEventListener('click', () => switchLanguage('en'));
    frTab.addEventListener('click', () => switchLanguage('fr'));
  }

  const otherUsers = document.getElementById('other_users');
  if (otherUsers === null) return;
  
  const initially_public = {% if is_public %}true{% else %}false{% endif %};
  const sharingOptionInputs = document.querySelectorAll('input[name="sharing_option"]');

  function toggleWarning(display_warning) {
    if (display_warning) {
      document.getElementById("public-preset-warning").classList.remove("d-none");
    } else {
      document.getElementById("public-preset-warning").classList.add("d-none");
    }
  }

  function toggleOtherUsers() {
    const selectedOption = document.querySelector('input[name="sharing_option"]:checked');
    if (selectedOption) {
      if (selectedOption.value === 'others') {
        otherUsers.classList.remove('d-none');
      } else {
        otherUsers.classList.add('d-none');
      }
      if (!initially_public) {
        toggleWarning(selectedOption.value === "everyone");
      }
    }
  }

  sharingOptionInputs.forEach(input => {
    input.addEventListener('change', toggleOtherUsers);
  });

  toggleOtherUsers(); // Set initial state

})();
</script>
