{% load i18n %}

<div class="row">
  <div class="col-lg-5 border-end mb-3">{% include "template_wizard/_add_sources_forms.html" %}</div>
  <div class="col-lg-7">
    {% if session.sources.all %}
      {% include "template_wizard/_sources_list.html" %}
    {% elif session.is_example_session %}
      <p class="mb-3">
        {% trans "Add at least one <span class='fw-semibold'>example</span> of the type of document you want to extract information from." %}
      </p>
      <p class="mb-0">
        {% trans "Optionally, if you have an <span class='fw-semibold'>existing template</span> (e.g. Word, PDF), add it and select 'Example template'." %}
      </p>
    {% else %}
      <p class="mb-0 text-secondary">{% trans "No sources added yet." %}</p>
    {% endif %}
  </div>
</div>
