{% load i18n %}

{% if template.last_test_layout_result %}
  <div class="alert alert-secondary small mb-2">
    <span class="fw-semibold">{% trans "Results from layout type:" %}</span>
    <span class="text-secondary">{{ template.get_last_test_layout_type_display }}</span>
    {% if template.last_test_layout_timestamp %}({{ template.last_test_layout_timestamp|date:'Y-m-d H:i' }}){% endif %}
  </div>
  {% if template.last_test_layout_type == "jinja_rendering" %}
    {% include "template_wizard/edit_template/test_layout_fragment_jinja.html" %}
  {% elif template.last_test_layout_type == "markdown_substitution" or template.last_test_layout_type == "llm_generation" %}
    {% include "template_wizard/edit_template/test_layout_fragment_markdown.html" %}
  {% else %}
    {% include "template_wizard/edit_template/test_layout_fragment_word.html" %}
  {% endif %}
{% endif %}
