{# Recursive fragment for displaying a dictionary as a definition list #}
{% load recursion_filters %}
<dl class="row">
  {% for key, value in dict_data.items %}
    <dt class="col-sm-3">{{ key }}</dt>
    <dd class="col-sm-9">
      {% if value|is_dict %}
        {% include "template_wizard/edit_template/test_fields_dict_fragment.html" with dict_data=value %}
      {% elif value|is_list %}
        <ul class="list-unstyled">
          {% for item in value %}
            <li>
              {% if item|is_dict %}
                {% include "template_wizard/edit_template/test_fields_dict_fragment.html" with dict_data=item %}
              {% elif item|is_list %}
                <ul>
                  {% for subitem in item %}<li>{{ subitem }}</li>{% endfor %}
                </ul>
              {% else %}
                {{ item }}
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% else %}
        {{ value }}
      {% endif %}
    </dd>
  {% endfor %}
</dl>
