{% load recursion_filters %}

<ul class="list-unstyled">
  {% for item in list_data %}
    <li class="mb-1">
      {% if item|is_dict %}
        {% include "template_wizard/edit_template/test_fields_dict_fragment.html" with dict_data=item show_rule=False %}
      {% elif item|is_list %}
        {% include "template_wizard/edit_template/test_fields_list_fragment.html" with list_data=item %}
      {% else %}
        <span class="small text-wrap">{{ item }}</span>
      {% endif %}
    </li>
  {% endfor %}
</ul>
