{% load recursion_filters %}

<dl class="row gy-0">
  {% for key, value in dict_data.items %}
    <dt class="col-sm-3 text-truncate small fw-semibold" title="{{ key }}">{{ key }}</dt>
    <dd class="col-sm-9 mb-0">
      {% if value|is_dict %}
        {% include "template_wizard/edit_template/test_fields_dict_fragment.html" with dict_data=value %}
      {% elif value|is_list %}
        {% include "template_wizard/edit_template/test_fields_list_fragment.html" with list_data=value %}
      {% else %}
        <span class="d-block text-wrap small">{{ value }}</span>
      {% endif %}
    </dd>
  {% endfor %}
</dl>

{% if show_rule %}<hr class="my-2">{% endif %}
