{# Recursive fragment for displaying a dictionary as a definition list #}
{% load recursion_filters %}

<dl class="row">
  {% for key, value in dict_data.items %}
    <dt class="col-sm-3">{{ key }}</dt>
    <dd class="col-sm-9">
      {% if value|is_dict %}
        {% include "template_wizard/edit_template/test_fields_dict_fragment.html" with dict_data=value %}
      {% elif value|is_list %}
        {% include "template_wizard/edit_template/test_fields_list_fragment.html" with list_data=value %}
      {% else %}
        {{ value }}
      {% endif %}
    </dd>
  {% endfor %}
</dl>
{% if show_rule %}<hr class="mt-0 mb-3">{% endif %}
