{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block body_classes %}chat{% endblock %}

{% block page_css %}
  <link rel="stylesheet" href="{% static 'chat/style.css' %}">
 
  <script src="{% static 'thirdparty/driver.js.iife.1.3.4.js' %}"></script>
  <link rel="stylesheet"
        href="{% static 'thirdparty/css/driver.1.3.4.css' %}" />
{% endblock %}

{% block page_script %}
  <script src="{% static 'thirdparty/htmx_ext_sse.js' %}"></script>
  <script>const chat_id = "{{ chat.id }}";</script>
  {% include "chat/components/chat_tour_steps.html" %}
  {% include "components/tour_script.html" %}
{% endblock %}

{% block page_title %}
  {% include "chat/components/chat_title.html" %}
{% endblock %}

{% block content_container %}
  <main id="chat-outer" class="{{ mode }}">
    {% include 'chat/components/file_upload.html' %}
    <div id="chat-flexbox" class="d-flex justify-content-between mb-3">
      {% include 'chat/components/chat_history_sidebar.html' %}
      <div id="chat-container" class="flex-grow-1">
        <div class="position-relative">
          <div class="position-absolute dropdown top-0 mx-5 end-0 bg-light rounded-circle">
            <button type="button"
                    id="help-button"
                    class="btn"
                    title="{% trans 'Help' %}"
                    data-bs-toggle="dropdown"
                    aria-controls="help-menu"
                    aria-haspopup="true"
                    aria-expanded="false">
              <i class="bi bi-question-circle fs-5 text-muted"></i>
            </button>
            <ul id="help-menu"
                role="menu"
                class="dropdown-menu bg-light shadow"
                aria-labelledby="help-button">
              <li role="presentation">
                <button id="start-tour"
                        role="menuitem"
                        class="d-flex dropdown-item g-0 bg-light"
                        onclick="openLeftSidebar(); driverObj.drive();">
                  <div class="me-2">
                    <i class="bi bi-airplane" style="font-size: .80rem;"></i>
                  </div>
                  {% trans 'AI Assistant Walkthrough (1 min)' %}
                </button>
              </li>
              <li role="presentation">
                <a id="contact-us"
                   role="menuitem"
                   class="d-flex dropdown-item g-0 bg-light"
                   href="mailto:otto@justice.gc.ca">
                  <div class="me-2">
                    <i class="bi bi-envelope" style="font-size: .85rem"></i>
                  </div>
                {% trans 'Contact us' %}</a>
              </li>
            </ul>
          </div>
        </div>
        <button class="btn btn-light btn-lg position-fixed chat-sidebar-toggle start-0"
                style="z-index:1"
                type="button"
                aria-controls="left-sidebar"
                id="left-sidebar-toggle"
                onClick="scrollToListItem();">
          <i class="bi bi-plus-square"></i>
          <span class="visually-hidden">{% trans "Toggle chat history sidebar" %}</span>
        </button>
        <button class="btn btn-light btn-lg position-fixed end-0 chat-sidebar-toggle"
                style="z-index:1"
                type="button"
                aria-controls="right-sidebar"
                id="right-sidebar-toggle">
          <i class="bi bi-gear"></i>
          <span class="visually-hidden">{% trans "Toggle chat options sidebar" %}</span>
        </button>
        <div class="container px-5">
          {% if pinned_messages %}
            <div id="pinned-messages-container" class="pb-1 pt-3 border-bottom">
              {% with messages=pinned_messages %}
                {% include 'chat/components/chat_messages.html' %}
              {% endwith %}
            </div>
          {% endif %}
          <div id="messages-container"
               class="{% if pinned_messages %}pt-2{% else %}pt-3{% endif %} px-2">
            {% if not chat_messages and not pinned_messages %}
              {% include 'chat/components/chat_welcome.html' %}
            {% endif %}
            {% include 'chat/components/chat_messages.html' %}
          </div>
        </div>
        {% include 'chat/components/chat_input.html' %}
      </div>
      {% include 'chat/components/chat_options_sidebar.html' %}
    </div>
  </main>
 
  {% include "chat/modals/advanced_qa_modal.html" %}
  {# For modals below, contents ("inner" template) are loaded through HTMX #}
  {% include "chat/modals/sources_modal_outer.html" %}
  {% include "chat/modals/presets/modal.html" %}
  {% include "librarian/modal_outer.html" %}
  {% include "chat/modals/chat_tour_modal.html" %}

  <script src="{% static 'thirdparty/markdown-it.min.js' %}"></script>
  <script src="{% static 'thirdparty/katex.min.js' %}"></script>
  <script src="{% static 'thirdparty/markdown-it-katex.js' %}"></script>
  <script src="{% static 'thirdparty/highlight.js' %}"></script>

  <script src="{% static 'chat/js/scripts.js' %}"></script>
  <script src="{% static 'librarian/scripts.js' %}"></script>

  <link rel="stylesheet" href="{% static 'thirdparty/css/highlightjs.css' %}">
  <link rel="stylesheet" href="{% static 'thirdparty/css/katex.min.css' %}">
{% endblock %}
