{% load i18n %}

<div class="modal fade"
     id="taskDetailModal{{ forloop.counter }}"
     tabindex="-1"
     aria-labelledby="taskDetailModalLabel{{ forloop.counter }}"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="taskDetailModalLabel{{ forloop.counter }}">{% trans "Task Details" %}</h5>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <dl class="row">
          <dt class="col-sm-3">{% trans "Task Name" %}</dt>
          <dd class="col-sm-9">
            {{ task.name }}
          </dd>

          <dt class="col-sm-3">{% trans "Task ID" %}</dt>
          <dd class="col-sm-9">
            {{ task.id }}
          </dd>

          <dt class="col-sm-3">{% trans "Status" %}</dt>
          <dd class="col-sm-9">
            {% if task.status == 'SUCCESS' %}
              <span class="badge bg-success">{{ task.status }}</span>
            {% elif task.status == 'FAILURE' %}
              <span class="badge bg-danger">{{ task.status }}</span>
            {% elif task.status == 'PENDING' %}
              <span class="badge bg-warning">{{ task.status }}</span>
            {% else %}
              <span class="badge bg-secondary">{{ task.status }}</span>
            {% endif %}
          </dd>

          <dt class="col-sm-3">{% trans "Date" %}</dt>
          <dd class="col-sm-9">
            {{ task.date_done }}
          </dd>

          <dt class="col-sm-3">{% trans "Arguments" %}</dt>
          <dd class="col-sm-9">
            <pre class="pre-scrollable">{{ task.args }}</pre>
          </dd>

          <dt class="col-sm-3">{% trans "Keyword Arguments" %}</dt>
          <dd class="col-sm-9">
            <pre class="pre-scrollable">{{ task.kwargs }}</pre>
          </dd>

          <dt class="col-sm-3">{% trans "Result" %}</dt>
          <dd class="col-sm-9">
            <pre class="pre-scrollable">{{ task.result }}</pre>
          </dd>

          {% if task.traceback %}
            <dt class="col-sm-3">{% trans "Traceback" %}</dt>
            <dd class="col-sm-9">
              <pre class="pre-scrollable">{{ task.traceback }}</pre>
            </dd>
          {% endif %}
        </dl>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Close" %}</button>
      </div>
    </div>
  </div>
</div>
