{% load i18n %}

<button type="button"
        class="btn btn-dark text-muted px-1 me-0 text-center"
        id="theme"
        onClick="(() => { const theme = document.documentElement.getAttribute('data-bs-theme') === 'dark' ? 'light' : 'dark'; setStoredTheme(theme); setTheme(theme); })()"
        aria-label="{% trans 'Toggle theme' %}"
        aria-expanded="false">
  <i class="bi theme-icon-active bi-moon-stars" id="theme-icon"></i>
  <span class="visually-hidden" id="bd-theme-text">{% trans "Toggle theme" %}</span>
</button>
