{% load i18n %}

<form hx-post="{% url 'user_feedback' message_id=message_id %}">
  <div class="modal-body">{% include 'components/feedback_form_elements.html' %}</div>
  <div class="modal-footer">
    <button type="button"
            id="cancelButton"
            class="btn btn-secondary"
            data-bs-dismiss="modal">{% trans "Cancel" %}</button>
    <button type="submit"
            id="submitButton"
            class="btn btn-primary"
            data-bs-dismiss="modal">{% trans "Submit" %}</button>
  </div>
</form>
