{% load i18n %}
<li class="nav-item dropdown">
  <button type="button"
          id="help-button"
          class="btn btn-dark text-muted px-1 ms-1"
          style="min-width: 25px"
          title="{% trans 'Help' %}"
          data-bs-toggle="dropdown"
          data-bs-auto-close="outside"
          aria-expanded="false">
    <i class="bi bi-question-circle"></i>
  </button>
  <ul id="help-menu" class="dropdown-menu dropdown-menu-end">
    {% if has_tour %}
      <li>
        <button id="start-tour" class="a dropdown-item" onclick="startTour();">
          <i class="bi bi-airplane me-2"></i>
          {% trans 'Start interactive tour' %}
        </button>
      </li>
    {% endif %}
    <li>
      <a id="user-guide"
         class="a dropdown-item"
         href="{% if LANGUAGE_CODE == 'fr' %}https://collaboration.justice.gc.ca/ts/lps-spj/asb-dgas/bac-caa/_layouts/15/DocIdRedir.aspx?ID=1010-1069292447-9{% else %}https://collaboration.justice.gc.ca/ts/lps-spj/asb-dgas/bac-caa/_layouts/15/DocIdRedir.aspx?ID=1010-1069292447-10{% endif %}"
         target="_blank">
        <i class="bi bi-journal-text me-2"></i>
        {% trans 'User guide' %}
      </a>
    </li>
    <li>
      <a href="{% url 'terms_of_use' %}" class="dropdown-item">
        <i class="bi bi-file-earmark-richtext me-2"></i>
        {% trans "Terms of use" %}
      </a>
    </li>
    <li>
      <a id="frequently-asked-questions"
         class="a dropdown-item"
         href="{% url 'frequently_asked_questions' %}">
        <i class="bi bi-question-circle me-2"></i>
        {% trans 'Frequently Asked Questions' %}
      </a>
    </li>
    <li>
      <hr class="dropdown-divider">
    </li>
    <li>
      <a id="contact-us"
         class="a dropdown-item"
         href="mailto:otto@justice.gc.ca">
        <i class="bi bi-envelope me-2"></i>
        {% trans 'Email the Otto team' %}
      </a>
    </li>
  </ul>
</li>
