{% load i18n %}
<li class="nav-item dropdown">
  <button type="button"
          id="help-button"
          class="btn btn-dark text-muted px-1 ms-1"
          style="min-width: 25px"
          title="{% trans 'Help' %}"
          data-bs-toggle="dropdown"
          data-bs-auto-close="outside"
          aria-expanded="false">
    <i class="bi bi-question-circle"></i>
  </button>
  <ul id="help-menu" class="dropdown-menu dropdown-menu-end">
    {% if has_tour %}
      <li>
        <button id="start-tour" class="a dropdown-item" onclick="startTour();">
          <i class="bi bi-airplane me-2"></i>
          {% trans 'Start interactive tour' %}
        </button>
      </li>
    {% endif %}
    <li>
      {# TODO add link to en and fr user guides #}
      <a id="user-guide" class="a dropdown-item" href="" target="_blank">
        <i class="bi bi-journal-text me-2"></i>
        {% trans 'User guide' %}
      </a>
    </li>
    <li>
      <a id="frequently-asked-questions"
         class="a dropdown-item"
         href="{% url 'frequently_asked_questions' %}">
        <i class="bi bi-question-circle me-2"></i>
        {% trans 'Frequently Asked Questions' %}
      </a>
    </li>
    <li>
      <hr class="dropdown-divider">
    </li>
    <li>
      <a id="contact-us"
        class="a dropdown-item"
        {# TODO: add otto email address #}
        href="mailto:">
        <i class="bi bi-envelope me-2"></i>
        {% trans 'Email the Otto team' %}
      </a>
    </li>
  </ul>
</li>
