{% load i18n %}

<form action="{% url 'set_language' %}" method="post">
  {% csrf_token %}
  <input name="next" type="hidden" value="{{ redirect_to }}" />
  {% get_current_language as LANGUAGE_CODE %}
  {% if LANGUAGE_CODE == "en" %}
    <input name="language" type="hidden" value="fr" class="nav-item ms-1" />
    <button type="submit" class="a dropdown-item" lang="fr">Accéder au site en français</button>
  {% else %}
    <input name="language" type="hidden" value="en" />
    <button type="submit" class="a dropdown-item" lang="en">To English site</button>
  {% endif %}
</form>
