{% load i18n %}

<script>
startTour = () => driverObj.drive();
const tourSteps = [
  {
    element: "#user-menu-button",
    popover: {
      title: "{% trans 'User menu' %}",
      description: "{% trans 'Click your name to see your monthly Otto usage, access the Terms of Use, or Logout.' %}",
      onNextClick: () => {
        // Animate meter id="cost-bar-inner" from values 0 to 100
        const meter = document.getElementById("cost-bar-inner");
        const originalValue = meter.value;
        let value = 0;
        const interval = setInterval(() => {
          value += 5;
          meter.value = value;
          if (value >= 100) {
            clearInterval(interval);
            setTimeout(() => {
              meter.value = originalValue;
            }, 2000);
          }
        }, 50);
        driverObj.moveNext();
      },
    }
  },
  {
    element: "#cost-bar-inner",
    popover: {
      title: "{% trans 'Cost meter' %}",
      description: "{% trans 'This meter gradually fills up as you use Otto. It represents your monthly personal budget. If you reach your limit, you will no longer be able to use Otto and will have to contact the Business Analytics Center for a temporary exemption.' %}"
    }
  },
  {
    element: "#feedback-icon",
    popover: {
      title: "{% trans 'Leave feedback' %}",
      description: "{% trans 'Click on this icon to submit feedback about Otto. Let us know what went wrong, or suggest an improvement.'%}"
    }
  },
  {
    element: "#help-button",
    popover: {
      title: "{% trans 'Get help' %}",
      description: "{% trans 'Click the question mark icon to view this tour again, open the user guide, or get help from the Otto team.' %}",
      onNextClick: () => {
        htmx.ajax("POST", '{% url "mark_tour_completed" tour_name="homepage" %}', {swap: "none"});
        driverObj.moveNext();
      },
    }
  },
  {
    element: "#app-list",
    disableActiveInteraction: false,
    popover: {
      title: "{% trans 'Tour complete!' %}",
      description: "{% trans 'Start using Otto by clicking one of the app tiles.' %}",
    },
  },
];

// Keeping track of extra steps for our convenience as we refine the tour
removedSteps = [
  {
    element: "#home-link",
    popover: {
      title: "{% trans 'Go to homepage' %}",
      description: "{% trans 'Click the Otto logo in the top left to return to this page at any time.' %}"
    }
  },
]
delete removedSteps;
</script>
