{% load i18n %}
{% load rules %}
<ul class="navbar-nav position-relative">
  <li class="nav-item dropdown" id="user-menu">
    <div id="cost-bar-outer"
         hx-get="{% url 'user_cost' %}"
         hx-swap="outerHTML"
         hx-trigger='load delay:100ms'
         style="position: absolute;
                bottom: -3px;
                width: calc(100% - 0.75rem);
                margin-left: 0.2rem;
                z-index: 1">
      <meter id="cost-bar-inner"
             class="w-100 d-block"
             style="height: 12px"
             value="0"></meter>
    </div>
    <button class="btn btn-dark text-muted dropdown-toggle px-2"
            data-bs-toggle="dropdown"
            aria-expanded="false">{{ request.user.full_name }}</button>
    <ul class="dropdown-menu dropdown-menu-end">
      {% has_perm "otto.manage_users" request.user as can_manage_users %}
      {% if can_manage_users %}
        <li>
          <a class="a dropdown-item" href="{% url 'manage_users' %}">{% trans "Manage users" %}</a>
          <a class="a dropdown-item" href="{% url 'cost_dashboard' %}">{% trans "Cost dashboard" %}</a>
          <a class="a dropdown-item" href="{% url 'feedback_dashboard' %}">{% trans "Feedback dashboard" %}</a>
        </li>
        <li>
          <hr class="dropdown-divider">
        </li>
      {% endif %}
      <li>
        <a href="{% url 'azure_auth:logout' %}" class="dropdown-item">{% trans "Logout" %}</a>
      </li>
    </ul>
  </li>
</ul>
<script>
(function() {
  let tooltip = null;
  let bs_tooltip = null;
  // On HTMX swap of the "user cost" widget, delete its tooltip
  document.body.addEventListener("htmx:afterSwap", function(event) {
    if (event.target.id !== "cost-bar-outer") {
      return;
    } else if (bs_tooltip) {
      bs_tooltip.hide();
    }
    tooltip = document.querySelector("#cost-bar-outer");
    bs_tooltip = new bootstrap.Tooltip(tooltip, {delay: {show: 50, hide: 300}});
  });
})();
</script>
