{% load i18n %}
<div id="cost-bar-outer"
     hx-get="{% url 'user_cost' %}"
     hx-swap="outerHTML"
     hx-trigger='load delay:60000ms'
     data-bs-toggle="tooltip"
     data-bs-placement="bottom"
     data-bs-html="true"
     data-bs-title="{{ cost_tooltip }}"
     style="position: absolute;
            bottom: -3px;
            width: calc(100% - 0.75rem);
            margin-left: 0.2rem;
            z-index: 1">
     <meter aria-label="{{ cost_label }}"
            id="cost-bar-inner"
            class="w-100 d-block"
            style="height: 12px"
            min="0"
            max="100"
            low="60"
            high="80"
            optimum="0"
            value="{{ cost_percent }}">{{ cost_tooltip }}</meter>
</div>

<li id="user-menu-cost"
    hx-swap-oob="true"
    class="mb-2 p-3 pt-2 mt-0 border-bottom fw-semibold small">{% trans "Used" %} {{ cost_tooltip_short }}</li>
