{% load i18n %}
{% load rules %}

{% if form.instance.id %}
  {% url 'librarian:modal_view_document' document_id=form.instance.id as form_action_url %}
  {% url 'librarian:modal_view_document' document_id=form.instance.id as cancel_url %}
  {% url 'librarian:modal_delete_document' document_id=form.instance.id as delete_url %}
{% else %}
  {% url 'librarian:modal_create_document' data_source_id=form.data_source.value as form_action_url %}
  {% url 'librarian:modal_view_data_source' data_source_id=form.data_source.value as cancel_url %}
  {# No delete URL needed when creating a new document #}
{% endif %}

<form id="document-form" hx-post="{{ form_action_url }}">
  {{ form.non_field_errors }}
  <h6>
    {% if form.instance.id %}
      {% trans "Edit document" %}
    {% else %}
      {% trans "Create document" %}
    {% endif %}
  </h6>
  {% csrf_token %}
  <input type="hidden"
         name="id"
         value="{{ form.instance.id|default_if_none:'' }}">
  {{ form.data_source }}
  {{ form.filename }}
  {% if form.url %}
    <div class="mb-3">
      <label for="{{ form.url.id_for_label }}"
             class="col-form-label col-form-label-sm">{% trans "URL" %}</label>
      {{ form.url.errors }}
      <div class="row">
        <div class="col">{{ form.url }}</div>
        <div class="col-auto col-form-label-sm ps-0">
          <a href="{{ form.url.value }}"
             target="_blank"
             class="text-decoration-none">
            <i class="bi bi-box-arrow-up-right"></i>
            <span class="visually-hidden">{% trans "Open link in new tab" %}</span>
          </a>
        </div>
      </div>
    </div>
  {% endif %}
  {% if form.selector %}
    <div class="mb-3">
      <label for="{{ form.selector.id_for_label }}"
             class="col-form-label col-form-label-sm">{% trans "CSS selector (optional) " %}</label>
      {{ form.selector.errors }}
      {{ form.selector }}
    </div>
  {% endif %}
  <div class="mb-3">
    <label for="{{ form.manual_title.id_for_label }}"
           class="col-form-label col-form-label-sm">{% trans "Title (optional)" %}</label>
    {{ form.manual_title.errors }}
    {{ form.manual_title }}
  </div>
  <div class="row">
    <div class="col">
      <button type="submit" class="btn btn-sm btn-primary me-1">{% trans "Save changes" %}</button>
      <button type="button"
              class="btn btn-sm btn-outline-secondary"
              hx-get="{{ cancel_url }}">{% trans "Cancel" %}</button>
    </div>
    {% if form.instance.id %}
      <div class="col-auto">
        <button type="button"
                class="btn btn-sm btn-outline-danger"
                hx-delete="{{ delete_url }}"
                hx-confirm="{% trans 'DANGER: Are you sure you want to delete this document? This action is permanent.' %}">
          {% trans "Delete" %}
        </button>
      </div>
    {% endif %}
  </div>
</form>
