{% load i18n %}
{% load rules %}

<form id="document-form"
      hx-post="{% if form.instance.id %}{% url 'librarian:modal_existing_item' 'document' form.instance.id %}{% else %}{% url 'librarian:modal_create_from' 'document' form.data_source.value %}{% endif %}">
  {{ form.non_field_errors }}
  <h6>
    {% if form.instance.id %}
      {% trans "Edit document" %}
    {% else %}
      {% trans "Create document" %}
    {% endif %}
  </h6>
  {% csrf_token %}
  {# For some reason I just CANNOT get {{ form.id }} to render, so I have to do this #}
  <input type="hidden"
         name="id"
         value="{{ form.instance.id|default_if_none:'' }}">
  {{ form.data_source }}
  {% if form.url %}
    <div class="mb-3">
      <label for="{{ form.url.id_for_label }}"
             class="col-form-label col-form-label-sm">{% trans "URL" %}</label>
      {{ form.url.errors }}
      {{ form.url }}
    </div>
  {% endif %}
  {% if form.selector %}
    <div class="mb-3">
      <label for="{{ form.selector.id_for_label }}"
             class="col-form-label col-form-label-sm">{% trans "CSS selector (optional) " %}</label>
      {{ form.selector.errors }}
      {{ form.selector }}
    </div>
  {% endif %}
  <div class="mb-3">
    <label for="{{ form.manual_title.id_for_label }}"
           class="col-form-label col-form-label-sm">{% trans "Title (optional)" %}</label>
    {{ form.manual_title.errors }}
    {{ form.manual_title }}
  </div>
  <div class="row">
    <div class="col">
      <button type="submit" class="btn btn-sm btn-primary me-1">{% trans "Save changes" %}</button>
      <button type="button"
              class="btn btn-sm btn-outline-secondary"
              hx-get="{% if form.instance.id %}{% url 'librarian:modal_existing_item' 'document' form.instance.id %}{% else %}{% url 'librarian:modal_existing_item' 'data_source' form.data_source.value %}{% endif %}">
        {% trans "Cancel" %}
      </button>
    </div>
    {% if form.instance.id %}
      <div class="col-auto">
        <button type="button"
                class="btn btn-sm btn-outline-danger"
                hx-delete="{% url 'librarian:modal_existing_item' 'document' form.instance.id %}"
                hx-confirm="{% trans 'DANGER: Are you sure you want to delete this document? This action is permanent.' %}">
          {% trans "Delete" %}
        </button>
      </div>
    {% endif %}
  </div>
</form>
