{% load i18n %}
{% load rules %}

{% url 'librarian:modal_manage_library_users' library_id=form.library.id as form_action_url %}
{% url 'librarian:modal_edit_library' library_id=form.library.id as cancel_url %}

<form hx-post="{{ form_action_url }}" id="library-users-form">
  {{ form.non_field_errors }}
  <h6>{% trans "Edit library users - enter Justice email" %}</h6>
  {% csrf_token %}
  <div hx-disinherit="*">
    <div class="mb-3">
      <label class="col-form-label col-form-label-sm"
             for="{{ form.admins.id_for_label }}">{{ form.admins.label }}</label>
      {{ form.admins.errors }}
      {{ form.admins }}
    </div>
    <div class="mb-3">
      <label class="col-form-label col-form-label-sm"
             for="{{ form.contributors.id_for_label }}">{{ form.contributors.label }}</label>
      {{ form.contributors.errors }}
      {{ form.contributors }}
    </div>
    <div class="mb-3">
      <label class="col-form-label col-form-label-sm"
             for="{{ form.viewers.id_for_label }}">{{ form.viewers.label }}</label>
      {{ form.viewers.errors }}
      {{ form.viewers }}
    </div>
  </div>
  <div>
    <button type="submit" class="btn btn-sm btn-primary me-1">{% trans "Save users" %}</button>
    <button type="button"
            class="btn btn-sm btn-outline-secondary"
            hx-get="{{ cancel_url }}">{% trans "Cancel" %}</button>
  </div>
</form>
