{% load i18n %}
{% load rules %}
{% load autocomplete %}
{% load static %}

<form hx-post="{{ form_action_url }}" id="library-users-form">
  {{ form.non_field_errors }}
  <h6>{% trans "Edit library users - enter Justice email" %}</h6>

  <div hx-disinherit="*">
    <div class="mb-3">
      <label class="col-form-label col-form-label-sm"
             for="{{ form.admins.id_for_label }}">{{ form.admins.label }}</label>
      {{ form.admins.errors }}
      {{ form.admins }}
    </div>
  </div>

</form>
