{% load static %}
{% load i18n %}

<div class="message-outer {% if message.is_bot %}bot{% elif not file_upload and not message.num_files %}user{% endif %} {% if message.awaiting_response %}awaiting-response{% endif %} {% if swap_oob %}show-all{% endif %}"
     id="message_{{ message.id }}"
     {% if swap_oob %}hx-swap-oob="true"{% endif %}>
  <div class="message-meta text-muted">
    <span class="message-author me-1">
      {% if message.is_bot %}
        Otto
      {% elif chat_author %}
        {{ chat_author.full_name }}
      {% else %}
        {{ request.user.full_name }}
      {% endif %}
    </span>
    <span class="message-date">{{ message.date_created|date:"Y-m-d H:i" }}</span>
  </div>
  <div class="d-flex {% if not message.is_bot %}justify-content-end{% endif %}">
    {% if not message.is_bot %}
      <div class="message-mode text-secondary pt-2">
        {% if message.mode == "translate" %}
          <i class="bi bi-translate me-2" title='{% trans "Translate" %}'></i>
        {% elif message.mode == "summarize" %}
          <i class="bi bi-funnel me-2" title='{% trans "Summarize" %}'></i>
        {% elif message.mode == "qa" %}
          <i class="bi bi-journal-text me-2" title='{% trans "Q&A" %}'></i>
        {% endif %}
      </div>
    {% endif %}
    <div class="message-blob {{ mode }}">
      {% if message.awaiting_response %}
        <div class="message-text">{% include "chat/components/streaming_response.html" %}</div>
      {% elif file_upload %}
        <div class="message-text">{% include "chat/components/file_upload_progress.html" %}</div>
      {% elif message.num_files %}
        <div class="message-text">{% include "chat/components/message_files.html" %}</div>
      {% elif message.is_bot %}
        <div class="message-text">
          <div class="markdown-text" data-md="{{ message.json }}">
            {% include "chat/components/default_error_messages.html" %}
          </div>
        </div>
      {% else %}
        {# There cannot be any space between div.message-text and its contents (whitespace: pre-wrap) #}
        <div class="message-text">{{ message.text|escape }}</div>
      {% endif %}
      <div class="row">
        <div class="message-show-all col mt-2" style="line-height:1.75rem">
          <a class="text-body fw-semibold small"
             href="#"
             onclick="this.closest('.message-outer').classList.add('show-all'); return false;">{% trans "Show all..." %}<i class="bi bi-chevron-down ms-1 small"></i></a>
        </div>
        {% if message.sources %}
          {% with sources=message.sources %}
            {% include "chat/components/message_sources.html" %}
          {% endwith %}
        {% endif %}
      </div>
    </div>
  </div>
  {% include "chat/components/message_actions.html" %}
  {% if update_cost_bar %}
    <div hx-get="{% url 'user_cost' %}"
         hx-swap="outerHTML"
         hx-target="#cost-bar-outer"
         hx-trigger='load delay:100ms'></div>
  {% endif %}
</div>

{% if swap_oob %}
  {# Update chat title, security label and user costs widget #}
  {% if message.chat.title %}
    <span class="chat-title fw-semibold"
          id="current-chat-title"
          hx-swap-oob="true"
          data-pagetitle='{% with chat=message.chat %}{% include "chat/components/chat_title.html" %}{% endwith %}'>
      {{ message.chat.title }}
    </span>
  {% endif %}
  {% if security_labels %}
    {% include "chat/components/chat_security_label.html" with chat=message.chat %}
  {% endif %}
{% endif %}
