{% load i18n %}
{% load static %}
<div id="prompt-form-container" class="{{ mode }} d-none">
  <div class="container px-5">
    <form id="prompt-form"
          hx-post="{% url 'chat:chat_message' chat_id=chat.id %}"
          hx-swap="beforeend"
          hx-target="#messages-container"
          class="position-relative">
      <button id="prompt-form-resize-handle" class="btn btn-none" type="button">
        <i class="bi bi-grip-horizontal"></i>
        <span class="visually-hidden">{% trans "Drag or use the up and down arrows to resize." %}</span>
      </button>
      <div id="stop-button" class="d-none"></div>
      <div class="form-group mb-3" id="chat-inputs">
        <div class="card" id="chat-toolbar">
          <div class="row">
            <div class="col">
              <ul class="nav nav-pills" id="chat-modes" role="tablist">
                <li class="nav-item" role="presentation">
                  <button role="tab"
                          class="nav-link chat-option"
                          data-bs-toggle="tooltip"
                          data-bs-placement="top"
                          data-bs-title='{% trans "ChatGPT for writing assistance (not for facts)" %}'
                          type="button"
                          aria-selected="false"
                          onclick="clickCard('chat')">{% trans "Chat" %}</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button role="tab"
                          class="nav-link qa-option"
                          data-bs-toggle="tooltip"
                          data-bs-placement="top"
                          data-bs-title='{% trans "Ask questions about documents" %}'
                          type="button"
                          aria-selected="false"
                          onclick="clickCard('qa')">{% trans "Q&A" %}</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button role="tab"
                          class="nav-link summarize-option"
                          data-bs-toggle="tooltip"
                          data-bs-placement="top"
                          data-bs-title='{% trans "Summarize text, files and URLs" %}'
                          type="button"
                          aria-selected="false"
                          onclick="clickCard('summarize')">{% trans "Summarize" %}</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button role="tab"
                          class="nav-link translate-option"
                          data-bs-toggle="tooltip"
                          data-bs-placement="top"
                          data-bs-title='{% trans "Translate text and files to English or French" %}'
                          type="button"
                          aria-selected="false"
                          onclick="clickCard('translate')">{% trans "Translate" %}</button>
                </li>
              </ul>
            </div>
            <div class="col-auto py-1 px-0 translate-option summarize-option qa-option option">
              <button class="btn btn-sm btn-outline-secondary col-auto text-center"
                      type="button"
                      id="upload-button"
                      aria-label='{% trans "Upload" %}'
                      title='{% trans "Upload" %}'
                      onclick="document.querySelector('#chat-file-input').value=null; document.querySelector('#chat-file-input').click();">
                <i class="bi bi-upload"></i><span class="ms-1 hideable">{% trans "Upload" %}</span>
              </button>
            </div>
            <div class="col-auto p-1 pe-3 ">
              <button id="magic-button"
                      class="btn btn-sm btn-outline-secondary text-center d-none"
                      type="button"
                      data-bs-toggle="modal"
                      data-bs-target="#magicModal"
                      title='{% trans "Improve prompt" %}'
                      aria-label='{% trans "Improve prompt" %}'
                      onclick="setMagicPrompt()">
                <i class="bi bi-magic wand "></i><span class="ms-1 hideable">{% trans "Improve prompt" %}</span>
              </button>
              {% comment %}
              <button class="btn btn-sm btn-outline-secondary text-center" type="button" aria-label='{% trans "Settings" %}' title='{% trans "Settings" %}' onclick="document.querySelector('#right-sidebar-toggle').click(); this.blur();">
                <i class="bi bi-gear"></i><span class="ms-1 hideable">{% trans "Settings" %}</span>
              </button>
              {% endcomment %}
            </div>
          </div>
        </div>
        <div class="input-group">
          <textarea class="form-control col"
                    name="user-message"
                    id="chat-prompt"
                    autocomplete="off"
                    aria-label='{% trans "Message" %}'
                    data-chat-placeholder='{% trans "Enter a message to chat with the AI" %}'
                    data-qa-placeholder='{% trans "Ask a question about the selected documents, upload files or enter a URL to add" %}'
                    data-summarize-placeholder='{% trans "Enter a URL, paste long text or upload files to summarize" %}'
                    data-translate-placeholder='{% trans "Enter text or upload files to translate (select language in sidebar)" %}'
                    required></textarea>
 
          <button id="send-button"
                  class="btn btn-outline-secondary"
                  type="submit"
                  aria-label='{% trans "Send" %}'>
            <i class="bi bi-send"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
 
{% include 'chat/modals/prompt_generator.html' %}

{% block page_script %}
  <script src="{% static 'chat/js/chatInput.js' %}"></script>
{% endblock %}
