<div class="accordion accordion-flush border-top"
     id="options-accordion"
     {% if swap %}hx-swap-oob="true"{% endif %}
     data-preset-loaded="{{ preset_loaded }}"
     data-swap="{{ swap }}"
     data-trigger-library-change="{{ trigger_library_change }}"
     data-mode="{{ options_form.mode.value }}"
     data-prompt="{{ prompt }}">
  {% include 'chat/components/options_agent.html' with options_section_id='agent' %}
  {% include 'chat/components/options_chat.html' with options_section_id='chat' %}
  {% include 'chat/components/options_qa.html' with options_section_id='qa' %}
  {% include 'chat/components/options_summarize.html' with options_section_id='summarize' %}
  {% include 'chat/components/options_translate.html' with options_section_id='translate' %}
</div>

{% include "chat/components/chat_label_script.html" %}

<script>
  updateLibraryModalButton();
  updateAutocompleteLibraryid('id_qa_data_sources__textinput');
  updateAutocompleteLibraryid('id_qa_documents__textinput');
</script>
