{% load i18n %}
<div>
  <button class="btn btn-sm btn-outline options"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          aria-haspopup="true"
          id="dropdownMenuButton-{{ chat.id }}"
          title="{% trans 'Options' %}">
    <span class="visually-hidden">{% trans "Options" %}</span>
    <i class="bi bi-three-dots"></i>
  </button>
  <div class="dropdown-menu shadow"
       aria-labelledby="dropdownMenuButton-{{ chat.id }}"
       style="padding: 0.25rem 0"
       role="menu">
    <div class="list-group list-group-flush options-menu">
      {% if chat.current_chat %}
        <button type="button"
                id="expand-all-btn-{{ chat.id }}"
                class="d-flex align-items-center px-3 dropdown-item py-2"
                onclick="expandAllMessages('{{ chat.id }}')"
                role="menuitem"
                hx-swap="none"
                onkeydown="if (event.key === 'Enter') { event.preventDefault()}"
                onkeyup="if (event.key === 'Enter') { this.click() }">
          <i class="bi bi-arrows-expand me-1"></i>
          <span class="ms-2">{% trans 'Expand all' %}</span>
        </button>
        <button type="button"
                id="collapse-all-btn-{{ chat.id }}"
                onclick="collapseAllMessages('{{ chat.id }}')"
                class="d-flex align-items-center px-3 dropdown-item py-2 d-none"
                role="menuitem"
                onkeydown="if (event.key === 'Enter') { event.preventDefault()}"
                onkeyup="if (event.key === 'Enter') { this.click() }">
          <i class="bi bi-arrows-collapse me-1"></i>
          <span class="ms-2">{% trans 'Collapse all' %}</span>
        </button>
      {% endif %}
      <button type="button"
              hx-get="{% url 'chat:rename_chat' current_chat_id=current_chat_id chat_id=chat.id %}"
              hx-swap="innerHTML"
              hx-target="closest li"
              class="d-flex align-items-center px-3 dropdown-item py-2"
              role="menuitem"
              onkeydown="if (event.key === 'Enter') { event.preventDefault()}"
              onkeyup="if (event.key === 'Enter') { this.click() }">
        <i class="bi bi-pencil me-1"></i>
        <span class="ms-2">{% trans 'Rename' %}</span>
      </button>
      {% if chat.pinned %}
        <button type="button"
                id="unpin-chat-{{ chat.id }}"
                class="d-flex align-items-center px-3 py-2 chat-unpin dropdown-item"
                data-section-number="{{ section_index }}"
                hx-post="{% url 'chat:unpin_chat' current_chat_id=current_chat_id chat_id=chat.id %}"
                hx-target="#chat-history-list"
                hx-select="#chat-history-list"
                hx-swap="outerHTML"
                role="menuitem">
          <i class="bi bi-pin-angle-fill me-1"></i>
          <span class="ms-2">{% trans 'Unpin' %}</span>
        </button>
      {% else %}
        <button type="button"
                id="pin-chat-{{ chat.id }}"
                class="d-flex align-items-center px-3 py-2 chat-pin dropdown-item"
                data-section-number="{{ section_index }}"
                hx-post="{% url 'chat:pin_chat' current_chat_id=current_chat_id chat_id=chat.id %}"
                hx-target="#chat-history-list"
                hx-select="#chat-history-list"
                hx-swap="outerHTML"
                role="menuitem">
          <i class="bi bi-pin-angle me-1"></i>
          <span class="ms-2">{% trans 'Pin' %}</span>
        </button>
      {% endif %}
      {% if chat.messages.count > 0 %}
        <button type="button"
                id="share-chat-{{ chat.id }}"
                class="d-flex align-items-center px-3 py-2 chat-share dropdown-item"
                data-section-number="{{ section_index }}"
                hx-get="{% url 'chat:share_chat' chat_id=chat.id %}"
                hx-on::after-request="copyChatURL(event, this)"
                hx-swap="none"
                onclick="event.stopPropagation();"
                role="menuitem">
          <i class="bi bi-link me-1"></i><i class="bi bi-check-lg"></i>
          <span class="ms-2">{% trans 'Copy link' %}</span>
        </button>
        <button type="button"
                onclick="printChat();"
                id="download-chat-{{ chat.id }}"
                class="d-flex align-items-center px-3 py-2 chat-download dropdown-item"
                data-section-number="{{ section_index }}"
                role="menuitem">
          <i class="bi bi-download me-1"></i>
          <span class="ms-2">{% trans 'Save as PDF' %}</span>
        </button>
      {% endif %}
      <button type="button"
              id="delete-chat-{{ chat.id }}"
              class="d-flex align-items-center px-3 py-2 chat-delete dropdown-item"
              data-section-number="{{ section_index }}"
              hx-delete="{% url 'chat:delete_chat' chat_id=chat.id current_chat=chat.current_chat|default:'False' %}"
              hx-target="closest li"
              role="menuitem">
        <i class="bi bi-trash me-1"></i>
        <span class="ms-2">{% trans 'Delete' %}</span>
      </button>
    </div>
  </div>
</div>
