
{% load i18n %}

<div class="dropdown">
  <button class="btn btn-none security-label-{{ chat.security_label.acronym }} security-label chat-security-label badge rounded-pill btn-dark"
          title="{{ chat.security_label }}"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false">{{ chat.security_label.acronym }}</button>
  <ul class="dropdown-menu">
    <li class="dropdown-header">{% trans "Set security label" %}</li>
    {% for security_label in security_labels %}
      <li>
        <button class="dropdown-item"
                hx-get="{% url 'chat:set_security_label' chat.id security_label.id %}"
                hx-target="closest .dropdown"
                hx-swap="outerHTML"
                {% if security_label == chat.security_label %}disabled{% endif %}>
          <span class="security-label-{{ security_label.acronym }} security-label chat-security-label badge rounded-pill me-2">{{ security_label.acronym }}</span>
          <span class="me-1">{{ security_label }}</span>
        </button>
      </li>

    {% endfor %}
  </ul>
</div>
