{% load i18n %}
{% load static %}

<div id="right-sidebar"
     class="chat-sidebar bg-light hidden"
     aria-label='{% trans "Options" %}'>
  <div class="border-start h-100 position-relative d-flex flex-column">
    <button id="right-sidebar-resize-handle" class="btn btn-none" type="button">
      <i class="bi bi-grip-vertical"></i>
      <span class="visually-hidden">{% trans "Drag or use the left and right arrows to resize." %}</span>
    </button>
    <div class="offcanvas-header d-flex pb-2 border-bottom p-3">
      <h5 class="offcanvas-title pb-1" style="font-size: 1rem">
        <i class="bi bi-gear me-2"></i>{% trans "Settings" %}
      </h5>
      <button type="button"
              class="btn-close"
              id="close-right-sidebar"
              aria-controls="right-sidebar"
              style="margin-top: -4px"
              aria-label='{% trans "Close" %}'></button>
    </div>
    <form class="overflow-y-auto overflow-x-hidden flex-grow-1"
          id="chat-options"
          hx-trigger="optionsChanged"
          hx-post="{% url 'chat:chat_options' chat_id=chat.id %}"
          hx-swap="none">
      {% csrf_token %}
      {{ options_form.mode }}
      {% if prompt %}<script>document.querySelector('#chat-prompt').value = '{{ prompt }}';</script>{% endif %}
      <script src="{% static 'chat/js/chatOptions.js' %}"></script>
      {% include 'chat/components/chat_options_accordion.html' %}
    </form>

    <div class="d-flex p-3 w-100 border-top">
      <span class="flex-grow-1 px-1"
            data-bs-toggle="modal"
            data-bs-target="#presets-modal">
        <button type="button"
                id="presets-modal-button"
                class="btn btn-sm btn-outline-dark w-100"
                title="{% trans "Open presets menu" %}"
                hx-get="{% url 'chat:get_presets' chat_id=chat.id %}"
                hx-target="#presets-modal-body"
                hx-swap="innerHTML"
                onclick="document.getElementById('presets-modal-body').innerHTML = '';">
          <i class="bi bi-folder"></i>
          <span class="visually-hidden">{% trans "Open presets menu" %}</span>
        </button>
      </span>
      <span class="flex-grow-1 px-1"
            data-bs-toggle="modal"
            data-bs-target="#presets-modal">
        <button type="button"
                class="btn btn-sm btn-outline-dark w-100"
                title="{% trans "Create preset from current settings" %}"
                hx-get="{% url 'chat:create_preset' chat_id=chat.id %}"
                hx-target="#presets-modal-body"
                hx-swap="innerHTML transition:true">
          <i class="bi bi-floppy2-fill"></i>
          <span class="visually-hidden">{% trans "Create preset from current settings" %}</span>
        </button>
      </span>
      <span class="flex-grow-1 px-1">
        <button type="button"
                class="btn btn-sm btn-outline-dark w-100"
                title="{% trans 'Reset settings to default' %}"
                hx-get="{% url 'chat:chat_options' chat_id=chat.id action='reset' %}"
                hx-target="#options-accordion"
                hx-swap="outerHTML">
          <i class="bi bi-arrow-counterclockwise"></i>
          <span class="visually-hidden">{% trans 'Reset settings to default' %}</span>
        </button>
      </span>
    </div>
  </div>
</div>

{% block page_script %}
  <script src="{% static 'chat/js/sidebar.js' %}"></script>
{% endblock %}
