{% load i18n %}

<div id="no-messages-placeholder" class="d-flex flex-column">
  <div class="flex-grow-1 d-flex align-items-center justify-content-center">
    <div>
      <div class="alert alert-warning">
        <div class="row">
          <div class="col-auto pe-0">
            <svg class="flex-shrink-0 bi me-2"
                 width="24"
                 height="24"
                 role="img"
                 aria-label='{% trans "Warning" %}:'>
              <use xlink:href="#exclamation-triangle-fill"></use>
            </svg>
          </div>
          <div class="col ps-1">
            <h5 class="text-align-center mb-3">{% trans "Safe use of the AI assistant" %}</h5>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>
              <strong>{% trans "Human review required" %}:</strong>
              {% trans "AI-generated outputs require human verification for accuracy. Do not use them in any official capacity without a human review." %}
            </p>
            <p>
              <strong>{% trans "No sensitive information" %}:</strong>
              {% trans "Do not upload or process sensitive, confidential, or legally protected documents. This includes personally identifiable information, protected B information, and information protected under solicitor client privilege." %}
            </p>
            <p class="mb-0">
              <strong>{% trans "Not for legal advice or making decisions:" %}</strong>
              {% trans "This tool is not a substitute for professional legal advice. Avoid using it for decisions with legal implications." %}
            </p>
          </div>
        </div>
      </div>
      <div class="mt-4 alert alert-light text-body" id="chat-mode-description">
        <p class="option chat-option">
          {% blocktrans %}
            <strong>Chat</strong> is a general-purpose AI-powered tool for writing assistance and text formatting. Please note that this tool is provided solely for enhancing your writing process and refining your ideas using natural language.          
          {% endblocktrans %}
        </p>
        <p class="mb-0 option chat-option">
          {% trans "We kindly advise you to refrain from using Chat as a means to seek factual information, conduct research, or request data. Its primary purpose is to offer writing suggestions, grammar corrections, and structure recommendations, ensuring your content is well-crafted and coherent." %}
        </p>
        <p class="option summarize-option">
          {% blocktrans %}
            <strong>Summarize</strong> documents, including PDFs, Word docs, and PowerPoint presentations. You may also input free text for summarization, or enter a URL for a web page.
          {% endblocktrans %}
        </p>
        <p class="mb-0 option summarize-option">
          {% trans "AI-generated summaries may contain inaccuracies. This tool is not a substitute for human analysis or decision-making." %}
        </p>
        <p class="option translate-option">
          {% blocktrans %}
            <strong>Translate</strong> input text or uploaded documents from any language into French or English.
            It supports various document formats such as PDF, Word, and PowerPoint, and endeavors to maintain the original structure of your documents. Users also have the option to input free text for translation.
          {% endblocktrans %}
        </p>
        <p class="mb-0 option translate-option">
          {% trans "Please note the translations provided by this tool are not official and may not be suitable for legal and official document submissions prior to human review." %}
        </p>
        <p class="option qa-option">
          {% blocktrans %}
            <strong>Q&A</strong> provides answers based on Justice documents. Create or select your own document libraries from the settings sidebar.
          {% endblocktrans %}
        </p>
        <p class="mb-0 option qa-option">
          {% trans "While the system implements guardrails against inaccurate information, users should verify answers with the provided sources due to the potential for inaccuracies. Use responsibly and at your own discretion." %}
        </p>
      </div>
    </div>
  </div>
  <!-- <div class="align-items-center justify-content-center" id="mode-cards">
    <a class="card m-2 text-decoration-none option chat-option" href="#" onclick="clickCard('chat')" id="new-chat-button">
      <div class="card-body h6 p-4 pb-3">Chat</div>
    </a>
    <a class="card m-2 text-decoration-none option summarize-option" href="#" onclick="clickCard('summarize')" id="new-summarize-button">
      <div class="card-body h6 p-4 pb-3">Summarize</div>
    </a>
    <a class="card m-2 text-decoration-none option translate-option" href="#" onclick="clickCard('translate')" id="new-translate-button">
      <div class="card-body h6 p-4 pb-3">Translate</div>
    </a>
    <a class="card m-2 text-decoration-none option library_qa-option" href="#" onclick="clickCard('library_qa')" id="new-library_qa-button">
      <div class="card-body h6 p-4 pb-3">JUS Q&A</div>
    </a>
    <a class="card m-2 text-decoration-none option document_qa-option" href="#" onclick="clickCard('document_qa')" id="new-document_qa-button">
      <div class="card-body h6 p-4 pb-3">Document Q&A</div>
    </a>
  </div> -->
</div>
