<div class="accordion accordion-flush border-top"
     id="options-accordion"
     {% if swap %}hx-swap-oob="true"{% endif %}>
  {% include 'chat/components/options_1_chat_with_ai.html' with options_section_id='chat' %}
  {% include 'chat/components/options_4_qa.html' with options_section_id='qa' %}
  {% include 'chat/components/options_2_summarize.html' with options_section_id='summarize' %}
  {% include 'chat/components/options_3_translate.html' with options_section_id='translate' %}
</div>

{% include "chat/components/chat_label_script.html" %}

{% if preset_loaded %}
  <script>
  document.body.addEventListener("htmx:oobAfterSwap", function(e) {
    console.log("htmx:oobAfterSwap", e);
    onOptionsAccordionSwap(
      e,
      "{{ preset_loaded }}" === "true",
      "{{ swap }}" === "true",
      '{{ prompt }}',
      "{{ options_form.mode.value }}",
      "{{ trigger_library_change }}" === "true"
    );
  });
  </script>
{% endif %}
