{% load i18n %}
{% load static %}
<div id="prompt-form-container" class="{{ mode }} d-none">
  <div class="container px-5">
    <form id="prompt-form"
          hx-post="{% url 'chat:chat_message' chat_id=chat.id %}"
          hx-swap="beforeend"
          hx-target="#messages-container"
          class="position-relative">
      <button id="prompt-form-resize-handle" class="btn btn-none" type="button">
        <i class="bi bi-grip-horizontal"></i>
        <span class="visually-hidden">{% trans "Drag or use the up and down arrows to resize." %}</span>
      </button>
      <div id="stop-button" class="d-none">
        <button class="btn btn-outline-secondary btn-sm"
                title='{% trans "Stop" %}'
                type="button">
          <i class="bi bi-stop-circle"></i>
          <span class="d-none d-md-inline">{% trans "Stop" %}</span>
        </button>
      </div>
      <div class="form-group mb-3" id="chat-inputs">
        <div class="card" id="chat-toolbar">
          <div class="row">
            <div class="col">
              <ul class="nav nav-pills" id="chat-modes" role="tablist">
                <li class="nav-item" role="presentation">
                  <button role="tab"
                          class="nav-link chat-option"
                          data-bs-toggle="tooltip"
                          data-bs-placement="top"
                          data-bs-title='{% trans "ChatGPT for writing assistance (not for facts)" %}'
                          type="button"
                          aria-selected="false"
                          onclick="clickCard('chat')">{% trans "Chat" %}</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button role="tab"
                          class="nav-link qa-option"
                          data-bs-toggle="tooltip"
                          data-bs-placement="top"
                          data-bs-title='{% trans "Ask questions about documents" %}'
                          type="button"
                          aria-selected="false"
                          onclick="clickCard('qa')">{% trans "Q&A" %}</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button role="tab"
                          class="nav-link summarize-option"
                          data-bs-toggle="tooltip"
                          data-bs-placement="top"
                          data-bs-title='{% trans "Summarize text, files and URLs" %}'
                          type="button"
                          aria-selected="false"
                          onclick="clickCard('summarize')">{% trans "Summarize" %}</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button role="tab"
                          class="nav-link translate-option"
                          data-bs-toggle="tooltip"
                          data-bs-placement="top"
                          data-bs-title='{% trans "Translate text and files to English or French" %}'
                          type="button"
                          aria-selected="false"
                          onclick="clickCard('translate')">{% trans "Translate" %}</button>
                </li>
              </ul>
            </div>
            <div class="col-auto py-1 px-0 translate-option summarize-option qa-option option">
              <button class="btn btn-sm btn-outline-secondary col-auto text-center"
                      type="button"
                      aria-label='{% trans "Upload" %}'
                      title='{% trans "Upload" %}'
                      onclick="document.querySelector('#chat-file-input').value=null; document.querySelector('#chat-file-input').click();">
                <i class="bi bi-upload"></i><span class="ms-1 hideable">{% trans "Upload" %}</span>
              </button>
            </div>
            <div class="col-auto p-1 pe-3">
              <button class="btn btn-sm btn-outline-secondary text-center"
                      type="button"
                      aria-label='{% trans "Settings" %}'
                      title='{% trans "Settings" %}'
                      onclick="document.querySelector('#right-sidebar-toggle').click(); this.blur();">
                <i class="bi bi-gear"></i><span class="ms-1 hideable">{% trans "Settings" %}</span>
              </button>
            </div>
          </div>
        </div>
        <div class="input-group">
          <textarea class="form-control col"
                    name="user-message"
                    id="chat-prompt"
                    autocomplete="off"
                    aria-label='{% trans "Message" %}'
                    placeholder='{% trans "Type your message here..." %}'
                    required></textarea>
 
          <button id="magic-button"
                  class="floating-icon "
                  type="button"
                  data-bs-toggle="modal"
                  data-bs-target="#magicModal"
                  hx-get="/reset-form/"
                  hx-include="#chat-prompt"
                  hx-target="#magicModal .modal-content"
                  hx-swap="outerHTML"
                  aria-label='{% trans "Improve prompt using AI" %}'
                  title='{% trans "Improve prompt using AI" %}'
                  style="top: 0px;
                         right: 40px;
                         width: 30px;
                         height: 30px;
                         display: flex;
                         position: absolute;
                         z-index:10">
            <i class="bi bi-magic"></i>
          </button>
          <button id="send-button"
                  class="btn btn-outline-secondary"
                  type="submit"
                  aria-label='{% trans "Send" %}'>
            <i class="bi bi-send"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
 
<!-- Modal -->
<div class="modal fade"
     id="magicModal"
     tabindex="-1"
     aria-labelledby="magicModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="magicModalLabel">{% trans "Improve Prompt using AI" %}</h5>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
                onclick="location.reload();"></button>
      </div>
 
 
      <div class="modal-body">

        <form id="magic-form col-md-4"
              hx-post="/chat/generate-prompt/"
              hx-target="#magicModal .modal-body"
              hx-swap="outerHTML">
          {% csrf_token %}
          <input type="text"
                 name="user_input"
                 class="form-control "
                 id="magic-prompt"
                 placeholder='{% trans "Type your prompt here..." %}'>
        <!-- <textarea class="form-control mt-3" id="generated-prompt" name="generated_prompt" rows="5"></textarea>
                                  <div id="generated-prompt-container">
                              <textarea class="form-control mt-3"
                                        id="generated-prompt"
                                        name="generated_prompt"
                                        rows="5"></textarea>
                            </div>-->
      <button type="submit"
              class="btn btn-primary mt-3"
              id="generate-prompt"
              hx-post="/chat/generate-prompt/"
              hx-trigger="click"
              hx-indicator="#loading-spinner"
              onclick="toggleSpinner(true)">
        <span id="generate-text">{% trans "Generate" %}</span>
        <i id="spinner-icon"
           class="spinner-border spinner-border-sm"
           style="display: none"></i>
      </button>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary">{% trans "clear" %}</button>
 
    <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Close" %}</button>-->
  </div>
</div>
</div>
</div>
{% block page_script %}
  <script src="{% static 'chat/js/chatInput.js' %}"></script>

{% endblock %}
