 
{% load i18n %}
<div>
  <button class="btn btn-sm btn-outline options"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          aria-haspopup="true"
          id="dropdownMenuButton-{{ chat.id }}"
          title="{% trans 'Options' %}">
    <span class="visually-hidden">{% trans "Options" %}</span>
    <i class="bi bi-three-dots"></i>
  </button>
  <div class="dropdown-menu shadow"
       aria-labelledby="dropdownMenuButton-{{ chat.id }}"
       style="padding: 0.25rem 0"
       role="menu">
    <h6 class="dropdown-header" role="presentation">{% trans 'Options' %}</h6>
    <div class="list-group list-group-flush options-menu">
      <button type="button"
              hx-get="{% url 'chat:rename_chat' chat_id=chat.id section=chat.section current_chat=chat.current_chat %}"
              hx-swap="innerHTML"
              hx-target="closest li"
              class="d-flex align-items-center px-3 dropdown-item py-2"
              role="menuitem"
              onkeydown="if (event.key === 'Enter') { event.preventDefault()}"
              onkeyup="if (event.key === 'Enter') { this.click() }">
        <i class="bi bi-pencil me-1"></i>
        <span class="ms-2">{% trans 'Rename' %}</span>
      </button>
      <button type="button"
              id="delete-chat-{{ chat.id }}"
              class="d-flex align-items-center px-3 py-2 chat-delete dropdown-item"
              section-number="{{ chat.section }}"
              chat-id="{{ chat.id }}"
              hx-delete="{% url 'chat:delete_chat' chat_id=chat.id current_chat=chat.current_chat %}"
              hx-target="closest li"
              role="menuitem">
        <i class="bi bi-trash me-1"></i>
        <span class="ms-2">{% trans 'Delete' %}</span>
      </button>
    </div>
  </div>
</div>
