{% load i18n %}

<li class="chat-list-item{% if chat.current_chat %} current{% endif %}"
    id="chat-list-item-{{ chat.id }}">
  <div class="row border-bottom py-2 flex-nowrap">
    <div class="col-auto pe-0">{% include 'chat/components/chat_security_label.html' %}</div>
    <div class="col ps-2 pe-2 overflow-x-hidden">
      <a href="{% url 'chat:chat' chat_id=chat.id %}"
         class="text-decoration-none">
        {% if chat.current_chat %}
          <span class="chat-title fw-semibold" id="current-chat-title">{{ chat.title }}</span>
        {% else %}
          <span class="chat-title">{{ chat.title }}</span>
        {% endif %}
      </a>
    </div>

    <div class="col-auto ms-auto d-flex align-items-center gap-4">
      <button class="btn btn-sm btn-outline pin-button"
              type="button"
              title="{% trans 'Pin' %}"
              aria-label="{% trans 'Pin' %}">
        <i class="bi bi-pin-angle{% if chat.pinned %}-fill{% endif %}"></i>
        <span class="visually-hidden">{% trans 'Pin' %}</span>
      </button>

      {% include 'chat/components/chat_list_item_menu.html' %}
    </div>
  </div>
</li>
