{% load i18n %}

<div id="no-messages-placeholder" class="d-flex flex-column">
  <div class="flex-grow-1 d-flex align-items-center justify-content-center">
    <div id="chat-welcome">
      <div class="alert alert-warning">
        <div class="row">
          <div class="col-auto pe-0">
            <svg class="flex-shrink-0 bi me-2"
                 width="24"
                 height="24"
                 role="img"
                 aria-label='{% trans "Warning" %}:'>
              <use xlink:href="#exclamation-triangle-fill"></use>
            </svg>
          </div>
          <div class="col ps-1">
            <h5 class="text-align-center mb-3">{% trans "Safe use of the AI Assistant" %}</h5>
          </div>
        </div>
        <div class="row">
          <div class="col">
            {% if environment == "prod" %}
              <p>
                <strong>{% trans "Protected B approved:" %}</strong>
                {% trans "Use with unclassified, Protected A or" %}
                <abbr title="{% trans 'Specific legislation may impose additional requirements pertaining to certain classes of sensitive information that are considered Protected B. In such cases, the use of Otto should be considered on a case-by-case basis.' %}">{% trans "Protected B" %}</abbr>
                {% trans "information only." %}
              </p>
            {% else %}
              <p>
                <strong>{% trans "Unclassified only:" %}</strong>
                {% trans "This is a development / testing environment. Use unclassified information only." %}
              </p>
            {% endif %}
            <p>
              <strong>{% trans "Human review required:" %}</strong>
              {% trans "AI can make mistakes. Verify the output if you intend to rely upon it." %}
            </p>
            <p>
              <strong>{% trans "Not for legal research:" %}</strong>
              {% trans "Does not connect to legal databases like Westlaw, Lexis, CanLII or Justipedia." %}
            </p>
            <p>
              <strong>{% trans "Not for legal advice:" %}</strong>
              {% trans "Only legal professionals can critically analyze client matters and provide legal advice." %}
            </p>
            <p>
              <strong>{% trans "Not for decision-making:" %}</strong>
              {% trans "Do not use for making or assisting in making" %}
              <abbr title="{% trans 'Administrative decisions are decisions affecting individuals, their rights, privileges or interests.' %}">{% trans "administrative decisions" %}</abbr>.
            </p>
            <p class="mb-0">
              <strong>{% trans "Information management:" %}</strong>
              {% trans "Limit information shared. Chats and Q&A libraries are deleted after 30 days inactivity." %}
            </p>
          </div>
        </div>
      </div>
      <div class="mt-4 alert alert-light text-body" id="chat-mode-description">
        <p class="option chat-option">
          {% blocktrans %}
            <strong>Chat</strong> with a secure AI for brainstorming, writing assistance and text formatting.
          {% endblocktrans %}
        </p>
        <p class="mb-0 option chat-option">
          {% trans "Chat mode is not suitable for factual research because it may hallucinate or provide biased outputs." %}
        </p>
        <p class="option summarize-option">
          {% blocktrans %}
            <strong>Summarize</strong> uploaded documents. You can also paste long text or enter a URL for a web page.
          {% endblocktrans %}
        </p>
        <p class="mb-0 option summarize-option">
          {% trans "AI-generated summaries may contain inaccuracies. Review the text before using it for official purposes." %}
        </p>
        <p class="option translate-option">
          {% blocktrans %}
            <strong>Translate</strong> input text or uploaded documents from any language into French or English.
          {% endblocktrans %}
        </p>
        <p class="mb-0 option translate-option">
          {% trans "Translations should undergo human review prior to use in a legal or official capacity." %}
        </p>
        <p class="option qa-option">
          {% blocktrans %}
            <strong>Q&A</strong> provides answers based on specific documents. Select or create document libraries from the settings sidebar, or upload files and enter URLs directly in the chat.
          {% endblocktrans %}
        </p>
        <p class="mb-0 option qa-option">
          {% trans "For official use, always verify generated material with the provided sources due to the potential for inaccuracies." %}
        </p>
      </div>
    </div>
  </div>
</div>
