<div class="accordion accordion-flush border-top" id="options-accordion">
  {% include 'chat/components/options_4_qa.html' with options_section_id='qa' %}
  {% include 'chat/components/options_2_summarize.html' with options_section_id='summarize' %}
  {% include 'chat/components/options_3_translate.html' with options_section_id='translate' %}
  {% include 'chat/components/options_1_chat_with_ai.html' with options_section_id='chat' %}
</div>
<script>
  if ("{{ preset_loaded }}" === "true") {
    let mode = "{{ options_form.mode.value }}";
    handleModeChange(mode);
  }

  function updateLibraryModalButton() {
    const selectElement = document.getElementById('id_qa_library');
    const selectedLibraryId = selectElement.value;
    const buttonElement = document.getElementById('editLibrariesButton');
    buttonElement.setAttribute('hx-get', `/librarian/modal/library/${selectedLibraryId}/edit/`);
    htmx.process(buttonElement);
  }

  function showHideQaSourceForms() {
    const scope = document.getElementById('id_qa_scope').value;
    const dataSources = document.getElementById('qa_data_sources_autocomplete');
    const documents = document.getElementById('qa_documents_autocomplete');
    if (scope === 'data_sources') {
      dataSources.classList.remove('d-none');
      documents.classList.add('d-none');
    } else if (scope === 'documents') {
      dataSources.classList.add('d-none');
      documents.classList.remove('d-none');
    } else {
      dataSources.classList.add('d-none');
      documents.classList.add('d-none');
    }
  }

  function updateAutocompleteLibraryid(element_id) {
    // Add hx-vals to the autocomplete elements
    const input_element = document.getElementById(element_id);

    // hx-vals attribute already has a value, e.g.
    // js:{name: 'qa_data_sources', component_id: 'id_qa_data_sources', search: document.getElementById('id_qa_data_sources__textinput').value}
    let hx_vals = input_element.getAttribute('hx-vals');
    // Remove the last character, which is a closing brace
    hx_vals = hx_vals.slice(0, -1);
    // Now add the library_id key to the hx-vals string
    hx_vals += ", library_id: document.getElementById('id_qa_library').value}";
    input_element.setAttribute('hx-vals', hx_vals);
  }

  // After toggling elements in the autocomplete widget, the input element is swapped out.
  // Monitor the related input elements for hx-swaps and then run this function again
  document.addEventListener("htmx:afterSettle", function(event) {
    if (event.target.id == "id_qa_data_sources" || event.target.id == "id_qa_documents") {
      updateAutocompleteLibraryid('id_qa_data_sources__textinput');
      updateAutocompleteLibraryid('id_qa_documents__textinput');
      // Unlike the other widgets, the autocomplete doesn't have a change event to trigger
      // the ChatOption form save, but we can trigger it now
      triggerOptionSave();
    }
  });
  showHideQaSourceForms();
  updateLibraryModalButton();
  updateAutocompleteLibraryid('id_qa_data_sources__textinput');
  updateAutocompleteLibraryid('id_qa_documents__textinput');
</script>
