{% load i18n %}
{% load static %}

<div id='cost-warning-buttons-{{ message_id }}'
     class='cost-warning-buttons'
     hx-swap-oob='true'>
        <button hx-post="{% url 'chat:cost_warning' message_id=message_id %}?cost_approved=true"
                class="btn btn-primary continue-button me-1"
                hx-target="#message_{{ message_id }}">{% trans "Continue with " %}{{ estimate_cost }}$</button>
        <button class="btn btn-secondary"
                hx-post="{% url 'chat:cost_warning' message_id=message_id %}?cost_approved=false"
                hx-target="#message_{{ message_id }}">{% trans "Cancel" %}</button>
</div>
