{% load i18n %}

<div class="d-flex align-items-center justify-content-center"
     id="file-dropzone">
  <form id="chat-file-form">
    <button id="chat-file-area"
            class="rounded d-block text-center text-light"
            type="button">
      <p class="mb-3 h3">
        <i class="bi bi-upload"></i>
      </p>
      <p class="mb-1 h5 fw-normal">{% trans "Drop files anywhere" %}</p>
    </button>
  </form>
</div>
<script>
  // Drag and drop file upload
  function ePrevent(e) {
    e.preventDefault();
    e.stopPropagation();
  }
  function onDrop(e) {
    e.preventDefault();
    e.stopPropagation();
    
    document.querySelector('#id_input_file').value = null;
    document.querySelector('#id_input_file').files = e.dataTransfer.files;
    document.querySelector('#id_input_file').dispatchEvent(new Event('change'));
    hideOverlay();
  }
  function handleDragEnter(e) {
    // make sure we're dragging a file
    var dt = (e && e.dataTransfer);
    var isFile = (dt && dt.types && dt.types.length == 1 && dt.types[0] == "Files");
    if (isFile) {
      // check if the mode is "chat"; if so, switch to QA mode
      if (document.querySelector('#id_mode').value == 'chat') {
        handleModeChange('qa');
      }
      showOverlay();
    }
  }

  function handleDragLeave(e) {
    // was our dragleave off the page?
    if (e && e.pageX == 0 && e.pageY == 0) {
      // then hide the overlay
      hideOverlay();
    }
  }

  function showOverlay() {
    document.querySelector('#file-dropzone').classList.add('show');
  }

  function hideOverlay() {
    document.querySelector('#file-dropzone').classList.remove('show');
  }

  let dropZone = document.querySelector('#file-dropzone');
  window.addEventListener('dragenter', handleDragEnter);
  dropZone.addEventListener('dragover', ePrevent);
  window.addEventListener('dragleave', handleDragLeave);
  window.addEventListener('dragexit', handleDragLeave);
  dropZone.addEventListener('drop', onDrop);

</script>
