{% load i18n %}
{% load static %}
{# <div class="modal-body">
  <form id="magic-form"
        hx-post="{% url 'chat:user_input_view' %}"
        hx-target="#magicModal .modal-body"
        hx-swap="outerHTML">
    {% csrf_token %}
    <input type="text"
           name="user_input"
           class="form-control"
           id="magic-prompt"
           placeholder='{% trans "Type your prompt here..." %}'>
    <textarea class="form-control mt-3"
              id="generated-prompt"
              name="generated_prompt"
              rows="5">{{ output_text }}</textarea>
    <button type="submit" class="btn btn-primary mt-3" id="generate-prompt">{% trans "Generate" %}</button>
  </form>
</div> #}
<div class="modal-body">
  <form id="magic-form">
    {% csrf_token %}
    <input type="text"
           name="user_input"
           class="form-control"
           id="magic-prompt"
           placeholder='{% trans "Type your prompt here..." %}'>
    <textarea class="form-control mt-3"
              id="generated-prompt"
              name="generated_prompt"
              rows="5"></textarea>
    <button type="submit" class="btn btn-primary mt-3" id="generate-prompt">{% trans "Generate" %}</button>
  </form>
</div>
