{% load i18n %}

<p class="mb-2">
  {% if message.is_bot %}
    {{ message.num_files }}/{{ message.parent.num_files }} {% trans "files translated:" %}
  {% else %}
    {{ message.num_files }}
    {% if message.num_files == 1 %}
      {% trans "file uploaded" %}
    {% else %}
      {% trans "files uploaded" %}
    {% endif %}
  {% endif %}
  {% if message.mode == "translate" %}
    {% trans "for translation:" %}
  {% elif message.mode == "qa" %}
    {% trans "for Q&A:" %}
  {% elif message.mode == "summarize" %}
    {% trans "for summarization:" %}
  {% endif %}
</p>
<ul class="list-unstyled mb-1">
  {% for file in message.sorted_files %}
    <li class="message-file">
      <i class="bi bi-paperclip img-thumbnail-md img-icon-sm mx-1"></i>
      {% if file.saved_file %}
        <a href="{% url 'chat:download_file' file_id=file.id %}"
           class="text-body">{{ file.filename }}</a>
      {% else %}
        <span title="{% trans 'Chat files are deleted after 7 days' %}">{{ file.filename }} ({% trans "deleted" %})</span>
      {% endif %}
    </li>
  {% endfor %}
</ul>
