{% load static %}
{% load i18n %}
<div class="message-meta message-actions text-muted">
  <button type="button"
          onclick="copyMessage(this)"
          class="btn btn-link m-0 ms-1 p-0 text-muted copy-message-button"
          title='{% trans "Copy" %}'>
    <i class="bi bi-copy"></i><i class="bi bi-check-lg"></i>
  </button>
  <!--  <button type="button" onclick="exportToDocx(this)" class="btn btn-link m-0 ms-1 p-0 text-muted" title='{% trans "Edit in Word" %}'>
    <i class="bi bi-file-earmark-word"></i><i class="bi bi-check-lg"></i>
  </button>-->
  {% if not read_only %}
    {% if message.is_bot %}
      <button type="button"
              hx-get="{% url 'chat:thumbs_feedback' message_id=message.id feedback=1 %}"
              hx-trigger="click"
              hx-swap="none"
              class="btn btn-link m-0 ms-1 p-0 text-muted thumb-message-button thumb-up {% if message.feedback == 1 %}clicked{% endif %}"
              onclick="thumbMessage(this);"
              title='{% trans "Like" %}'>
        <i class="bi bi-hand-thumbs-up"></i>
        <i class="bi bi-hand-thumbs-up-fill"></i>
      </button>
      <button type="button"
              hx-get="{% url 'chat:thumbs_feedback' message_id=message.id feedback=-1 %}"
              hx-target="#feedback-modal-body"
              hx-trigger="click"
              class="btn btn-link m-0 ms-1 p-0 text-muted thumb-message-button thumb-down {% if message.feedback == -1 %}clicked{% endif %}"
              onclick="thumbMessage(this);"
              title='{% trans "Dislike" %}'>
        <i class="bi bi-hand-thumbs-down"></i><i class="bi bi-hand-thumbs-down-fill"></i>
      </button>
    {% else %}
      <button type="button"
              class="btn btn-link m-0 ms-1 p-0 text-muted"
              title='{% trans "Edit in new prompt" %}'
              onclick="copyPromptToTextInput(this, '{{ message.mode }}' )">
        <i class="bi bi-pencil"></i>
      </button>
    {% endif %}
    <button type="button"
            class="btn btn-link m-0 ms-1 p-0 text-muted"
            hx-delete="{% url 'chat:delete_message' message.id %}"
            hx-target="closest div.message-outer"
            title="{% trans 'Delete message' %}">
      <i class="bi bi-trash"></i>
    </button>
  {% endif %}
  <button type="button"
          id="docx-button"
          class="btn btn-link m-0 ms-1 p-0 text-muted"
          hx-post="{% url 'chat:export_to_docx' %}"
          hx-include="closest div.message-outer"
          hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
          hx-trigger="click"
          hx-swap="none"
          title='{% trans "Edit in Word" %}'
          onclick="exportToDocx(this)">
    <i class="bi bi-file-earmark-word"></i><i class="bi bi-check-lg"></i>
  </button>
  {% if "." in message.usd_cost|stringformat:"f" %}
    <span class="message-cost ms-1">{{ message.display_cost }}</span>
  {% endif %}
</div>
