{% load i18n %}

<div id="option_presets" class="position-relative">
  <input class="form-control"
         list="preset_list"
         name="option_presets"
         placeholder='{% trans "Select or create preset..." %}'
         aria-label='{% trans "Select or create preset..." %}'
         value="{{ selected_preset }}" />
  <datalist id="preset_list">
    {% for preset in option_presets %}<option value="{{ preset.preset_name }}"></option>{% endfor %}
  </datalist>
  <!-- Clear input button -->
  <button class="btn btn-none position-absolute top-0 end-0 px-1"
          type="button"
          onclick="optionPresetDropdown();">
    <i class="bi bi-x"></i><span class="visually-hidden">{% trans "Clear" %}</span>
  </button>
</div>
