{% extends 'chat/components/options_submenu.html' %}

{% load i18n %}

{% block accordion_title %}
  {% trans "Document Q&A" %}
{% endblock %}

{% block accordion_body %}
  <div class="px-3">
    <label class="col-form-label col-form-label-sm"
           for="{{ options_form.document_qa_topk.auto_id }}">{% trans "Maximum number of sources" %}</label>
  </div>
  <div class="px-3">{{ options_form.document_qa_topk }}</div>
  <div class="px-3 mt-2">
    <label class="col-form-label col-form-label-sm"
           for="{{ options_form.document_qa_model.auto_id }}">{% trans "Model" %}</label>
  </div>
  <div class="px-3">{{ options_form.document_qa_model }}</div>
{% endblock %}
