{% load i18n %}
<div class="px-3 mt-2" id="qa_scope">
  {# Select QA scope: entire library, select data sources, or select documents #}
  <div>
    <label class="col-form-label col-form-label-sm"
           for="{{ options_form.qa_scope.auto_id }}">{% trans "Filter sources" %}</label>
    {{ options_form.qa_scope }}
  </div>
  {# Data sources autocompletes, selectively visible #}
  <div id="qa_data_sources_autocomplete"
       class="mt-2 small {% if options_form.qa_scope.value != 'data_sources' %}d-none{% endif %}">
    <div style="font-style:italic;">{{ options_form.qa_data_sources.label_tag }}</div>
    {{ options_form.qa_data_sources }}
  </div>
  <div id="qa_documents_autocomplete"
       class="mt-2 small {% if options_form.qa_scope.value != 'documents' %}d-none{% endif %}">
    <div style="font-style:italic;">{{ options_form.qa_documents.label_tag }}</div>
    {{ options_form.qa_documents }}
  </div>
</div>
