{% extends 'chat/components/options_submenu.html' %}

{% load i18n %}

{% block accordion_title %}
  {% trans "Q&A" %}
{% endblock %}

{% block accordion_body %}
  <div id="library-dropdown-outer">
    <div class="px-3 row">
      <label class="col col-form-label-sm"
             for="{{ options_form.qa_library.auto_id }}">{% trans "Library" %}</label>
      <div class="col-auto col-form-label-sm">
        <a class="link-primary text-decoration-underline text-dark"
           href="#"
           onclick="emailLibraryAdmins('{% url 'librarian:email_library_admins' 0 %}');">{% trans "Email administrators" %}</a>
        <div id="email_library_admins_link"></div>
      </div>
    </div>
    <div class="px-3 row">
      <div class="col pe-0">{{ options_form.qa_library }}</div>
      <div class="col-auto ps-2">
        <button type="button"
                id="editLibrariesButton"
                class="btn btn-outline-dark btn-sm"
                hx-get="{% url 'librarian:modal_view_library' options_form.qa_library.value %}"
                hx-target="#editLibrariesInner"
                hx-indicator="#librarian-modal-spinner"
                hx-swap="innerHTML"
                onclick="document.getElementById('editLibrariesInner').innerHTML='';"
                data-bs-toggle="modal"
                data-bs-target="#editLibrariesModal">{% trans "Manage libraries" %}</button>
      </div>
    </div>
  </div>

  {% include "chat/components/options_qa_scope.html" %}

  <div id="qa-search-mode-outer">
    <div class="px-3 mt-2">
      <label class="col-form-label col-form-label-sm"
             for="{{ options_form.qa_mode.auto_id }}">{% trans "Excerpts or full documents" %}</label>
      <button class="p-0 border-0 bg-transparent"
              data-bs-toggle="tooltip"
              data-bs-html="true"
              data-bs-title='{% trans "<strong>Top excerpts:</strong> Use most relevant excerpts from selected documents. <em>Fast, cheap.</em><br><br><strong>Full documents:</strong> Use full text of selected documents. <em>More comprehensive, but slower and more expensive.</em>" %}'
              id="rag_info">
        <i class="bi-info-circle-fill small text-secondary"></i>
      </button>
    </div>
    <div class="px-3">{{ options_form.qa_mode }}</div>
  </div>

  <div id="qa-answer-type-outer">
    <div class="px-3 mt-2">
      <label class="col-form-label col-form-label-sm"
             for="{{ options_form.qa_process_mode.auto_id }}">{% trans "Combine or separate documents" %}</label>
      <button class="p-0 border-0 bg-transparent"
              data-bs-toggle="tooltip"
              data-bs-html="true"
              id="comb_sep_info">
        <i class="bi-info-circle-fill small text-secondary"></i>
      </button>
    </div>
    <div class="px-3">{{ options_form.qa_process_mode }}</div>
  </div>

  <div id="qa-model-outer">
    <div class="px-3 mt-2">
      <label class="col-form-label col-form-label-sm"
             for="{{ options_form.qa_model.auto_id }}">{% trans "Model" %}</label>
    </div>
    <div class="px-3">{{ options_form.qa_model }}</div>
  </div>
  <div class="px-3 mt-3">
    <button type="button"
            id="advancedQaModalButton"
            class="btn btn-outline-dark btn-sm w-100"
            onclick="updateQaModal();"
            data-bs-toggle="modal"
            data-bs-target="#advanced-qa-modal">{% trans "Edit advanced settings and prompts" %}</button>
  </div>
  {# Hidden fields, editable in the advanced_qa_modal #}
  {{ options_form.qa_prompt_template }}
  {{ options_form.qa_system_prompt }}
  {{ options_form.qa_pre_instructions }}
  {{ options_form.qa_post_instructions }}
  {{ options_form.qa_topk }}
  {{ options_form.qa_vector_ratio }}
  {{ options_form.qa_granular_toggle }}
  {{ options_form.qa_source_order }}
  {{ options_form.qa_prune }}
  {{ options_form.qa_rewrite }}
  {{ options_form.qa_granularity }}
{% endblock %}
