{% load i18n %}

<span class="me-0 fw-semibold">{{ document.name|truncatechars:60 }}</span>
<span class="me-1">
  {% if source.min_page is not None and source.max_page is not None %}
    {% if source.min_page == source.max_page %}
      , page {{ source.min_page }}
    {% else %}
      , pages {{ source.min_page }}-{{ source.max_page }}
    {% endif %}
  {% endif %}
</span>
<span class="text-muted" style="font-style: italic;">
  ({{ document.data_source.library }}<i class="bi bi-arrow-right-short ms-1"></i>{{ document.data_source.short_label }})
</span>
