<div hx-ext="sse"
     sse-connect="{% url 'chat:chat_response' message_id=message.id %}?skip_cost={{ skip_cost }}"
     sse-swap="message"
     class="chat-streaming-response"
     id="response-{{ message.id }}">
  {% comment %} Spans below require to make CSS "typing dots" bounce {% endcomment %}
  <!-- djlint:off -->
    <div class="typing"><span></span><span></span><span></span></div>
<!-- djlint:on -->
</div>
{% if not hide_stop_button %}
  {% include "chat/components/stop_button.html" %}
{% endif %}
