{% load i18n %}

{% for output_file in output_files %}
  <tr>
    <td>
      {# column1: Document #}
      {{ output_file.file_name }}
    </td>
    <td>
      {# column2: Status #}
      {% if output_file.status == "PENDING" %}
        {# Grey circle #}
        <div class="document-status document-status-{{ document.status }}">
          <i class="bi bi-circle text-secondary small me-1" aria-hidden="true"></i>
          <span>{% trans 'Queued' %}...</span>
        </div>
      {% elif output_file.status == "PROCESSING" %}
        {# Blue spinner #}
        <div class="document-status document-status-{{ document.status }}">
          <span class="me-1">
            <i class="bi bi-arrow-repeat text-primary small icn-spinner"
               aria-hidden="true"></i>
          </span>
          <span>
            {% if document.celery_status_message %}
              {{ document.celery_status_message }}
            {% else %}
              {% trans 'Processing' %}...
            {% endif %}
          </span>
        </div>
      {% elif output_file.status == "SUCCESS" %}
        {# Green checkmark #}
        <div class="document-status document-status-{{ document.status }}">
          <i class="bi bi-check-circle-fill text-success small me-1"
             aria-hidden="true"></i>
          <span>{% trans 'Processed' %}</span>
          {% if document.content_type == "application/pdf" %}
            {% if document.pdf_method %}<span class="text-muted">({{ document.pdf_method }})</span>{% endif %}
          {% endif %}
        </div>
      {% elif output_file.status == "FAILURE" %}
        {# Red exclamation mark #}
        <div class="document-status document-status-{{ document.status }}">
          <i class="bi bi-exclamation-circle-fill text-danger small me-1"
             aria-hidden="true"></i>
          <span>
            {% if output_file.error_message %}
              {{ output_file.error_message }}
            {% else %}
              {% trans 'Error' %}
            {% endif %}
          </span>
        </div>
      {% endif %}
    </td>
    <td>
      {# column3: Cost #}
      {{ output_file.cost }}
    </td>
    <td>
      {% if output_file.pdf_file %}
        {# column4: Results #}
        <a href="{% url 'text_extractor:download_document' output_file.id 'pdf' %}"
           class="me-3 text-nowrap icon-link">
          <i class="bi bi-filetype-pdf h5 text-danger"></i>
        PDF ({{ output_file.pdf_size }})</a>
      {% endif %}
      {% if output_file.txt_file %}
        <a href="{% url 'text_extractor:download_document' output_file.id 'txt' %}"
           class="text-nowrap icon-link">
          <i class="bi bi-filetype-txt h5 text-muted"></i>
        {% trans "Plain text" %} ({{ output_file.txt_size }})</a>
      {% endif %}
    </td>
  </tr>
{% endfor %}
{% if poll_url %}
  <tr class="d-none"
      id="poller"
      hx-get="{{ poll_url }}"
      hx-trigger="load delay:1s"
      hx-swap="innerHTML"
      hx-target="#completed_documents_body"></tr>
  {% if swap %}
    {% include 'text_extractor/warn_dont_leave.html' %}
  {% endif %}
{% elif swap %}
  <div id="warn-dont-leave-page" hx-swap-oob="true" class="d-none"></div>
{% endif %}

{% if user_request_id %}
  <script>window.location.href = "{% url 'text_extractor:poll_tasks' user_request_id=user_request_id %}";</script>
{% endif %}
<script>
(function () {
  // If arriving at a page fragment via browser back-forward, refresh.
  // A page fragment will not have the #top-nav element
  let is_page_fragment = document.getElementById('top-nav') === null;
  if (performance.navigation.type === 2 && is_page_fragment) {
    location.reload();
  }
})();
</script>
