{% load i18n %}

{% for output_file in output_files %}
  {% if output_file.pdf_file %}
    {# This means the file is done and we can add the download links #}
    <tr>
      <td>
        {# column1: Document #}
        {{ output_file.file_name }}
      </td>
      <td>
        {# column2: Status #}
        {{ output_file.status }}
      </td>
      <td>
        {# column3: Cost #}
        {{ output_file.cost }}
      </td>
      <td>
        {# column4: Results #}
        <a href="{% url 'text_extractor:download_document' output_file.id 'pdf' %}"
           class="link-dark">
          <i class="bi bi-filetype-pdf me-1 h5" style="color: red"></i>
          (PDF, {{ output_document.pdf_size }})
        </a>
        <a href="{% url 'text_extractor:download_document' output_file.id 'txt' %}"
           class="link-dark">
          <i class="bi bi-filetype-txt me-1 h5" style="color: slategray"></i>
          (TXT, {{ output_document.txt_size }})
        </a>
      </td>
    </tr>
  {% else %}
    <tr>
      <td>
        {# column1: Document #}
        {{ output_file.file_name }}
      </td>
      <td>
        {# column2: Status #}
        {{ output_file.status }}
      </td>
      <td></td>
      <td></td>
    </tr>
  {% endif %}
{% endfor %}
{% if poll_url %}
  <tr class="d-none"
      id="poller"
      hx-get="{{ poll_url }}"
      hx-trigger="load delay:2s"
      hx-indicator="none"
      hx-swap="innerHTML"
      hx-target="#completed_documents_body"></tr>
{% endif %}
