{% load i18n %}

{% for output_file in output_files %}
  {% if output_file.pdf_file %}
    {# We know that the task is done if the file exists! #}
    <tr>
      <td>
        {# column1: Document#}
        {{ output_file.file_name }}
 
        <a href="{% url 'text_extractor:download_document' doc.pdf.file.id user_request_id %}"
           class="link-dark">
          <i class="bi bi-filetype-pdf me-1 h5" style="color: red"></i>
          (PDF, {{ output_document.pdf_size }})
        </a>
        <a href="{% url 'text_extractor:download_document' doc.txt.file.id user_request_id %}"
           class="link-dark">
          <i class="bi bi-filetype-txt me-1 h5" style="color: slategray"></i>
          (TXT, {{ output_document.txt_size }})
        </a>
      </td>
      <td>
        {# column2: Status #}
        {% trans "Done" %}
      </td>
      <td style="white-space: nowrap;">{{ output_document.cost }}</td>
    </tr>
  {% else %}
    <tr>
      <td>
        {# column1: Document #}
        {{ output_file.file_name }}
      </td>
      <td>
        {# column2: Status #}
        {% trans "Processing" %}
      </td>
      <td></td>
    </tr>
  {% endif %}
{% endfor %}
{% if poll_url %}
  <tr class="d-none"
      id="poller"
      hx-disinherit="*"
      hx-get="{{ poll_url }}"
      hx-trigger="every 2s"
      hx-ext="none"
      hx-swap="none"
      hx-swap-oob="true"></tr>
{% endif %}
