{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block page_title %}
  {% trans "Text extractor" %}
{% endblock %}

{% block breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item">
    <a href="{% url 'text_extractor:index' %}">{% trans "Text extractor" %}</a>
  </li>
{% endblock %}

{% block content_container %}
  <form method="post"
        enctype="multipart/form-data"
        hx-post="{% url 'text_extractor:submit_document' %}"
        hx-target="#completed_documents_body"
        hx-swap="beforeend"
        id="submit_document_form"
        hx-indicator="#spinner"
        onsubmit="document.getElementById('submit').disabled = true;">
    {% csrf_token %}
    <div class="container pt-5">
      <h2 class="h3 mb-4" id="upload-label">{% trans "Upload scanned PDFs or images" %}</h2>
      <div class="mb-4">
        <input class="form-control form-control"
               id="file-upload-field"
               name="file_upload"
               type="file"
               accept="{{ extensions }}"
               hx-trigger="change"
               hx-select="#submit"
               aria-labelledby="upload-label"
               multiple>
        <div class="form-check d-none mt-3" id="merge_documents">
          <input class="form-check-input border-secondary"
                 type="checkbox"
                 name="merge_docs_checkbox"
                 id="merge_docs_checkbox">
          <label class="form-check-label" for="merge_docs_checkbox">{% trans "Merge multiple files into one document" %}</label>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-auto">
          <button type="submit" class="btn btn-primary" id="submit" disabled="">{% trans "Submit" %}</button>
        </div>
        <div class="col" style="margin-top:2px;">
          <div class="spinner text-primary" role="status" id="spinner">
            <span class="visually-hidden">Loading...</span>
            <span class="spinner-border" aria-hidden="true"></span>
          </div>
        </div>
      </div>
    </form>

    <div id="error_message" role="alert"></div>
 
    <div class="mt-5 d-none"
         id="completed-documents"
         aria-live="polite"
         aria-atomic="true">
      <hr class="mb-5">
      <h2 class="h3">{% trans "Completed documents" %}</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">{% trans "Searchable PDF file" %}</th>
            <th scope="col">{% trans "Text file" %}</th>
            <th scope="col">{% trans "Cost" %}</th>
          </tr>
        </thead>
        <tbody id="completed_documents_body">
          {% include 'text_extractor/completed_documents.html' %}
        </tbody>
      </table>
    </div>
  </div>

  <script>
  

// event listener for when the documents are completed the spinner is hidden and file input is cleared
document.getElementById('completed_documents_body').addEventListener('htmx:afterSwap', function() {
  document.getElementById('file-upload-field').value = '';
  document.getElementById('merge_documents').classList.add('d-none');
  document.getElementById('completed-documents').classList.remove('d-none');
});

// event listener to enable submit button once files has been uploaded
document.getElementById('file-upload-field').addEventListener('change', function() {
  document.getElementById('submit').disabled = false;
  document.getElementById('merge_docs_checkbox').checked = false;
  
  // if more than one documents are uploaded show the merge documents checkbox
  if (this.files.length > 1) {
    document.getElementById('merge_documents').classList.remove('d-none');
  } else {
    document.getElementById('merge_documents').classList.add('d-none');
  }

  // make sure the error button is removed
  document.getElementById('error_message').classList.add('d-none');
});

  </script>
{% endblock %}
