{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block page_title %}
  {% trans "Text Extractor - Otto" %}
{% endblock %}

{% block page_css %}
  <link rel="stylesheet" href="{% static 'text_extractor/style.css' %}">
{% endblock %}

{% block content_container %}
  <div class="container py-3 px-0">
    <h2 class="my-2 px-4">
      <a href="{% url 'text_extractor:index' %}"
         class="text-decoration-none text-body">{% trans "Text Extractor" %}</a>
    </h2>
    <p class="mb-4 mx-4">{% trans "Extract text and handwriting from scanned PDF and images with AI-enabled OCR." %}</p>
    <div class="card">
      <div class="card-body p-4">
        <form method="post"
              enctype="multipart/form-data"
              hx-post="{% url 'text_extractor:submit_document' %}"
              hx-target="#completed_documents_body"
              hx-swap="innerHTML"
              id="submit_document_form"
              hx-indicator="#spinner"
              onsubmit="document.getElementById('submit').disabled = true;">
          {% csrf_token %}
          <h3 class="h4" id="upload-label">{% trans "Upload scanned PDFs or images" %}</h3>
          <p class="text-secondary mb-4">{% trans "Maximum 2000 files / 300MB total / 10MB each PDF file" %}</p>
          <div class="mb-4">
            <input class="form-control"
                   id="file-upload-field"
                   name="file_upload"
                   type="file"
                   accept="{{ extensions }}"
                   hx-trigger="change"
                   hx-select="#submit"
                   aria-labelledby="upload-label"
                   multiple>
          </div>
          <div class="row mb-1">
            <div class="col-auto">
              <button type="submit" class="btn btn-primary" id="submit" disabled="">{% trans "Submit" %}</button>
            </div>
            <div class="col" style="margin-top:2px;">
              <div class="spinner text-primary" role="status" id="spinner">
                <span class="visually-hidden">Loading...</span>
                <span class="spinner-border" aria-hidden="true"></span>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div id="error_message" role="alert"></div>

    <div id="completed-documents">
      {% if not show_output %}
        {# Initial warning message - cleared when form submitted #}
        {% include "text_extractor/ocr_warning.html" %}
      {% endif %}
      <div class="card mt-4 {% if not show_output %}d-none{% endif %}"
           aria-live="polite"
           aria-atomic="true">
        <div class="card-body p-4">
          <div>
            {# "Completed documents" also includes in-progress now that we're using celery #}
            <h3 class="h4 mb-3">{% trans "Output documents" %}</h3>
            {% if poll_url %}
              {% include 'text_extractor/warn_dont_leave.html' %}
            {% else %}
              <div id="warn-dont-leave-page" class="d-none"></div>
            {% endif %}
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" width="50%">{% trans "Document name" %}</th>
                  <th scope="col" width="20%">{% trans "Status" %}</th>
                  <th scope="col" width="10%">{% trans "Cost" %}</th>
                  <th scope="col" width="20%">
                    {% trans "Downloads" %}
                    <a class="ms-1 d-none fw-normal icon-link"
                       id="download-all-files"
                       type="button"
                       href="#"
                       onclick="downloadAllFiles();">
                      <i class="bi bi-download h5"></i>
                      {% trans "Download all files..." %}
                    </a>
                  </th>
                </tr>
              </thead>
              <tbody id="completed_documents_body">
                {% include 'text_extractor/completed_documents.html' %}
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
  <script>
function downloadAllFiles() {
  const downloadLinks = document.querySelectorAll('td a.icon-link');
  downloadLinks.forEach((link, index) => {
    setTimeout(() => {
      link.click();
    }, index * 100); // delay is necessary to download multiple files
  });
}
// event listener for when the documents are completed the spinner is hidden and file input is cleared
document.getElementById('completed_documents_body').addEventListener('htmx:afterSwap', function() {
  document.getElementById('file-upload-field').value = '';
  //document.getElementById('merge_documents').classList.add('d-none');
  document.getElementById('completed-documents').classList.remove('d-none');
});

// event listener to enable submit button once files has been uploaded
document.getElementById('file-upload-field').addEventListener('change', function() {
  document.getElementById('submit').disabled = false;
  //document.getElementById('merge_docs_checkbox').checked = false;
  
  // if more than one documents are uploaded show the merge documents checkbox
  //if (this.files.length > 1) {
  //  document.getElementById('merge_documents').classList.remove('d-none');
  //} else {
  //  document.getElementById('merge_documents').classList.add('d-none');
  //}

  // make sure the error button is removed
  document.getElementById('error_message').classList.add('d-none');
});
//document.getElementById('merge_docs_checkbox').addEventListener('change', function() {
//  const outputSizeOptions = document.getElementById('output-size-options');
//  if (this.checked) {
//    outputSizeOptions.classList.remove('d-none');
//  } else {
//    outputSizeOptions.classList.add('d-none');
//    // Optionally, reset to "small" when hiding
//    document.getElementById('output-size-small').checked = true;
//  }
//});

{% if not show_output %}
  setTimeout(() => {
    document.querySelector('#file-upload-field').focus();
  }, 100);
{% endif %}
  </script>
{% endblock %}
