{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block page_title %}
  {% trans "Case prep assistant" %}
{% endblock %}

{% block breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item">
    <a href="{% url 'case_prep:index' %}">{% trans "Case prep assistant" %}</a>
  </li>
{% endblock %}

{% block body_classes %}case_prep{% endblock %}

{% block page_css %}
  <link rel="stylesheet" href="{% static 'case_prep/style.css' %}">
{% endblock %}

{% block content_container %}

  <div id="case_prep-outer">
    <div class="container py-3 px-0">
 
      <!-- Warning Message -->
      <div class="alert alert-warning" role="alert">
        <strong>{% trans "Under Development" %}</strong>:
        {% trans "This tool is currently in development and may undergo substantial design changes. A preliminary feature, allowing for the consolidation of case files into a book of documents, is available as a minimum viable product (MVP). However, the overall vision for the tool is significantly broader." %}
        <a data-bs-toggle="collapse"
           href="#developmentDetails"
           role="button"
           aria-expanded="false"
           aria-controls="developmentDetails">{% trans "Expand for more details" %}</a>
      </div>
      <div class="collapse mb-4" id="developmentDetails">
        <div class="card card-body">
          <p>
            {% trans "The case prep assistant is an AI-powered tool designed to streamline and enhance case preparation for lawyers at Justice Canada. Its core purpose is to provide assistance in the task of organizing and analyzing case-related materials and legal research." %}
          </p>
          <p>
            {% trans "With the case prep assistant, lawyers can seamlessly compile a comprehensive book of documents by uploading and categorizing relevant files, exhibits, and records. The AI component then analyzes this data to automatically generate summaries, identify key facts and legal issues, and surface relevant case law and precedents. This intelligent assistance saves time and ensures a thorough understanding of each case's strengths and weaknesses. Additionally, Case prep facilitates collaboration by allowing lawyers to share case materials and discuss strategy within a secure environment." %}
          </p>
          <p>
            {% trans "The vision for this tool is currently under review and will need to go through the business intake process at Information Solutions Branch (ISB) to assess its position within the organization's overall strategies." %}
          </p>
        </div>
      </div>
 
      <h2 class="my-4">{% trans "Case prep assistant" %}</h2>

      <!-- Court information-->
      <div class="form-container-court">
        <div class="mb-3">
          <label for="court" class="form-label">{% trans "Court" %}</label>
          <select id="court" name="court" class="form-select">
            <option value="">{% trans "Select Court" %}</option>
            <option value="Tax Court">{% trans "Tax Court" %}</option>
            <option value="Federal Court">{% trans "Federal Court" %}</option>
            <option value="Provincial Court">{% trans "Provincial Court" %}</option>
            <option value="Supreme Court">{% trans "Supreme Court" %}</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="styleOfCause" class="form-label">{% trans "Style of Cause" %}</label>
          <input type="text"
                 id="styleOfCause"
                 name="styleOfCause"
                 class="form-control"
                 placeholder="{% trans 'Enter Style of Cause' %}">
        </div>
        <div class="mb-3">
          <label for="fileNumber" class="form-label">{% trans "File Number" %}</label>
          <input type="text"
                 id="fileNumber"
                 name="fileNumber"
                 class="form-control"
                 placeholder="{% trans 'Enter File Number' %}">
        </div>
        <div class="mb-3">
 
          <a href="{% url 'case_prep:create_session' %}"
             class="btn btn-primary mt-3">{% trans "Create Session" %}</a>

          <a href="" class="btn btn-primary mt-3">{% trans "Add Header" %}</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
