{% load i18n %}

<div id="libraryModalPoller"></div>
<div class="modal fade modal-xl"
     id="editLibrariesModal"
     data-chat-id="{{ chat.id }}"
     tabindex="-1"
     aria-labelledby="editLibrariesModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title w-100" id="editLibrariesModalLabel">{% trans "View libraries" %}</h5>
        <div id="librarian-modal-spinner"
             class="spinner text-primary"
             style="margin-bottom: -7px;
                    margin-top: -4px">
          <span class="spinner-border" aria-hidden="true"></span>
          <span class="visually-hidden" role="status">{% trans "Loading" %}</span>
        </div>
        {# Librarian upload form is swapped OOB when modal loaded #}
        <div id="librarian-upload-message" class="d-none"></div>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="{% trans 'Close' %}"></button>
      </div>
      <div id="editLibrariesInner"></div>
    </div>
  </div>
</div>
