{% load i18n %}

<div class="modal-body"
     hx-target="#editLibrariesInner"
     hx-ext="morph"
     hx-swap="morph:innerHTML"
     hx-indicator="#librarian-modal-spinner"
     data-current-url="{{ refresh_url }}">
  <div class="row librarian-modal-grid">
    <div class="col-2 border-end">{% include "librarian/components/library_list.html" %}</div>
    <div class="col-2 border-end">{% include "librarian/components/data_source_list.html" %}</div>
    <div class="col-3 border-end">{% include "librarian/components/document_list.html" %}</div>
    <div class="col-5">{% include "librarian/components/edit_details.html" %}</div>
  </div>
</div>

{% include "librarian/components/poller.html" %}
{% if selected_data_source and selected_data_source.id and not selected_data_source.is_chat_folder %}
  {% include "librarian/components/upload_form.html" %}
{% endif %}
