{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet"
          href="{% static 'thirdparty/css/bootstrap.min.css' %}" />
    <link rel="icon" type="image/x-icon" href="{% static 'otto-icon.png' %}" />
    <title>
      {% block page_title %}Otto{% endblock %}
    </title>
  </head>
  <body style="height: 100vh;">
    <main class="h-100 d-flex flex-column justify-content-center align-items-center">
      {% block body %}{% endblock %}
    </main>
  </body>
</html>
