{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block page_css %}
  <style>
  body {
    background: var(--bs-light);
    min-height: 100vh;
  }
  </style>
{% endblock %}

{% block body %}

  <h1 class="text-center display-3 fw-semibold">
    <img src="{% static 'otto-logo.png' %}"
         class="d-inline-block align-top"
         width="108"
         height="auto"
         id="otto-logo"
         alt="Smiling robot wearing Justice logo">
    <br>
    Otto
  </h1>
  <div class="lead fw-medium text-center">
    <p>{% trans "Empowering Justice efficiency with data and AI" %}</p>
  </div>

  <div class="my-5 alert alert-warning d-flex align-items-center"
       role="alert">
    <svg class="flex-shrink-0 bi me-2"
         width="24"
         height="24"
         role="img"
         aria-label="{% trans 'Warning:' %}">
      <use xlink:href="#exclamation-triangle-fill" />
    </svg>
    <div class="px-3">
      {% trans "Otto is in preview stage and is not intended to be used in legal proceedings. It is being evaluated by a select group of users at Department of Justice to assess potential risks and improve its safe use. Otto should not replace the advice of a qualified legal professional." %}
    </div>
  </div>

  <div id="app-list"
       class="{% if 'prod' in otto_version %}cols-2{% endif %}">
    {% for category in categorized_features %}
      <div class="app-category">
        <h2 class="fw-light h4 mb-3">{{ category.category_title }}</h2>
        {% for feature in category.features %}
          {% include 'components/feature_tile.html' %}
        {% endfor %}
        <div class="app-list-spacer mb-4"></div>
      </div>
    {% endfor %}
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const searchElement = document.querySelector('#top-nav-search');
      const logoElement = document.querySelector('#otto-logo');
      if (searchElement && logoElement) {
        searchElement.addEventListener('focusin', function() {
          logoElement.style.transform = 'translateY(26px)';
        });

        searchElement.addEventListener('mouseover', function() {
          logoElement.style.transform = 'translateY(26px)';
        });

        logoElement.addEventListener('mouseover', function() {
          logoElement.style.transform = 'translateY(26px)';
        });
        
      }
    });
  </script>

{% endblock %}
