{% extends 'base.html' %}
{% load i18n %}
{% load filters %}
{% load autocomplete %}
{% load static %}

{% block breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item">
    <a href="{{ request.path }}">{% trans "Manage users" %}</a>
  </li>
{% endblock %}

{% block page_css %}
  <link rel="stylesheet"
        type="text/css"
        href="{% static 'thirdparty/css/datatables.min.css' %}">
{% endblock %}

{% block page_title %}
  {% trans "Manage users - Otto" %}
{% endblock %}

{% block content_container %}
  <div id="manage-users-outer">
    <div class="container py-3 px-0">
      <h2 class="mb-3 mt-2">{% trans "Manage users" %}</h2>

      <div class="d-flex flex-column flex-xl-row mb-3 justify-content-xl-between align-items-xl-center">
        <div class="mb-3 mb-xl-0" style="font-weight: 600">{% trans "Only displaying users with roles assigned." %}</div>
        <div class="d-flex">
          <a href="{% url 'download_users' %}" class="btn btn-secondary me-1">{% trans "Download CSV" %}</a>
          <button type="button"
                  class="btn btn-secondary me-3"
                  data-bs-toggle="modal"
                  data-bs-target="#bulkUploadModal">{% trans "Upload CSV" %}</button>
          <a href="{% url 'cost_dashboard' %}" class="btn btn-secondary me-1">{% trans "Cost dashboard" %}</a>
          <a href="{% url 'manage_pilots' %}" class="btn btn-secondary me-1">{% trans "Manage pilots" %}</a>
          <a href="{% url 'blocked_urls' %}" class="btn btn-secondary me-3">{% trans "Blocked URLs" %}</a>
          <button type="button"
                  class="btn btn-primary"
                  hx-get="{% url 'manage_users_form' %}"
                  hx-target="#user-roles-form"
                  hx-indicator="#modal-spinner"
                  onclick="document.getElementById('user-roles-form').innerHTML='';"
                  data-bs-toggle="modal"
                  data-bs-target="#addUserModal">{% trans "Modify/add users" %}</button>
        </div>
      </div>
 
      <!-- Bootstrap table of users -->
      <div class="table-responsive">
        <table class="table table-striped" id="users">
          <thead>
            <tr>
              {# <th>{% trans "Name" %}</th> #}
              <th>{% trans "UPN" %}</th>
              <th>{% trans "Last login" %}</th>
              <th>{% trans "Costs" %}</th>
              <th>{% trans "Roles" %}</th>
              <th>{% trans "Pilot" %}</th>
              <th>{% trans "Manage" %}</th>
            </tr>
          </thead>
          <tbody>
            {% for u in users %}
              <tr>
                {# <th>{{ u.lastname_firstname }}</th> #}
                <th>{{ u.upn }}</th>
                <td>
                  {% comment %}ISO date is for sorting to work properly{% endcomment %}
                  <span class="d-none">{{ u.last_login|iso_date }}</span>
                  {% if u.last_login %}
                    {{ u.last_login }}
                  {% else %}
                    -
                  {% endif %}
                </td>
                <td>${{ u.total_cost }}</td>
                <td>
                  {% for role in u.roles %}
                    {% if role.name == "Otto admin" %}
                      <span class="badge bg-danger me-1">{{ role.name }}</span>
                    {% else %}
                      <span class="badge bg-secondary me-1">{{ role.name }}</span>
                    {% endif %}
                  {% endfor %}
                </td>
                <td>
                  {% if u.pilot %}<span class="badge bg-success">{{ u.pilot.name }}</span>{% endif %}
                </td>
                <td style="max-width:100px;">
                  <a href="#"
                     hx-get="{% url 'manage_users_form' u.id %}"
                     hx-target="#user-roles-form"
                     hx-indicator="#modal-spinner"
                     onclick="document.getElementById('user-roles-form').innerHTML='';"
                     data-bs-toggle="modal"
                     data-bs-target="#addUserModal">{% trans "Edit user" %}</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script>
    function checkUserKeydown(event) {
      return event instanceof KeyboardEvent
    }
  </script>
  <!-- Bootstrap modal for adding users -->
  <div class="modal fade modal-xl"
       id="bulkUploadModal"
       tabindex="-1"
       aria-labelledby="bulkUploadModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title h5" id="bulkUploadModalLabel">{% trans "Bulk upload user roles" %}</h1>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="{% trans 'Close' %}"></button>
        </div>
        <form action="{% url 'upload_users' %}"
              method="post"
              enctype="multipart/form-data">
          {% csrf_token %}
          <div class="modal-body">
            <div class="mb-3">
              <label for="csv_file" class="form-label">{% trans "Select CSV file" %}</label>
              <input type="file"
                     class="form-control mb-2"
                     id="csv_file"
                     name="csv_file"
                     accept=".csv">
              <button type="submit" class="btn btn-primary">{% trans "Upload" %}</button>
            </div>
            <hr>
            <div class="mb-3">
              <h2 class="h6">{% trans "Expected format and behaviour" %}</h2>
              <table class="table table-border">
                <tr>
                  <th>upn</th>
                  <th>pilot</th>
                  <th>roles</th>
                </tr>
                <tr>
                  <td>Givenname.Surname@justice.gc.ca</td>
                  <td>pilot_id</td>
                  <td>role1|role2</td>
                </tr>
                <tr>
                  <td>Admin.User@justice.gc.ca</td>
                  <td></td>
                  <td>Otto user</td>
                </tr>
                <tr>
                  <td>ApprovedApps.User@justice.gc.ca</td>
                  <td>lsb_drafting</td>
                  <td>AI Assistant user|Template Wizard user|Legislation Search user</td>
                </tr>
              </table>
              <p>{% trans "The file must be in English as shown above." %}</p>
              <p>
                {% trans "The upn column must match the Azure Active Directory (Entra) userPrincipalName property. This is usually the user's Justice email, and is case-sensitive." %}
              </p>
              <p>{% trans "Roles are case-insensitive. Invalid roles will be ignored. These are the valid roles:" %}</p>
              <ul>
                {% for role in roles %}<li>{{ role.name }}</li>{% endfor %}
              </ul>
              <p>
                {% trans "Users which do not currently exist in Otto will be created. Users which do exist will have their roles updated to match the CSV file. i.e. the user's roles which are not in the CSV will be removed." %}
              </p>
              <p>
                {% trans "Any pilot_id that does not exist will be created, then the user will be associated with it. The pilot_id is optional." %}
              </p>
              <p>
                {% trans "If the user does not exist, their first name, last name and email will be extrapolated from the UPN. These properties will be updated when the user next logs in with Entra." %}
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap modal for adding users -->
  <div class="modal fade"
       id="addUserModal"
       tabindex="-1"
       aria-labelledby="addUserModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title h5" id="addUserModalLabel">{% trans "Modify user(s)" %}</h1>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="{% trans 'Close' %}"></button>
        </div>
        <div id="modal-spinner" class="spinner container text-primary pt-3">
          <span class="spinner-border" aria-hidden="true"></span>
          <span class="visually-hidden" role="status">Loading...</span>
        </div>
        <form action="{{ request.path }}" method="post">
          {% csrf_token %}
          <div id="user-roles-form"></div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block page_script %}
  <script src="{% static 'thirdparty/jquery3.7.1.min.js' %}"
          crossorigin="anonymous"></script>
  <script src="{% static 'thirdparty/datatables.min.js' %}"></script>
  <script>
  $(document).ready(function() {
    let dataTableConfig = {
      "paginate": false,
    };
    $('#users').DataTable(dataTableConfig);
  });
  </script>
{% endblock %}
