{% extends 'base.html' %}
{% load i18n %}
{% load filters %}
{% load autocomplete %}
{% load static %}

{% block breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item">
    <a href="{% url 'manage_users' %}">{% trans "Manage users" %}</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{% url 'manage_cost_groups' %}">{% trans "Manage cost groups" %}</a>
  </li>
{% endblock %}

{% block page_css %}
  <link rel="stylesheet"
        type="text/css"
        href="{% static 'thirdparty/css/datatables.bundle-2.3.4.min.css' %}">
{% endblock %}

{% block page_title %}
  {% trans "Manage cost groups - Otto" %}
{% endblock %}

{% block content_container %}
  <div id="manage-cost-groups-outer">
    <div class="container py-3 px-0">
      <h2 class="mb-3 mt-2">{% trans "Manage cost groups" %}</h2>

      <div class="row">
        <div class="col">
          <button type="button"
                  class="btn btn-primary"
                  hx-get="{% url 'manage_cost_groups_form' %}"
                  hx-target="#cost_group-form"
                  hx-swap="innerHTML"
                  hx-indicator="#modal-spinner"
                  onclick="document.getElementById('cost_group-form').innerHTML='';"
                  data-bs-toggle="modal"
                  data-bs-target="#cost_group-modal">{% trans "Add cost group" %}</button>
        </div>
      </div>

      <!-- Bootstrap table of cost groups -->
      <div class="table-responsive">
        <table class="table table-striped" id="cost_groups">
          <thead>
            <tr>
              <th>{% trans "Cost Group ID" %}</th>
              <th>{% trans "Name" %}</th>
              <th>{% trans "LEX file number" %}</th>
              <th>{% trans "Date created" %}</th>
              <th>{% trans "Monthly max" %}</th>
              <th>{% trans "Active?" %}</th>
              <th>{% trans "Authorized users" %}</th>
              <th>{% trans "Cost" %}</th>
              <th>{% trans "Edit" %}</th>
            </tr>
          </thead>
          <tbody>
            {% for p in cost_groups %}
              <tr>
                <td>{{ p.cost_group_id }}</td>
                <th>{{ p.name }}</th>
                <td>{{ p.lex_file_number }}</td>
                <td>{{ p.date_created|date:"Y-m-d" }}</td>
                <td>${{ p.monthly_max }}</td>
                <td>{{ p.active|yesno:"Yes,No" }}</td>
                <td>{{ p.users.count }}</td>
                <td>{{ p.total_cost }}</td>
                <td style="max-width:100px;">
                  <a href="#"
                     hx-get="{% url 'manage_cost_groups_form' p.id %}"
                     hx-target="#cost_group-form"
                     hx-swap="innerHTML"
                     hx-indicator="#modal-spinner"
                     onclick="document.getElementById('cost_group-form').innerHTML='';"
                     data-bs-toggle="modal"
                     data-bs-target="#cost_group-modal">{% trans "Edit" %}</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script>
    function checkUserKeydown(event) {
      return event instanceof KeyboardEvent
    }
  </script>

  <!-- Bootstrap modal for adding users -->
  <div class="modal modal-lg fade"
       id="cost_group-modal"
       tabindex="-1"
       aria-labelledby="cost_group-modal-label"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title h5" id="cost_group-modal-label">{% trans "Add/edit cost group" %}</h1>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="{% trans 'Close' %}"></button>
        </div>
        <div id="modal-spinner" class="spinner container text-primary pt-3">
          <span class="spinner-border" aria-hidden="true"></span>
          <span class="visually-hidden" role="status">Loading...</span>
        </div>
        {# Re-enable any disabled elements onsubmit #}
        <form action="{{ request.path }}"
              method="post"
              onsubmit="this.querySelectorAll('[disabled]').forEach(e => e.disabled = false);">
          {% csrf_token %}
          <div id="cost_group-form"></div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block page_script %}
  <script src="{% static 'thirdparty/jquery3.7.1.min.js' %}"
          crossorigin="anonymous"></script>
  <script src="{% static 'thirdparty/datatables.bundle-2.3.4.min.js' %}"></script>
  <script>
  $(document).ready(function() {
    let dataTableConfig = {
      "paginate": false,
    };
    $('#cost_groups').DataTable(dataTableConfig);
  });
  </script>
{% endblock %}
