# General ----------------------------------------------------------------------
pydantic==2.8.2

# Django -----------------------------------------------------------------------
Django==5.1
django-storages==1.14.4
python-dotenv==1.0.1
# Jinja2==3.1.4
whitenoise==6.7.0
channels==4.1.0
daphne==4.1.2
django-modeltranslation==0.18.11
django-prometheus==2.3.1
polib==1.2.0
django-cors-headers==4.4.0
django-htmx-autocomplete==0.8.4
rules==3.4
django-cleanup==8.1.0
django-azure-auth==2.0.0
gevent==24.2.1
django-data-fetcher==2.2

# Logging ----------------------------------------------------------------------
django-structlog[celery,commands]==8.1.0

# Database ---------------------------------------------------------------------
psycopg2-binary==2.9.9
asyncpg==0.29.0

# Azure / auth -----------------------------------------------------------------
azure-core==1.30.1
azure-identity==1.16.0
azure-keyvault==4.2.0
azure-ai-formrecognizer==3.3.3
azure-ai-translation-document==1.0.0
azure-storage-blob==12.22.0
msgraph-sdk==1.5.3

# LLM-related ------------------------------------------------------------------
openai==1.43.0
llama-index-core==0.11.6
llama-index-llms-azure-openai==0.2.1
llama-index-vector-stores-postgres==0.2.1
llama-index-llms-openai==0.2.16
llama-index-embeddings-azure-openai==0.2.5
langchain-core==0.2.38
langchain-openai==0.1.23
langchain-community==0.2.16
tiktoken==0.7.0

# Document extraction ----------------------------------------------------------
beautifulsoup4==4.12.3
markdownify==0.13.1
Markdown==3.6
bleach==6.1.0
newspaper3k==0.2.8
pypdfium2==4.30.0
filetype==1.2.0
docxtpl==0.16.8
html2docx==1.6.0
mammoth==1.7.1
python-pptx==0.6.23
python-docx==1.1.2

# NLP (non-LLM) ----------------------------------------------------------------
langdetect==1.0.9
lxml==4.9.2

# Data science -----------------------------------------------------------------
pandas==2.2.2
shapely==2.0.3
pdf2image==1.17.0
pillow==10.4.0
pypdf==4.3.1
reportlab==4.2.0
PyPDF2==3.0.1 
pyreadstat==1.2.7
openpyxl==3.1.2

# Redis/Celery -----------------------------------------------------------------
celery==5.5.0rc1
redis==5.0.8
django-redis==5.4.0
django-celery-beat==2.7.0
