{% extends "template_wizard/select_data.html" %}
{% load static %}
{% load i18n %}

{% block wizard_controls %}
  <form method="post" enctype="multipart/form-data" id="data-form">
    {% csrf_token %}
    <div class="container">
      <div id="data-selection-section" class="mb-5">
        <div id="data-source-selection" class="mb-3">
          <label for="data-source" class="form-label">{% trans 'Choose a data source' %}</label>
          <select class="form-select" id="data-source" name="data_source">
            <option value="" selected disabled>{% trans 'Please select' %}</option>
            <option value="canlii">{% trans 'Canlii URL' %}</option>
            <option value="file">{% trans 'Upload File' %}</option>
          </select>
        </div>

        <div id="url-input-container"
             class="input-container mb-3"
             style="display: none">
          <label for="url-input" class="form-label">{% trans 'Please provide a Canlii URL' %}</label>
          <input type="text"
                 class="form-control"
                 name="url_input"
                 id="url-input"
                 placeholder="{% trans 'Enter Canlii URL here' %}">
          <!-- Removed the Add button, as the form submission will handle adding the data -->
        </div>

        <div id="file-upload-container"
             class="input-container mb-3"
             style="display: none">
          <label for="file-upload-field" class="form-label">{% trans 'Please upload a file' %}</label>
          <input type="file"
                 class="form-control"
                 name="file_upload"
                 id="file-upload-field"
                 accept=".pdf,.doc,.docx,.ppt,.pptx,.txt"
                 multiple>
          <!-- Removed the Add button, as the form submission will handle adding the data -->
        </div>
      </div>
      <div class="mt-3 col-md-9">
        <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
      </div>

      <!-- Place this inside your <div class="container">, below the form -->
      <div id="submitted-data" class="mt-5">
        <h2>{% trans 'Submitted Data' %}</h2>
        <table class="table">
          <thead>
            <tr>
              <!-- The 'Action' column is commented out since I cant get the Remove button to work -->
              <th scope="col">{% trans 'Type' %}</th>
              <th scope="col">{% trans 'Data' %}</th>
              <!-- <th scope="col">{% trans 'Action' %}</th> -->
            </tr>
          </thead>
          <tbody id="submitted-items" aria-live="polite">
            <tr class="p-2" id="no-data">
              <td class="text-center" colspan="2">
                <em>{% trans "No data has been submitted yet." %}</em>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>

  {% block page_script %}
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        const dataSourceSelect = document.getElementById('data-source');
        const urlInputContainer = document.getElementById('url-input-container');
        const fileUploadContainer = document.getElementById('file-upload-container');
        const submittedItemsContainer = document.getElementById('submitted-items');
        const generatedReportId = "{{ report.id }}"; // Make sure this is correctly populated.

        dataSourceSelect.addEventListener('change', function() {
          urlInputContainer.style.display = this.value === 'canlii' ? 'block' : 'none';
          fileUploadContainer.style.display = this.value === 'file' ? 'block' : 'none';
        });

        const form = document.getElementById('data-form');
        form.addEventListener('submit', function(event) {
          event.preventDefault();
          let formData = new FormData(this);

          // Conditionally handle URL input.
          let url = formData.get('url_input');
          if (url.trim() !== '') { // Check if URL is not just whitespace
            addSubmittedItem('URL', url);
          }

          // Handle file inputs.
          let files = formData.getAll('file_upload');
          if (files.length > 0) {
            files.forEach(file => {
              if (file.name.trim() !== '') { // Check if file name is not just whitespace
                addSubmittedItem('File', file.name);
              }
            });
          }

          // Optionally reset specific parts of the form here if needed
          document.getElementById('url-input').value = ''; // Reset URL input
          document.getElementById('file-upload-field').value = ''; // Reset file input
          dataSourceSelect.value = ""; // Reset the data source selection
          urlInputContainer.style.display = 'none';
          fileUploadContainer.style.display = 'none';


          // Perform the AJAX request
          // TODO: review why fetch api is being used instead of htmx
          fetch("{% url 'template_wizard:canlii_wizard_add_report_data' report.id %}", {
            method: 'POST',
            body: formData,
            headers: {
              // CSRF token is needed for Django to accept the POST request
              'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
            },
            credentials: 'same-origin', // Include cookies in the request
          })

        });

        function addSubmittedItem(type, data) {
          noData = document.getElementById('no-data')
          if (noData) {
            submittedItemsContainer.removeChild(noData)
          }
          let row = document.createElement('tr');
          let itemCount = submittedItemsContainer.children.length;
          // TO DO get the remove button to work
          // row.innerHTML = `
          //   <td>${type}</td>
          //   <td>${data}</td>
          //   <td><button type="button" class="btn btn-danger remove-item" data-index="${itemCount}">Remove</button></td>
          // `;
          row.innerHTML = `
            <td>${type}</td>
            <td>${data}</td> `;
          submittedItemsContainer.appendChild(row);
        }

        // CURRENTLY NOT IN USE! This section is to get the remove button to delete accidentally submitted data. Doesnt work currently
        submittedItemsContainer.addEventListener('click', function(event) {
          if (event.target.classList.contains('remove-item')) {
            const itemIndex = event.target.getAttribute('data-index');
            fetch(`template_wizard:delete-report-data-item report.id ${itemIndex} %`, {
              method: 'DELETE',
              headers: {'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value},
            }).then(response => {
              if (response.ok) {
                event.target.closest('tr').remove();
              }
            }).catch(error => console.error('Error:', error));
          }
        });
      });
    </script>
  {% endblock %}

 
{% endblock %}
