{% extends "template_wizard/wizard.html" %}
{% load i18n %}
{% load static %}

{% block step_content %}

    <!-- Add controls here -->
    {% block wizard_controls %}{% endblock %}

    <!-- Form to submit selected template -->
    <form id="templateForm" method="post">
        {% csrf_token %}

        <!-- Add a button to proceed to the next step -->
        <div class="row mt-4 text-end">
            <div class="col-md-12">
                <button type="submit" id="nextButton" class="btn btn-success">{% trans "Next: Generate report" %}</button>
            </div>
        </div>
    </form>

    <script>
        // Prevent the #nextButton from submitting the form if no files are selected
        // We can check if this is the case if the text of button "#selectedCasesButton" includes "(0)"
        document.getElementById('nextButton').addEventListener('click', function (event) {
            if (document.getElementById('selectedCasesButton').textContent.includes('(0)')) {
                event.preventDefault();
                alert('Please select at least one case file to proceed.');
            }
        });

    </script>
{% endblock %}
