{% extends 'template_wizard/_wizard_main_layout.html' %}
{% load i18n %}
{% load static %}

{% block wizard_page_css %}
  <link rel="stylesheet" href="{% static 'template_wizard/style.css' %}">
{% endblock %}

{% block wizard_content_header %}
  <div id="spinner"
       class="spinner container text-primary position-absolute top-0 end-0">
    <span class="spinner-border" aria-hidden="true"></span>
    <span class="visually-hidden" role="status">{% trans "Loading" %}</span>
  </div>
  <h2 class="mb-2 px-4 mt-2">
    <a href="{% url 'template_wizard:index' %}"
       class="text-decoration-none text-body">{% trans "Template Wizard" %}</a>
  </h2>
  <p class="mx-4 mb-4">
    {% trans "Create or select a template to fill in with information from uploaded documents or URLs." %}
  </p>
{% endblock %}

{% block wizard_tabs %}
  {% include "template_wizard/_use_template_tabs.html" with wizard_step="select_template" %}
{% endblock %}

{% block wizard_step_content %}
  <div class="tab-pane fade show active p-3 border rounded">
    {% include "template_wizard/template_list/select_template.html" %}
  </div>
{% endblock %}

{% block wizard_page_script %}{% endblock %}
