{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block page_title %}
    {% trans "Template wizard" %}
{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item">
        <a href="{% url 'template_wizard:index' %}">{% trans "Template wizard" %}</a>
    </li>
{% endblock %}

{% block body_classes %}wizard{% endblock %}

{% block page_css %}
    <link rel="stylesheet" href="{% static 'template_wizard/style.css' %}">
{% endblock %}

{% block content_container %}
    <div id="wizard-outer">
        <div class="container py-3 px-0">

            <h2 class="mb-4 px-4 mt-2">
                {% if wizard_name %}
                    {% trans "Template wizard" %}{% trans ":" %} {{ wizard_name }}
                {% else %}
                    {% trans "Template wizard" %}
                {% endif %}
            </h2>

            <ul class="nav nav-tabs px-3 border-bottom-0">
                <li class="nav-item">
                    <a class="nav-link text-black{% if active_step == 1 %} active fw-semibold{% endif %}"
                       href="{% url 'template_wizard:index' %}">{% trans "Step 1: Get started" %}</a>
                </li>
                <li class="nav-item">
                    {% if active_step < 2 %}
                        <span class="nav-link disabled">{% trans "Step 2: Select data" %}</span>
                    {% else %}
                        <a class="nav-link text-black{% if active_step == 2 %} active fw-semibold{% endif %}"
                           {% if report %}href="{% url 'template_wizard:select_data' report.id %}"{% endif %}>
                            {% trans "Step 2: Select data" %}
                        </a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    {% if active_step < 3 %}
                        <span class="nav-link disabled">{% trans "Step 3: Generate report" %}</span>
                    {% else %}
                        <a class="nav-link text-black{% if active_step == 3 %} active fw-semibold{% endif %}"
                           {% if report %}href="{% url 'template_wizard:pick_template' report.id %}"{% endif %}>
                            {% trans "Step 3: Generate report" %}
                        </a>
                    {% endif %}
                </li>
            </ul>
 
            <div id="step-content" class="bg-white">
                <div class="tab-pane fade show active p-4 border rounded">
                    {% block step_content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'template_wizard/script.js' %}"></script>
{% endblock %}
