{% load i18n %}
<div id="modal"
     class="modal modal-blur fade"
     style="display: none"
     aria-hidden="false"
     tabindex="-1"
     hx-target="#modal-body"
     title="{% trans 'Feedback' %}">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- Title -->
        <h1 class="modal-title fs-5">{% trans "Feedback" %}</h1>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label='{% trans "Close" %}'></button>
      </div>
      <div id="feedback-modal-body"></div>
    </div>
  </div>
</div>
