{% load i18n %}

<li class="nav-item">
  <button id="feedback-icon"
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#modal"
          hx-get="{% url 'user_feedback' %}"
          hx-trigger="click"
          hx-target="#feedback-modal-body"
          hx-swap="innerHTML"
          onclick="this.blur();"
          class="btn btn-dark text-muted px-1 ms-1"
          title="{% trans 'Leave feedback' %}">
    <i class="bi bi-chat-square-text"></i>
  </button>
</li>
